<div class="page page-tables-bootstrap">
    <div class="pageheader">
        <h2>{{ 'Menu.EMAILTEMPLATE' | translate  }} </h2>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li> <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a></li>
                <li><a ui-sref="app.emailtemplate.list">{{ 'SubMenu.EMAILTEMPLATE_LIST' | translate  }}</a></li>
                <li><a href="javascript:;">{{ EETC.breadcrumb | translate }}</a></li>
            </ul>
        </div>
    </div>

    <div class="pagecontent">
        <div class="row">
            <div class="col-md-12">
                <section class="tile">
                    <div class="tile-body">
                        <form class="profile-settings" submit-validate name="emailtemplate" novalidate>
                            <div class="form-group" ng-class="{ 'has-error' : emailtemplate.name.$invalid && !emailtemplate.name.$pristine || emailtemplate.name.$invalid && submitted, 'has-success' : emailtemplate.name.$valid && !emailtemplate.name.$pristine || emailtemplate.name.$valid && submitted}">
                                <label for="name">Template Name</label>
                                <input type="text" name="name" class="form-control" ng-model="EETC.templateData.name" id="name" on-blur-validation required>
                                <p class="help-block">
                                    <span ng-show="emailtemplate.name.$invalid && !emailtemplate.name.$pristine || emailtemplate.name.$invalid && submitted">Template Name is required.</span>
                                </p>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : emailtemplate.emailsubject.$invalid && !emailtemplate.emailsubject.$pristine || emailtemplate.emailsubject.$invalid && submitted, 'has-success' : emailtemplate.emailsubject.$valid && !emailtemplate.emailsubject.$pristine || emailtemplate.emailsubject.$valid && submitted}">
                                <label for="emailsubject">Email Subject</label>
                                <input type="text" name="emailsubject" class="form-control" ng-model="EETC.templateData.email_subject" on-blur-validation
                                    id="emailsubject" required>
                                <p class="help-block">
                                    <span ng-show="emailtemplate.emailsubject.$invalid && !emailtemplate.emailsubject.$pristine || emailtemplate.emailsubject.$invalid && submitted">Email Subject is required.</span>
                                </p>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : emailtemplate.sendername.$invalid && !emailtemplate.sendername.$pristine || emailtemplate.sendername.$invalid && submitted, 'has-success' : emailtemplate.sendername.$valid && !emailtemplate.sendername.$pristine || emailtemplate.sendername.$valid && submitted}">
                                <label for="sendername">Sender Name</label>
                                <input type="text" name="sendername" class="form-control" ng-model="EETC.templateData.sender_name" on-blur-validation id="sendername"
                                    required>
                                <p class="help-block">
                                    <span ng-show="emailtemplate.sendername.$invalid && !emailtemplate.sendername.$pristine || emailtemplate.sendername.$invalid && submitted">Sender Name is required.</span>
                                </p>
                            </div>
                            <div class="tile-widget p-20 cash-opt">
                                <label for="maximum">Subscription Mail Options </label>
                                <br>
                                <label class="switch">
                                <!-- <input class="switch-input" type="checkbox" ng-model="GSC.cashStatus"  ng-init="GSC.cashStatus = GSC.cashStatus || 0" ng-change="GSC.cashStatusChange(GSC.cashStatus)" /> -->
                                  <input class="switch-input" type="checkbox" ng-model="EETC.templateData.subscription"  ng-init="EETC.templateData.subscription = EETC.templateData.subscription || 0" />
                                  <span class="switch-label"></span>
                                  <span class="switch-handle"></span>
                                </label>
                            </div>
                            <!-- <div class="form-group" >
                                <label for="subscripe">Subscription Mail</label>{{EETC.templateData.subscription}}
                                <input type="checkbox" name="subscription"  ng-model="EETC.templateData.subscription" ng-init="EETC.templateData.subscription = EETC.templateData.subscription || 0">
                            </div> -->
                            <!-- <input type="checkbox" name="subscription"  ng-model="EETC.templateData.subscription" ng-checked="EETC.templateData.subscription == '0'"> -->
                            <div class="form-group" ng-class="{ 'has-error' : emailtemplate.senderemail.$invalid && !emailtemplate.senderemail.$pristine || emailtemplate.senderemail.$invalid && submitted, 'has-success' : emailtemplate.senderemail.$valid && !emailtemplate.senderemail.$pristine || emailtemplate.senderemail.$valid && submitted}">
                                <label for="senderemail">Sender Email Address</label>
                                <input type="text" name="senderemail" class="form-control" ng-model="EETC.templateData.sender_email" on-blur-validation id="senderemail"
                                    required>
                                <p class="help-block">
                                    <span ng-show="emailtemplate.senderemail.$invalid && !emailtemplate.senderemail.$pristine || emailtemplate.senderemail.$invalid && submitted">Sender Email Address is required.</span>
                                </p>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : emailtemplate.emailcontent.$invalid && !emailtemplate.emailcontent.$pristine || emailtemplate.emailcontent.$invalid && submitted, 'has-success' : emailtemplate.emailcontent.$valid && !emailtemplate.emailcontent.$pristine || emailtemplate.emailcontent.$valid && submitted}">
                                <label for="emailcontent">Email Content</label>
                                <textarea name="emailcontent" required ui-tinymce="tinymceOptions" ng-model="EETC.templateData.email_content" on-blur-validation></textarea>
                                <p class="help-block">
                                    <span ng-show="emailtemplate.emailcontent.$invalid && !emailtemplate.emailcontent.$pristine || emailtemplate.emailcontent.$invalid && submitted">Email Content is required.</span>
                                </p>
                            </div>
                            <div class="tile-footer text-right bg-tr-black lter dvd dvd-top">
                                <button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c mb-10" ng-click="EETC.submitTemplateEditData(emailtemplate.$valid,EETC.templateData)">Submit<i class="fa fa-arrow-right"></i></button>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>


<style>
    .switch-label {
        position: relative;
        display: block;
        height: inherit;
        font-size: 10px;
        text-transform: uppercase;
        background: #a70b21;
        border-radius: inherit;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
    }
</style>
