<div class="bgcontainer post_step_last erroe-pge" style="background: url(/app/site/public/images/bg-404.jpg) no-repeat 0px;">
    <span class="opacot"></span>
    <div class="cont-holder">
        <div class="splcontainer">
            <div class="images-lom">
                <a href="\"><img src="{{rc.getsetting.logo}}" height="30" width="175"></a>
            </div>
            <div class="leftside error-content">
                <div class="col-md-7 intro-text">
                    <div class="main">
                        <span class="error-img"><img src="app/site/public/images/404.png" alt="404 icon"></span>
                        <h1> {{'PAGE NOT FOUND' | translate}}</h1>
                        <p>{{'PAGE NOT FOUND CONTENT' | translate}}.</p>
                        <span class="page-scroll">
                          <a class="btn slide-btn bg-inverse" href="\">{{'BACK TO HOME' | translate}}</a>
                      </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>