<section ng-include="'app/site/modules/common/views/header.html'" id="header"></section>

<section ui-view id="content" autoscroll="false"></section>

<section ng-include="'app/site/modules/common/views/footer.html'" ></section>