<div class="signup-page" >
  <div style="background-image: url('{{rc.bgimage.image}}');" class="sinupimg-container"></div>
  <div class="sign-up-holder login-holder">
    <div class="logo-container">
      <a ui-sref ="landing"><img src="{{rc.getsetting.logo}}" height="30" width="175"></a>
    </div>
    <form ng-submit="login()"  role="form" name="forgetpasswordform" class="form-validation mt-40" method="post" novalidate>
      <div class="form-group" ng-class="{ 'has-error' : forgetpasswordform.email.$invalid && !forgetpasswordform.email.$pristine, 'has-success' : forgetpasswordform.email.$valid && !forgetpasswordform.email.$pristine}">
        <input type="text" autocomplete="remember==true?on:off" class="form-control input-lg underline-input" name="code" placeholder="Mobile Verification code" ng-model="EMRG.code" required>
        <span ng-show="forgetpasswordform.email.$dirty && forgetpasswordform.email.$error.required" class="help-block">Confirm Password is required</span>
      </div>
	    <input class="btn btn-primary btn-block" ng-click="EMRG.verifyemergencycontact(forgetpasswordform.$valid,EMRG.code)" value="Submit" type="submit">
    </form>
  </div>
</div>
