<section class="faq-content">
    <div class="container">
        <div class="faq-page">
            <h3 class="faqHeader">{{'FAQ'| translate}}</h3>
            <uib-accordion close-others="oneAtATime"> 
                <div uib-accordion-group class="panel-default" heading="{{faq.question}}" ng-repeat="faq in FAC.data" >
                <div class="faq-cnt">
                    {{faq.answer}}
                </div>
                </div>
            </uib-accordion>
       </div>
    </div>
</section>
