<footer id="footer">
  <div id="footer-main">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 info-box">
          <div class="logo">
            <img alt="JobbiPush" src="{{rc.getsetting.logo}}" height="23" width="135">
          </div>
          <p class="no-mg-b">
            Integer vulputate porta augue, sit amet interdum tellus commodo et. Sed volutpat neque vel turpis ultrices sini bibendum. Aliquam quis malesuada.
          </p>
        </div>

        <div class="col-md-3 col-sm-6 info-box">
          <h2 class="title">Contact</h2>
          <div class="icon-boxes">
            <div class="icon-box">
              <div class="icon icon-wrap">
                <i class="fa fa-map-marker"></i>
              </div>
              <div class="content">
                4567 Street name,
                <br>
                012 12 City name, Country
              </div>
            </div>
            <div class="icon-box">
              <div class="icon icon-wrap">
                <i class="fa fa-phone"></i>
              </div>
              <div class="content">
                <a href="tel:+012345678">+012 345 678</a>
              </div>
            </div>
            <div class="icon-box">
              <div class="icon icon-wrap">
                <i class="fa fa-envelope"></i>
              </div>
              <div class="content">
                <a href="mailto:info@bublinastudio.com">info@bublinastudio.com</a>
              </div>
            </div>
            <div class="icon-box">
              <div class="icon icon-wrap">
                <i class="fa fa-globe"></i>
              </div>
              <div class="content">
                <a href="#">www.bublinastudio.com</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 info-box social-box">
          <h2 class="title">Latest tweets</h2>
          <div class="icon-boxes">
            <div class="icon-box">
              <div class="icon icon-wrap">
                <i class="fa fa-twitter text-contrast"></i>
              </div>
              <div class="content">
                <p>
                  Phasellus vulputate lobortis sem. Mauris id velit in urna.<br>
                  <a class="time" href="#"><i>1 hour ago</i></a>
                </p>
              </div>
            </div>
            <div class="icon-box">
              <div class="icon icon-wrap">
                <i class="fa fa-twitter text-contrast"></i>
              </div>
              <div class="content">
                <p>
                  Etiam luctus, dui congue tempus blandit, dui.<br>
                  <a class="time" href="#"><i>3 hours ago</i></a>
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 info-box">
          <h2 class="title">Newsletter</h2>
          <p>Proin condimentum, nisi vel vestibulum ultricies, nunc elit.</p>
          <form name="subscriptionForm" class="form-inline form-validation" role="form" enctype="multipart/form-data" novalidate>
            <div class="row">
              <div class="form-group control-group col-xs-9 col-md-8 col-lg-9" ng-class="{ 'has-error' : subscriptionForm.email.$invalid && !subscriptionForm.email.$pristine, 'has-success' : subscriptionForm.email.$valid && !subscriptionForm.email.$pristine}">
                <input class="form-control" id="email" name="email"" placeholder="Email address" type="email" ng-model="MAC.email" required>
              </div>
              <div class="col-xs-3 col-md-4 col-lg-3">
                <button class="btn btn-medium-light btn-block" ng-click="MAC.subscription(subscriptionForm,MAC.email)"><i class="fa fa-reply text-white"></i></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div id="footer-copyright" data-ng-hide="$state.includes('becometasker.step0')">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 clearfix">
          <p class="copyright">
            Copyright © 2017 JobbiPush
          </p>
          <div class="links">
            <a class="btn btn-circle btn-medium-light btn-sm" href="{{rc.socialNetworks.link.google_plus}}">
              <i class="fa fa-google-plus text-dark"></i>
            </a>
            <a class="btn btn-circle btn-medium-light btn-sm" href="{{rc.socialNetworks.link.twitter}}">
              <i class="fa fa-twitter text-dark"></i>
            </a>
            <a class="btn btn-circle btn-medium-light btn-sm" href="{{rc.socialNetworks.link.facebook}}">
              <i class="fa fa-facebook text-dark"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
