<div class="signup-page mob-bx" >
    <div style="background-image: url('{{rc.bgimage.image}}');" class="sinupimg-container"></div>

    <div class="sign-up-holder login-holder">
        <div class="logo-container">
            <a ui-sref ="landing"><img src="{{rc.getsetting.logo}}" height="30" width="175"></a>
        </div>
        <form ng-submit="login()"  role="form" name="forgetpasswordform" class="form-validation mt-20" method="post" novalidate>
            <div class="form-group" ng-class="{ 'has-error' : forgetpasswordform.password.$invalid && !forgetpasswordform.password.$pristine, 'has-success' : forgetpasswordform.email.$valid && !forgetpasswordform.email.$pristine}">
                <input type="password" autocomplete="remember==true?on:off" class="form-control underline-input" name="password" placeholder="Password" ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,12}$/" ng-minlength="6" ng-maxlength="12" ng-model="PWMC.password" required>
                <span class="validerr" style="color:red" ng-show="forgetpasswordform.password.$error.required && !forgetpasswordform.password.$pristine">Password is required.</span>
                <span class="validerr" style="color:red" ng-show="forgetpasswordform.password.$invalid && !forgetpasswordform.password.$pristine && forgetpasswordform.password.$error.pattern">Password Must Contain Atleast One uppercase,One lower case,One Numeric digit.</span>
                <span class="validerr" style="color:red" ng-show="forgetpasswordform.password.$error.minlength">Password must be minimum of 6 characters.</span>
                <span class="validerr" style="color:red" ng-show="forgetpasswordform.password.pwd.$error.maxlength">Password must be maximum of 12 characters.</span>

                <input type="password" autocomplete="remember==true?on:off" class="form-control underline-input" name="cpassword" placeholder="ConfIrm Password" ng-model="PWMC.cpassword" required>
                 <span class="validerr" style="color:red" ng-show="forgetpasswordform.cpassword.$error.required && !forgetpasswordform.cpassword.$pristine">Confirm Password is required.</span>
                 <span class="validerr" style="color:red" ng-show=" PWMC.password!='' && PWMC.cpassword!='' && PWMC.cpassword != PWMC.password">Password and Confirm Password should be same.</span>
            </div>
    		<div>
                <input class="borderbtn" ng-click="PWMC.forgotpassmailuser(forgetpasswordform.$valid,PWMC.password,PWMC.cpassword)" value="Submit" type="submit">
    		</div>
    	</form>
    </div>
</div>