<header>
  <nav class="navbar navbar-default navbar-fixed-top" ng-class="$state.current.name=='landing'||$state.current.name==''?'':'sub-nav'">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand logo-container" ui-sref="landing">
          <img src="{{rc.getsetting.logo}}" ng-src="{{rc.getsetting.logo}}" height="23" width="135">
        </a>
      </div>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right" ng-if="username ==''">
          <li><a class="page-scroll" ui-sref="signup">{{'SIGN_UP' | translate}}</a></li>
          <li><a class="page-scroll" ui-sref="login">{{'LOGIN' | translate}}</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right" ng-if="username!=''">
          <li><a class="page-scroll" ui-sref="landing">{{'HOME' | translate}}</a></li>
          <li><a class="page-scroll" ui-sref="messages">{{'MESSAGE' | translate}} ({{chatCount}}) </a></li>
          <li><a class="page-scroll" ui-sref="notifications">{{'NOTIFICATIONS' | translate}} ({{notifyCount}}) </a></li>
          <li><a class="page-scroll" ui-sref="account">{{'MY_ACCOUNT' | translate}}</a></li>
          <li><a class="page-scroll" ui-sref="logout">{{'Logout' | translate}}</a></li>
        </ul >
      </div>
    </div>
  </nav>
</header>