<div class="video-bg">
    <div class="intro intro-style4" >
        <div class="overlay"></div>
        <div class="container">
            <div class="col-md-8 col-md-offset-2">
                <div class="intro4-inner text-center">
                    <div ng-repeat="slide in MAC.banner" active="slide.active">
                        <h2>{{slide.description}}</h2>
                        <p>{{slide.anotherDescription}}</p>
                    </div>
                    <div class="intro-form">
                        <form name="searchform"  submit-validate role="form" novalidate>
                            <div class="col-md-4 col-sm-4" ng-class="{ 'has-error' : searchform.searchfield.$invalid && !searchform.searchfield.$pristine, 'has-success' : searchform.searchfield.$valid && !searchform.searchfield.$pristine}">
                                <ui-select name="parent" ng-model="searchData.parent" theme="selectize" class="form-control" style="height:45px;" title="Choose a Category">
                                    <ui-select-match placeholder="{{'CHOOSE A CATEGORY' | translate}}">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="item in MAC.data.response[0].ActiveCategory | filter: $select.search">
                                        <div ng-bind-html="item.name | highlight: $select.search" class="select-div" ng-click="MAC.getsubcategory(item._id);"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <ui-select name="child" ng-model="searchData.child" theme="selectize" class="form-control" style="height:45px;" title="Choose a Subcategory">
                                    <ui-select-match placeholder="{{'CHOOSE A SUBCATEGORY' | translate}}">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="item1 in MAC.subcategorydata | filter: $select.search">
                                        <div ng-bind-html="item1.name | highlight: $select.search" class="select-div"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <button class="btn btn-primary btn-block" type="submit" ng-click="search(searchData)"><i class="fa fa-search" aria-hidden="true"></i> {{'SEARCH' | translate}}</button>
                            </div>
                        </form>
                        <span id="result"></span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

    <div style="background: white;">
        <section class="services-full" id="services">
            <div class="container no-padding">
                <div class="services fade in active">
                    <span class="top-text-til text-center">{{'How' | translate}} {{'it'}} {{'Works' | translate}}</span>
                </div>
                <div class="col-md-4" ng-repeat="postheader in MAC.postheader track by $index" >
                    <img class="img-responsive subtainstepsimage" src="{{postheader.image}}"  ng-src="{{postheader.image}}">
                    <h4 class="subtainsteps text-center">{{postheader.title}}</h4>
                    <p class="subtainstepsdec text-center">{{postheader.description}}</p>
                </div>
            </div>
        </section>

        <section>
            <div class="services fade in active" >
                <span class="top-text-til">{{MAC.jobTitle}}</span>
            </div>
            <div class="container">
                <ul class="hireloop">
                    <li class="col-md-4" ng-repeat="categoryinfo in MAC.data.response[0].ActiveCategory">
                        <div class="prodt-container">
                            <a ui-sref="category({slug:categoryinfo.slug})" href="category({slug:categoryinfo.slug})">
                                <figure>
                                    <div afkl-lazy-image="{{categoryinfo.image}}" class="afkl-lazy-wrapper" lazyerr></div>
                                    <div class="mask"></div>
                                </figure>
                                <figcaption>
                                    <h4 class="futer-text">{{categoryinfo.name}}</h4>
                                </figcaption>
                            </a>
                        </div>
                    </li>
    				<button ng-if="MAC.data.response[4].Category.length>9" class="btn btn-success btn-ef btn-ef-3 btn-ef-3c mb-10" ui-sref="morecategories({slug:MAC.data.response[0].ActiveCategory.length})">More Categories</button>
                </ul>
            </div>
        </section>

        <!-- CONTACT -->
        <section class="contact">
            <div class="container">
                <div class="row">
                    <aside class="col-md-3 col-sm-4">
                        <div class="sidebar">
                            <h3>Contact</h3>
                            <ul class="list">
                                <li><i class="icon-home"></i>795 Folsom Ave, Suite 600<br><span class="pl-20">San Francisco, NY 20001</span></li>
                                <li><i class="icon-call"></i><abbr title="Phone">P:</abbr> (123) 456-7890</li>
                                <li><i class="icon-phone"></i><abbr title="Mobile">M:</abbr> (123) 456-7890</li>
                                <li><i class="icon-mail"></i><a href="mailto:info@website.com">info@website.com</a></li>
                            </ul>
                            <br>
                            <ul class="list-inline social-icons icon-circle">
                                <li><a target="_blank" href="{{rc.socialNetworks.link.twitter}}"><i class="fa fa-twitter"></i></a></li>
                                <li><a target="_blank" href="{{rc.socialNetworks.link.facebook}}"><i class="fa fa-facebook"></i></a></li>
                                <li><a target="_blank" href="{{rc.socialNetworks.link.google_plus}}"><i class="fa fa-google-plus"></i></a></li>
                                <li><a target="_blank" href="http://www.skype.com"><i class="fa fa-dribbble"></i></a></li>
                                <li><a target="_blank" href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </aside>

                    <div class="col-md-8 col-md-push-1 col-sm-8">
                        <p class="lead">It would be great to hear from you! Just drop us a line and ask for anything with which you think we could be helpful. We are looking forward to hearing from you!</p>
                        <div class="contact-form">
                            <form role="form" name="contactform" method="post" submit-validate novalidate>
                                <div class="form-group has-feedback" ng-class="{ 'has-error' : contactform.username.$invalid && !contactform.username.$pristine, 'has-success' : contactform.username.$valid && !contactform.username.$pristine}">
                                    <label>Name*</label>
                                    <input type="text" autocomplete="remember==true?on:off" class="form-control underline-input" name="username" placeholder="{{'USERNAME' | translate}}" ng-model="CTTC.Messagedetails.username" required>
                                    <i class="fa fa-user form-control-feedback"></i>
                                    <span class="validerr" ng-show="contactform.username.$dirty && contactform.username.$error.required" class="help-block">Username is required</span>
                                </div>
                                <div class="form-group has-feedback" ng-class="{ 'has-error' : contactform.email.$invalid && !contactform.email.$pristine, 'has-success' : contactform.email.$valid && !contactform.email.$pristine}">
                                    <label>Email*</label>
                                    <input type="email" ng-pattern="/^([a-z0-9\+_\-]+)(\.[a-z0-9\+_\-]+)*@([a-z0-9\-]+\.)+[a-z]{2,6}$/" autocomplete="remember==true?on:off" class="form-control underline-input" name="email" placeholder="{{'EMAIL_ADDRESS' | translate}}" ng-model="CTTC.Messagedetails.email" required>
                                    <i class="fa fa-envelope form-control-feedback"></i>
                                    <span class="validerr" ng-show="contactform.email.$error.required && !contactform.email.$pristine">Email is required.</span>
                                    <span class="validerr" ng-show="!contactform.email.$error.required && contactform.email.$error.pattern">Invalid email.</span>
                                </div>
                                <div class="form-group has-feedback" ng-class="{ 'has-error' : contactform.mobile.$invalid && !contactform.mobile.$pristine, 'has-success' : contactform.mobile.$valid && !contactform.mobile.$pristine}">
                                    <label>Mobile*</label>
                                    <input type="text" allow-Only-Numbers autocomplete="remember==true?on:off" class="form-control" name="mobile" placeholder="{{'MOBILE_NUMBER' | translate}}" ng-model="CTTC.Messagedetails.mobile" required>
                                    <i class="fa fa-navicon form-control-feedback"></i>
                                    <span class="validerr" ng-show="contactform.mobile.$dirty && contactform.mobile.$error.required" class="help-block">Mobile phone is required</span>
                                </div>
                                <div class="form-group has-feedback" ng-class="{ 'has-error' : contactform.subject.$invalid && !contactform.subject.$pristine, 'has-success' : contactform.subject.$valid && !contactform.subject.$pristine}">
                                    <label>Subject*</label>
                                     <input type="text" autocomplete="remember==true?on:off" class="form-control underline-input" name="subject" placeholder="{{'SUBJECT' | translate}}" ng-model="CTTC.Messagedetails.subject" required>
                                    <i class="fa fa-navicon form-control-feedback"></i>
                                    <span class="validerr" ng-show="contactform.subject.$dirty && contactform.subject.$error.required" class="help-block">Subject is required</span>
                                </div>
                                <div class="form-group has-feedback" ng-class="{ 'has-error' : contactform.message.$invalid && !contactform.message.$pristine, 'has-success' : contactform.message.$valid && !contactform.message.$pristine}">
                                    <label>Message*</label>
                                    <textarea cols="60" rows="4" class="form-control underline-input" placeholder="{{'MESSAGE' | translate}}" name="message" ng-model="CTTC.Messagedetails.message" required></textarea>
                                    <i class="fa fa-pencil form-control-feedback"></i>
                                    <span class="validerr" ng-show="contactform.message.$dirty && contactform.message.$error.required" class="help-block">Message is required</span>
                                </div>
                                <button type="submit" class="submit-button btn btn-primary btn-lg" ng-click="CTTC.userMessage(contactform.$valid,contactform);">{{'SEND' | translate}}</button>
                                <span ng-bind="CTTC.Error"></span>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<script src="/app/site/public/scripts/theme/video/okvideo.min.js"></script>
<script src="/app/site/public/scripts/theme/video/video.js"></script>