<section class="morecategories">
    <div class="container">
        <ul class="hireloop">
             <li class="col-md-4" ng-repeat="categoryinfo in MOC.data"> 
                <div class="prodt-container">
                    <a ui-sref="category({slug:categoryinfo.slug})" href="category({slug:categoryinfo.slug})">
                        <figure>
                            <div afkl-lazy-image="{{categoryinfo.image}}" class="afkl-lazy-wrapper" lazyerr></div>
                            <div class="mask"></div>
                        </figure>
                        <figcaption>
                            <h4 class="futer-text">{{categoryinfo.name}}</h4>
                        </figcaption>
                    </a>
					
                </div>
            </li>
        </ul>
    </div>
    <div class="space20"></div>

    <div class="container">
        <div class="row text-center">
            <div class="col-md-8 col-md-offset-2">
                <button class="btn btn-lg btn-primary" ui-sref="landing">Go Bact to Home</button>
            </div>
        </div>
    </div>
</section>
