<div style="background-image: url('{{rc.bgimage.image}}');" class="sinupimg-container"></div>

<nav class="navbar" style="padding:25px 0;">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand logo-container" ui-sref="landing">
        <img src="{{rc.getsetting.logo}}" ng-src="{{rc.getsetting.logo}}" height="23" width="135">
      </a>
    </div>
  </div>
</nav>

<div class="container login-page">
  <div class="row">
      <div class="col-sm-12 title text-center">
          <h1>Sign up on JobbiPush</h1>
      </div>
      <div class="col-sm-5">
          <div class="ibox ibox-custom text-center">
              <div class="ibox-title">
                  <h2>{{'I_WANT_TO_BE_AN_EMPLOYEE' | translate}}</h2>
                  <p>
                      Schedule, hire and track your hourly employees
                  </p>
              </div>
              <div class="ibox-content">
                  <p>
                      <a class="btn btn-primary btn-custom-lg-240" ui-sref="becometasker.step0">Sign up</a>
                  </p>
              </div>
          </div>
      </div>
      <div class="col-sm-1 text-center">
          <p class="margin-top-90-sm margin-bottom-20" style="font-size:18px;">or</p>
      </div>
      <div class="col-sm-offset-h col-sm-5">
          <div class="ibox ibox-custom text-center">
              <div class="ibox-title">
                  <h2>{{'I_NEED_HELP_WITH_JOBS' | translate}}</h2>
                  <p>
                      Respond to customer requests and get hired
                  </p>
              </div>
              <div class="ibox-content">
                  <p>
                      <a class="btn btn-primary btn-custom-lg-240" ui-sref="register({type:'user'})" href="/register">Sign up</a>
                  </p>
              </div>
          </div>
      </div>
      <div class="col-sm-12 text-center">
          <p class="mt30 pf-c">Do you have an account? <a ui-sref="login">Login</a></p>
      </div>
  </div>
</div>