<div class="container" style="padding:150px 0 50px;">
    <div class="row">
        <div class="board">
            <div class="tab-content">
                <div class="tab-pane fade in active" id="tabc1">
                    <h3 class="text-center">{{'BECOME_AN_EMPLOYEE' | translate}}</h3>
                    <div class="row">
                        <p>Lorem ipsum dolor sit amet consectetur elit dolor sit amet consectetur adipisicing elit voluptate nihil eum consectetur similique? quod, incidunt, harum nisi dolores delectus reprehenderit voluptatem perferendis dicta dolorem non blanditiis ex fugiat.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
