doctype html
html.no-js(ng-app='quickRabbit.admin', ng-controller='RootCtrl as rc', class='{{containerClass}}')
  head
    meta(charset='UTF-8')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no')
    meta(name='robots', content='noindex, nofollow')
    title(ng-bind='rc.title')
    link(rel='icon', href='{{rc.favicon}}')

    //- inject:css
    link(rel="stylesheet", href="/app/admin/public/css/lib/bootstrap.css")
    link(rel="stylesheet", href="/app/admin/public/css/lib/font-awesome.css")
    link(rel="stylesheet", href="/app/admin/public/css/lib/select.css")
    link(rel="stylesheet", href="/app/admin/public/css/lib/textAngular.css")
    link(rel="stylesheet", href="/app/admin/public/css/lib/angular-toastr.min.css")
    link(rel="stylesheet", href="/app/admin/public/css/lib/ng-img-crop.css")
    link(rel="stylesheet", href="/app/admin/public/css/lib/ng-tags-input.css")
    link(rel="stylesheet", href="/app/admin/public/css/lib/intlTelInput.css")
    link(rel="stylesheet", href="/app/admin/public/css/lib/morris.css")
    link(rel="stylesheet", href="/app/admin/public/css/main.css")
    link(rel="stylesheet", href="/app/admin/public/css/master.css")
    //- endinject

    //- inject:js
    script(src="/app/admin/public/scripts/jquery.js")
    script(src="/app/admin/public/scripts/angular.js")
    script(src="/app/admin/public/scripts/lib/tinymce/tinymce.js")
    script(src="/app/admin/public/scripts/lib/tinymce/tinymce-angular.js")
    script(src="/app/admin/public/scripts/lib/loading-bar.js")
    script(src="/app/admin/public/scripts/lib/angular-animate.js")
    script(src="/app/admin/public/scripts/lib/ui-bootstrap-tpls.js")
    script(src="/app/admin/public/scripts/lib/bootstrap.js")
    script(src="/app/admin/public/scripts/lib/angular-fontawesome.js")
    script(src="/app/admin/public/scripts/lib/angular-cookies.js")
    script(src="/app/admin/public/scripts/lib/angular-sanitize.js")
    script(src="/app/admin/public/scripts/lib/angular-ui-router.js")
    script(src="/app/admin/public/scripts/lib/select.js")
    script(src="/app/admin/public/scripts/lib/angular-ui-tree.js")
    script(src="/app/admin/public/scripts/lib/ui-utils.js")
    script(src="/app/admin/public/scripts/lib/ng-img-crop.js")
    script(src="/app/admin/public/scripts/lib/moment.js")
    script(src="/app/admin/public/scripts/lib/moment-timezone-with-data-2010-2020.js")
    script(src="/app/admin/public/scripts/lib/angular-moment.js")
    script(src="/app/admin/public/scripts/lib/angular-translate.js")
    script(src="/app/admin/public/scripts/lib/bootstrap-filestyle.js")
    script(src="/app/admin/public/scripts/lib/angular-translate-storage-cookie.js")
    script(src="/app/admin/public/scripts/lib/angular-translate-storage-local.js")
    script(src="/app/admin/public/scripts/lib/angular-translate-loader-static-files.js")
    script(src="/app/admin/public/scripts/lib/textAngularSetup.js")
    script(src="/app/admin/public/scripts/lib/textAngular-rangy.min.js")
    script(src="/app/admin/public/scripts/lib/textAngular-sanitize.js")
    script(src="/app/admin/public/scripts/lib/textAngular.js")
    script(src="/app/admin/public/scripts/lib/jquery.slimscroll.js")
    script(src="/app/admin/public/scripts/lib/angular-toastr.tpls.js")
    script(src="/app/admin/public/scripts/lib/ng-tags-input.js")
    script(src="/app/admin/public/scripts/lib/ng-file-upload-shim.js")
    script(src="/app/admin/public/scripts/lib/ng-file-upload.js")
    script(src="/app/admin/public/scripts/lib/angular-slugify.js")
    script(src="/app/admin/public/scripts/lib/jquery.flot.js")
    script(src="/app/admin/public/scripts/lib/jquery.flot.pie.js")
    script(src="/app/admin/public/scripts/lib/jquery.flot.spline.js")
    script(src="/app/admin/public/scripts/lib/angular-flot.js")
    script(src="/app/admin/public/scripts/lib/angular.easypiechart.js")
    script(src="/app/admin/public/scripts/lib/raphael.js")
    script(src="/app/admin/public/scripts/lib/morris.js")
    script(src="/app/admin/public/scripts/lib/ng-map.js")
    script(src="/app/admin/public/scripts/lib/ng-intl-tel-input/intlTelInput.js")
    script(src="/app/admin/public/scripts/lib/ng-intl-tel-input/utils.js")
    script(src="/app/admin/modules/app.js")
    script(src="/app/admin/modules/common/models/app_factory.js")
    script(src="/app/admin/modules/users/controllers/authentication/controllers.js")
    script(src="/app/admin/modules/users/controllers/authentication/services.js")
    script(src="/app/admin/modules/users/controllers/add_user.js")
    script(src="/app/admin/modules/users/controllers/users_list.js")
    script(src="/app/admin/modules/users/controllers/transaction_list.js")
    script(src="/app/admin/modules/users/controllers/forgetpwduser.js")
    script(src="/app/admin/modules/users/controllers/forgetpwdmail.js")
    script(src="/app/admin/modules/users/models/users_factory.js")
    script(src="/app/admin/modules/dashboard/controllers/dashboard.js")
    script(src="/app/admin/modules/dashboard/models/dashboard_factory.js")
    script(src="/app/admin/modules/taskers/controllers/taskers_list.js")
    script(src="/app/admin/modules/taskers/controllers/add_new_tasker.js")
    script(src="/app/admin/modules/taskers/controllers/add_tasker.js")
    script(src="/app/admin/modules/taskers/models/taskers_factory.js")
    script(src="/app/admin/modules/administrators/controllers/admins_list.js")
    script(src="/app/admin/modules/administrators/controllers/add_admin.js")
    script(src="/app/admin/modules/administrators/controllers/sub-admin-list.js")
    script(src="/app/admin/modules/administrators/controllers/role_manager.js")
    script(src="/app/admin/modules/administrators/models/admins_factory.js")
    script(src="/app/admin/modules/administrators/models/role_manager_factory.js")
    script(src="/app/admin/modules/slider/controllers/editSlider.js")
    script(src="/app/admin/modules/slider/controllers/viewSlider.js")
    script(src="/app/admin/modules/slider/models/sliderFactory.js")
    script(src="/app/admin/modules/contact-us/controllers/editContactUs.js")
    script(src="/app/admin/modules/contact-us/controllers/viewContactUs.js")
    script(src="/app/admin/modules/contact-us/models/contactFactory.js")
    script(src="/app/admin/modules/images/controllers/editImages.js")
    script(src="/app/admin/modules/images/controllers/viewImages.js")
    script(src="/app/admin/modules/images/models/imagesFactory.js")
    script(src="/app/admin/modules/pages/controllers/edit_page.js")
    script(src="/app/admin/modules/pages/controllers/pages_list.js")
    script(src="/app/admin/modules/pages/models/page_factory.js")
    script(src="/app/admin/modules/coupons/controllers/add_coupon.js")
    script(src="/app/admin/modules/coupons/controllers/coupon_list.js")
    script(src="/app/admin/modules/coupons/models/coupon_factory.js")
    script(src="/app/admin/modules/email-template/controllers/email_template_add_edit.js")
    script(src="/app/admin/modules/email-template/controllers/email_template_list.js")
    script(src="/app/admin/modules/email-template/models/email_template_factory.js")
    script(src="/app/admin/modules/categories/controllers/editCategory.js")
    script(src="/app/admin/modules/categories/controllers/editsubCategory.js")
    script(src="/app/admin/modules/categories/controllers/viewCategory.js")
    script(src="/app/admin/modules/categories/controllers/viewsubCategory.js")
    script(src="/app/admin/modules/categories/models/categoryFactory.js")
    script(src="/app/admin/modules/postheader/controllers/editPostHeader.js")
    script(src="/app/admin/modules/postheader/controllers/viewPostHeader.js")
    script(src="/app/admin/modules/postheader/models/PostHeaderFactory.js")
    script(src="/app/admin/modules/faq/controllers/editFaq.js")
    script(src="/app/admin/modules/faq/controllers/viewFaq.js")
    script(src="/app/admin/modules/faq/models/faqFactory.js")
    script(src="/app/admin/modules/experience/controllers/editExperience.js")
    script(src="/app/admin/modules/experience/controllers/viewExperience.js")
    script(src="/app/admin/modules/experience/models/experinceFactory.js")
    script(src="/app/admin/modules/question-management/controllers/editQuestionManagement.js")
    script(src="/app/admin/modules/question-management/controllers/viewQuestionManagement.js")
    script(src="/app/admin/modules/question-management/models/questionFactory.js")
    script(src="/app/admin/modules/tasks/controllers/editTasks.js")
    script(src="/app/admin/modules/tasks/controllers/viewTasks.js")
    script(src="/app/admin/modules/tasks/controllers/exportTasks.js")
    script(src="/app/admin/modules/tasks/models/tasksFactory.js")
    script(src="/app/admin/modules/tools/controllers/tools.js")
    script(src="/app/admin/modules/tools/models/tools.js")
    script(src="/app/admin/modules/settings/controllers/general_settings.js")
    script(src="/app/admin/modules/settings/controllers/seo_settings.js")
    script(src="/app/admin/modules/settings/controllers/widgets.js")
    script(src="/app/admin/modules/settings/controllers/smtp_settings.js")
    script(src="/app/admin/modules/settings/controllers/sms_settings.js")
    script(src="/app/admin/modules/settings/controllers/currency/currency_add.js")
    script(src="/app/admin/modules/settings/controllers/currency/currency_list.js")
    script(src="/app/admin/modules/settings/controllers/languages/language_edit.js")
    script(src="/app/admin/modules/settings/controllers/languages/language_list.js")
    script(src="/app/admin/modules/settings/controllers/languages/language_manage.js")
    script(src="/app/admin/modules/settings/controllers/social_networks.js")
    script(src="/app/admin/modules/settings/models/settings_factory.js")
    script(src="/app/admin/modules/settings/models/currency_factory.js")
    script(src="/app/admin/modules/settings/models/language_factory.js")
    script(src="/app/admin/modules/newsletter/controllers/subscriber_list.js")
    script(src="/app/admin/modules/newsletter/models/newsletter_factory.js")
    script(src="/app/admin/modules/payment-gateway/controllers/payment_gateway_edit.js")
    script(src="/app/admin/modules/payment-gateway/controllers/payment_gateway_list.js")
    script(src="/app/admin/modules/payment-gateway/models/payment_gateway_factory.js")
    script(src="/app/admin/modules/reviews/controllers/editReviews.js")
    script(src="/app/admin/modules/reviews/controllers/viewReviews.js")
    script(src="/app/admin/modules/reviews/models/reviewsFactory.js")
    script(src="/app/admin/modules/earnings/controllers/earnings.js")
    script(src="/app/admin/modules/earnings/controllers/viewearnings.js")
    script(src="/app/admin/modules/earnings/models/earning_factory.js")
    script(src="/app/admin/modules/common/directives/navcollapse.js")
    script(src="/app/admin/modules/common/directives/collapsesidebar.js")
    script(src="/app/admin/modules/common/directives/slimscroll.js")
    script(src="/app/admin/modules/common/directives/onblurvalidation.js")
    script(src="/app/admin/modules/common/directives/submitvalidate.js")
    script(src="/app/admin/modules/common/directives/custom-table.js")
    script(src="/app/admin/modules/common/directives/checklist-model.js")
    script(src="/app/admin/modules/common/directives/ng-intl-tel-input.js")
    script(src="/app/admin/modules/cancellation/models/cancellationFactory.js")
    script(src="/app/admin/modules/cancellation/controllers/cancellation.js")
    script(src="/app/admin/modules/cancellation/controllers/editcancellation.js")
    script(src="/app/admin/modules/pushnotification/controllers/addemail_notification.js")
    script(src="/app/admin/modules/pushnotification/controllers/notification_list.js")
    script(src="/app/admin/modules/pushnotification/controllers/user_list.js")
    script(src="/app/admin/modules/pushnotification/controllers/tasker_list.js")
    script(src="/app/admin/modules/pushnotification/models/notification_list_factory.js")
    script(src="/app/admin/modules/pushnotification/models/email_notification_factory.js")
    script(src="/app/admin/modules/pushnotification/models/user_factory.js")
    script(src="/app/admin/modules/pushnotification/models/tasker_factory.js")
    //- endinject

    script(src='//maps.google.com/maps/api/js?key=' + googleMapAPI + '&libraries=places')
  body#minovate.header-fixed.aside-fixed.rightbar-hidden.appWrapper(class='{{main.settings.navbarHeaderColor}} {{main.settings.activeColor}} {{containerClass}}', ng-class="{'header-fixed': main.settings.headerFixed, 'header-static': !main.settings.headerFixed, 'aside-fixed': main.settings.asideFixed, 'aside-static': !main.settings.asideFixed, 'rightbar-show': main.settings.rightbarShow, 'rightbar-hidden': !main.settings.rightbarShow}")
    // Application content
    #wrap(ui-view='', autoscroll='false')
    span(ng-if='imgSrc', style='position: absolute; z-index: 99999; top: 50%; left: 50%;')
      img(src='/app/site/public/images/loader.gif')
