<section class="container page-content">
    <div class="applyto-tasker accounts">
        <div class="container2">
            <div class="task-dtls">
                <div class="chat_def col-md-4">
                    <h1 class="top-texts">{{'JOB_DETAILS'|translate}}</h1>
                    <div class="row">
                        <span class="col-sm-6">{{'JOB_CATEGORY'|translate}}</span>
                        <big class="col-sm-6">{{CHAT.taskinfo.category.slug}}</big>
                    </div>
                    <div class="row">
                        <span class="col-sm-6">{{'EMPLOYEE_NAME'|translate}}</span>
                        <big class="col-sm-6">{{CHAT.taskerDetails.username}}</big>
                    </div>
                    <div class="row">
                        <span class="col-sm-6">{{'BOOKING_ID'|translate}}</span>
                        <big>{{CHAT.taskinfo.booking_id}}</big>
                    </div>
                    <div class="row">
                        <span class="col-sm-6">{{'JOB_DATE'|translate}}</span>
                        <big class="col-sm-6">{{CHAT.taskinfo.task_date  | date}}</big>
                    </div>
                    <div class="row">
                        <span class="col-sm-6">{{'DAY'|translate}}</span>
                        <big class="col-sm-6">{{CHAT.taskinfo.task_day}}</big>
                    </div>
                    <div class="row">
                        <span class="col-sm-6">{{'SESSION'|translate}}</span>
                        <big class="col-sm-6">{{CHAT.taskinfo.task_hour}}</big>
                    </div>
                    <div class="row">
                        <span class="col-sm-6">{{'AMOUNT'|translate}}</span>
                        <big class="col-sm-6">{{rc.DefaultCurrency[0].symbol}} {{CHAT.taskinfo.amount * rc.DefaultCurrency[0].value }}/hr</big>
                    </div>
                    <div class="row">
                        <span class="col-sm-6" ng-if="CHAT.taskinfo.status=='10'">{{'STATUS'|translate}}</span>
                        <big class="col-sm-6" ng-if="CHAT.taskinfo.status=='10'" style="color:red">Yet To Confirm</big>
                        <span class="col-sm-6" ng-if="CHAT.taskinfo.status=='2'">{{'STATUS'|translate}}</span>
                        <big class="col-sm-6" ng-if="CHAT.taskinfo.status=='2'" style="color:red">Accepted</big>
                    </div>
                    <div class="row">
                        <a class="btn btn-default mt-10" ng-if="CHAT.taskinfo.status=='10' && CHAT.currentusertype == 'user'" href="hirestep2/{{CHAT.taskinfo.category.slug}}?lat={{CHAT.taskinfo.location.lat}}&lon={{CHAT.taskinfo.location.log}}&day={{CHAT.taskinfo.task_day}}&hour={{CHAT.taskinfo.task_hour}}&date={{CHAT.taskinfo.task_date}}&booking_id={{CHAT.taskinfo.booking_id}}&task={{CHAT.taskinfo._id}}">Back</a>
                        <button class="btn btn-primary btn-block mt-10" ng-if="CHAT.taskinfo.status=='10' && CHAT.currentusertype=='user'" type="submit" ng-click="CHAT.confirmatask(1)">{{'CONFIRM_JOB'|translate}}</button>
                        <button class="btn btn-primary btn-block mt-10" ng-if="CHAT.taskinfo.status=='1' && CHAT.currentusertype=='tasker' && CHAT.taskinfo.status!='2'" type="submit" ng-click="CHAT.confirmatask(2)">{{'ACCEPT'|translate}}</button>
                    </div>
                </div>
                <div class="col-md-8 col-xs-12 messagebox">
                    <h1 class="top-texts">{{'MESSANGER'|translate}}</h1>
                    <div class="chat-list" id="chatscroll" scroll>
                        <div class="chat-cnt" id="userList" style="display: block;" ng-repeat="data in CHAT.messages track by $index" ng-init="CHAT.currentUser == data.from ? user = true : user = false ; CHAT.data.user._id == data.from ? userProfile = CHAT.data.user : userProfile = CHAT.data.tasker">
                            <div class="col-xs-2 chat-col" ng-class="{'col-xs-push-10': user}">
                                <a href="#">
                                    <img ng-if="userProfile.avatar" src="{{userProfile.avatar}}" class="img-thumbnail img-responsive img-circle" ng-class="user ? 'pull-left' : 'pull-right'" style="" err-src>
                                </a>
                            </div>
                            <div class="col-xs-10 chat-col" ng-class="{'col-xs-pull-2': user}">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div>
                                            <a href="#">{{userProfile.username}}</a>
                                        </div>
                                        {{data.message}}
                                        <br>
                                        <div class="label label-info">{{ data.date | clock: date}}</div>
                                        <div ng-if="CHAT.currentUser == data.from" ng-init="type = (CHAT.currentusertype == 'user') ? 'user' : 'tasker'; ">
                                            <div ng-if="type == 'tasker'" style="margin-top:25px;" class="label label-seccess nt-scn ng-binding " style="color:red">
                                                <span ng-if="status=(data.user_status == 2 ? 'SEEN' : 'NOT_SEEN')"><i class="fa fa-check" aria-hidden="true"></i>{{status|translate}}</span>
                                            </div>
                                            <div ng-if="type == 'user'" style="margin-top:25px;" class="label label-seccess nt-scn ng-binding " style="color:red">
                                                <span ng-if="status=(data.tasker_status == 2 ? 'SEEN' : 'NOT_SEEN')"><i class="fa fa-check" aria-hidden="true"></i>{{status|translate}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="chat-post">
                        <h2 class="text-center">{{'GOT_SOMETHING_TO_SAY'|translate}}?</h2>
                        <div ng-if="CHAT.typing.status">{{CHAT.typing.message}}</div>
                        <div class="chat-box">
                            <form>
                                <div class="input-group">
                                    <input class="form-control input-large" ng-model="message" type="text" ng-change="CHAT.ontyping()" placeholder="Add to the conversation" id="inputText" style="">
                                    <button class="input-group-addon" ng-click="CHAT.send(message)" style="width: 52px;height: 34px;">{{'POST'|translate}}</button>
                                </div>
                            </form>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<style>
.label {
    color: green !important;
}

.chat_def span {
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
    float: left;
}

.chat_def big {
    display: inline-block;
    font-size: 15px;
    padding: 5px;
}

.chat_def h1 {
    text-align: center;
}
</style>
