<div class="modal-header">
    <h3 class="modal-title">{{'DELETE CONVERSATION'|translate}}</h3>
</div>

<div class="modal-body">
  <lable>{{'ARE YOU SURE YOU WANT TO DELETE THIS CONVERSATION'|translate}}?</lable>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="DACM.ok()">{{'OK'|translate}}</button>
    <button class="btn btn-warning" type="button" ng-click="DACM.cancel()">{{'CANCEL'|translate}}</button>
</div>
