<div class="page-head">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>{{'MESSENGER'|translate}}</h1>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="bs-example">
            <div class="table-responsive">
                <table class="table table-striped table-hover" ng-if="MSG.messages[0]">
                    <thead>
                        <tr>
                            <th width="30">#</th>
                            <th class="nme-msg" width="200">{{'NAME'|translate}}</th>
                            <th width="200">{{'JOB'|translate}}</th>
                            <th width="50">{{'ACTIONS'|translate}}</th>
                        </tr>
                    </thead>
					<tbody ng-if="MSG.currentusertype == 'user' ">
                        <tr ng-repeat="message in MSG.messages1" ng-class="{'red': MSG.currentusertype == 'user' && message.user_status == 1 && MSG.currentuserid != message.from}">
                            <td scope="row">{{$index + 1}}</td>
                            <td class="nme-msg">{{message.user[0].username}} </td>
                            <td>{{message.task.booking_id}}</td>
                            <td class="msg-actions">
                                <a ui-sref="chat({task:message.task._id, user:message.task.user,tasker:message.tasker[0]._id})" class="btn btn-action btn-success" title="{{'VIEW'|translate}}"><i class="fa fa-eye"></i></a>
                                <a href="javascript:;" class="btn btn-action btn-danger" title="{{'DELETE'|translate}}" ng-click="MSG.deletemessage(message.task._id,message.task.user,message.tasker[0]._id)"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    </tbody>
                    <tbody ng-if="MSG.currentusertype == 'tasker' ">
                        <tr ng-repeat="message in MSG.messages1" ng-class="{'red': MSG.currentusertype == 'tasker' && message.tasker_status == 1 && MSG.currentuserid != message.from}">
                            <td scope="row">{{$index + 1}}</td>
                            <td class="nme-msg">{{message.user[0].username}}</td>
                            <td>{{message.task.booking_id}}</td>
                            <td class="msg-actions">
                                <a ui-sref="chat({task:message.task._id, user:message.task.user,tasker:message.tasker[0]._id})" class="btn btn-action btn-success" title="{{'VIEW'|translate}}"><i class="fa fa-eye"></i></a>
                                <a href="javascript:;" class="btn btn-action btn-danger" title="{{'DELETE'|translate}}" ng-click="MSG.deletemessage(message.task._id,message.task.user,message.tasker[0]._id)"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>   
            </div>
            <div ng-if="MSG.msgtotalItem> 0" class="pagination_inner clearfix">
                <nav>
                    <uib-pagination max-size="5" items-per-page="MSG.msgitemsPerPage" ng-change="MSG.getMessage(MSG.currentPage)" total-items="MSG.msgtotalItem" ng-model="MSG.currentPage" class="pagination" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
                    </uib-pagination>
                </nav>
              </div>
            <div ng-if="!MSG.messages[0]" class="text-center no-result">
                <h4>{{'NO_MESSAGES_AVAILABLE'|translate}}...!!</h4>
            </div>
        </div>
    </div>
</div>
