<div class="page page-profile">
    <div class="pageheader">
        <h2>{{'Menu.EMPLOYEES' | translate}}</h2>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li><a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a></li>
                <li><a ui-sref="app.taskers.list">{{'SubMenu.EMPLOYEE_LIST' | translate}}</a></li>
                <li><a ui-sref="app.taskers.add">{{'SubMenu.ADD_EMPLOYEE' | translate}}</a></li>
            </ul>
        </div>
    </div>
    <div class="pagecontent">
        <div class="row">
            <form name="taskerEditForm" submit-validate role="form" enctype="multipart/form-data" novalidate class="taskeditfrm">
                <div class="col-md-4 col-lg-3">
                    <section class="tile tile-simple">
                        <div class="tile-widget p-20 text-center">
                            <div class="img-tskr">
                                <div class="imgview">
                                    <figure class="fighld">
                                        <img class="img-circle" ngf-src="ATSC.tasker.avatar" style="height: 150px ; width: 150px">
                                    </figure>
                                    <div class="form-group" style="margin-top: 20px;">
                                        <input class="bluebtn savdedit" ui-jq="filestyle" type="button" ngf-select="temp=true" ng-model="ATSC.tasker.avatar" name="image" ngf-pattern="'image/jpg,image/jpeg,image/png,image/gif/*'" ngf-max-size="1MB" ngf-model-invalid="errorFiles" class="filestyle" ui-options="{ buttonText: 'Select file', iconName: 'fa fa-inbox'}" id="image" value="Upload" checkFileSize>
                                        <span class="help-block">Allowed files: gif, png, jpg. Max file size 1Mb</span>
                                        <p class="help-block">
                                            <span ng-show="taskerEditForm.image.$invalid && !taskerEditForm.image.$pristine" style="color:red;">Avatar is required.</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <h4 class="mb-0"><strong>{{ATSC.tasker.username}}</strong></h4>
                        </div>
                        <div class="tile-widget p-20 text-center">
                            <h4>Availability</h4>
                            <label class="switch">
                                <input class="switch-input" type="checkbox" ng-model="ATSC.availabilityvalue" ng-init="ATSC.availabilityvalue = ATSC.availabilityvalue || 0" ng-change="ATSC.availabilityChange(ATSC.availabilityvalue)" />
                                <span class="switch-label"></span>
                                <span class="switch-handle"></span>
                            </label>
                        </div>
                        <div class="tile-body"></div>
                    </section>
                </div>
            </form>
            <div class="col-md-8 col-lg-9">
                <section class="tile tile-simple">
                    <div class="tile-body p-0">
                        <tabset class="tabs-dark">
                            <tab heading="General">
                                <div class="wrap-reset">
                                    <form name="taskerEditForm" submit-validate role="form" enctype="multipart/form-data" novalidate>
                                        <div class="row">
                                            <div class="form-group col-md-12 legend">
                                                <h4><strong>Personal</strong> Settings</h4>
                                                <p>Your personal account settings</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-sm-6" ng-class="{ 'has-error' : taskerEditForm.firstName.$invalid && !taskerEditForm.firstName.$pristine, 'has-success' : taskerEditForm.firstName.$valid && !taskerEditForm.firstName.$pristine}">
                                                <label for="firstName">First Name</label>
                                                <input type="text" name="firstName" id="firstName" ng-pattern="/^[a-zA-Z ]*$/" class="form-control" ng-model="ATSC.tasker.name.first_name" required>
                                                <p class="help-block">
                                                    <span ng-show="taskerEditForm.firstName.$invalid && !taskerEditForm.firstName.$pristine">firstName is required.</span>
                                                    <span class="validerr" ng-show="taskerEditForm.firstName.$error.pattern && !taskerEditForm.firstName.$untouched">First Name only allow Characters</span>
                                                </p>
                                            </div>
                                            <div class="form-group col-sm-6" ng-pattern="/^[a-zA-Z ]*$/" ng-class="{ 'has-error' : taskerEditForm.lastName.$invalid && !taskerEditForm.lastName.$pristine, 'has-success' : taskerEditForm.lastName.$valid && !taskerEditForm.lastName.$pristine}">
                                                <label for="lastName" class="control-label">Last Name</label>
                                                <input type="text" name="lastName" id="lastName" class="form-control" ng-model="ATSC.tasker.name.last_name" required>
                                                <p class="help-block">
                                                    <span ng-show="taskerEditForm.lastName.$invalid && !taskerEditForm.lastName.$pristine">lastName is required.</span>
                                                    <span class="validerr" ng-show="taskerEditForm.lastName.$error.pattern && !taskerEditForm.lastName.$untouched">First Name only allow Characters</span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group  col-sm-6">
                                                <label class="control-label">DOB</label>
                                                <div class="input-group w-md">
                                                    <input type="text" class="form-control" datepicker-popup="{{format}}" ng-change="ATSC.dateChange()" ng-model="ATSC.dob" is-open="status.opened" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group col-sm-6" ng-class="{ 'has-error' : taskerEditForm.gender.$invalid && !taskerEditForm.gender.$pristine, 'has-success' : taskerEditForm.gender.$valid && !taskerEditForm.gender.$pristine}">
                                                <label for="gender" class="control-label">Gender</label>
                                                <select type="text" name="gender" id="gender" class="form-control" ng-model="ATSC.tasker.gender" required>
                                                    <option value="male">Male</option>
                                                    <option value="female">Female</option>
                                                </select>
                                                <p class="help-block">
                                                    <span ng-show="taskerEditForm.gender.$invalid && !taskerEditForm.gender.$pristine">gender is required.</span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-sm-6" ng-class="{ 'has-error' : taskerEditForm.line1.$invalid && !taskerEditForm.line1.$pristine, 'has-success' : taskerEditForm.line1.$valid && !taskerEditForm.line1.$pristine}">
                                                <label for="line1" class="control-label">Address Line 1</label>
                                                <input name="line1" required type="text" places-auto-complete size=80 ng-model="ATSC.tasker.address.line1" types="['address']" on-place-changed="ATSC.placeChanged()" class="inline form-control ng-pristine ng-untouched ng-valid" />
                                                <p class="help-block">
                                                    <span ng-show="taskerEditForm.line1.$invalid && !taskerEditForm.line1.$pristine">Address Line is required.</span>
                                                </p>
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label for="line2" class="control-label">Address Line 2</label>
                                                <input type="text" name="line2" ng-model="ATSC.tasker.address.line2" id="line2" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-sm-6" ng-class="{ 'has-error' : taskerEditForm.city.$invalid && !taskerEditForm.city.$pristine, 'has-success' : taskerEditForm.city.$valid && !taskerEditForm.city.$pristine}">
                                                <label for="city" class="control-label">City</label>
                                                <input type="text" name="city" ng-model="ATSC.tasker.address.city" id="city" class="form-control" required>
                                                <p class="help-block">
                                                    <span ng-show="taskerEditForm.city.$invalid && !taskerEditForm.city.$pristine">City required.</span>
                                                </p>
                                            </div>
                                            <div class="form-group col-sm-6" ng-class="{ 'has-error' : taskerEditForm.state.$invalid && !taskerEditForm.state.$pristine, 'has-success' : taskerEditForm.state.$valid && !taskerEditForm.state.$pristine}">
                                                <label for="state" class="control-label">State</label>
                                                <input type="text" name="state" ng-model="ATSC.tasker.address.state" id="state" class="form-control" required>
                                                <p class="help-block">
                                                    <span ng-show="taskerEditForm.state.$invalid && !taskerEditForm.state.$pristine">State is required.</span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-sm-6">
                                                <label for="zipcode" class="control-label">Zipcode</label>
                                                <input type="text" name="zipcode" ng-model="ATSC.tasker.address.zipcode" id="zipcode" class="form-control">
                                            </div>
                                            <div class="form-group col-sm-6" ng-class="{ 'has-error' : taskerEditForm.country.$invalid && !taskerEditForm.country.$pristine, 'has-success' : taskerEditForm.country.$valid && !taskerEditForm.country.$pristine}">
                                                <label for="country" class="control-label">Country</label>
                                                <input type="text" name="country" ng-model="ATSC.tasker.address.country" id="country" class="form-control" required>
                                                <p class="help-block">
                                                    <span ng-show="taskerEditForm.country.$invalid && !taskerEditForm.country.$pristine">Country is required.</span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-sm-6" ng-class="{ 'has-error' : taskerEditForm.email.$invalid && !taskerEditForm.email.$pristine, 'has-success' : taskerEditForm.email.$valid && !taskerEditForm.email.$pristine}">
                                                <label for="email" class="control-label">E-mail</label>
                                                <input type="text" name="email" ng-model="ATSC.tasker.email" id="email" class="form-control" required>
                                                <p class="help-block">
                                                    <span ng-show="taskerEditForm.email.$invalid && !taskerEditForm.email.$pristine">E-mail is required.</span>
                                                </p>
                                            </div>
                                            <div class="form-group col-sm-6" ng-class="{ 'has-error' : taskerEditForm.phone.$invalid && !taskerEditForm.phone.$pristine, 'has-success' : taskerEditForm.phone.$valid && !taskerEditForm.phone.$pristine}">
                                                <label for="phone" class="control-label">Phone</label>
                                                <input type="text" name="tel" id="tel" class="form-control" ng-model="ATSC.tasker.phone" ng-intl-tel-input>
                                                <p class="help-block">
                                                    <span style="color:red" ng-show="taskerEditForm.tel.$invalid && !taskerEditForm.tel.$pristine">Phone is required.</span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-sm-6" ng-class="{ 'has-error' : taskerEditForm.status.$invalid && !taskerEditForm.status.$pristine, 'has-success' : taskerEditForm.status.$valid && !taskerEditForm.status.$pristine}">
                                                <label for="status" class="control-label">Status</label>
                                                <select type="text" name="status" id="status" class="form-control" ng-model="ATSC.tasker.status" convert-to-number required>
                                                    <option value="1">Verified</option>
                                                    <option value="2">Unverified</option>
                                                    <option value="3">Pending</option>
                                                </select>
                                                <p class="help-block">
                                                    <span ng-show="taskerEditForm.status.$invalid && !taskerEditForm.status.$pristine">status is required.</span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="tile-footer text-right bg-tr-black lter dvd dvd-top">
                                            <button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c mb-10" ng-click="ATSC.submitTaskerEditData(taskerEditForm.$valid,ATSC.tasker)">Submit<i class="fa fa-arrow-right"></i></button>
                                        </div>
                                    </form>
                                </div>
                            </tab>
                            <tab heading="Security">
                                <div class="wrap-reset">
                                    <form name="taskerEditForm1" submit-validate role="form" enctype="multipart/form-data" novalidate>
                                        <div class="row">
                                            <div class="form-group col-md-12 legend">
                                                <h4><strong>Security</strong> Settings</h4>
                                                <p>Secure your account</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-sm-12">
                                                <label for="username">Username</label>
                                                <input type="text" class="form-control" id="username" ng-model="ATSC.tasker.username" value="Johny.d" readonly>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-6" ng-class="{ 'has-error' : taskerEditForm1.newpassword.$invalid && !taskerEditForm1.newpassword.$pristine, 'has-success' : taskerEditForm1.newpassword.$valid && !taskerEditForm1.newpassword.$pristine}">
                                                <label for="newpassword">New Password</label>
                                                <input type="password" name="newpassword" id="newpassword" class="form-control" ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,12}$/" ng-minlength="6" ng-maxlength="12" ng-model="ATSC.tasker.newpassword" on-blur-validation required>
                                                <p class="help-block">
                                                    <span ng-show="taskerEditForm1.newpassword.$invalid && !taskerEditForm1.newpassword.$pristine">New Password is required.</span>
                                                    <span class="validerr" style="color:red" ng-show="taskerEditForm1.newpassword.$invalid && !taskerEditForm1.newpassword.$pristine && taskerEditForm1.newpassword.$error.pattern" ">Password Must Contain Atleast One uppercase,One lower case,One Numeric digit"</span>
                                                    <span class="validerr" style="color:red" ng-show="taskerEditForm1.newpassword.$error.minlength">Password must be minimum of 6 characters.</span>
                                                    <span class="validerr" style="color:red" ng-show="taskerEditForm1.newpassword.$error.maxlength">Password must be maximum of 12 characters.</span>
                                                </p>
                                            </div>
                                            <div class="form-group col-md-6" ng-class="{ 'has-error' : taskerEditForm1.new_confirmed.$invalid && !taskerEditForm1.new_confirmed.$pristine, 'has-success' : taskerEditForm1.new_confirmed.$valid && !taskerEditForm1.new_confirmed.$pristine}">
                                                <label for="new_confirmed">Password Confirmation</label>
                                                <input type="password" name="new_confirmed" id="new_confirmed" class="form-control" ng-model="ATSC.tasker.new_confirmed" ui-validate=" '$value==ATSC.tasker.newpassword' " ui-validate-watch=" 'ATSC.tasker.newpassword'" on-blur-validation required>
                                                <p class="help-block">
                                                    <span ng-show='taskerEditForm1.new_confirmed.$error.validator'>Passwords do not match!</span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="tile-footer text-right bg-tr-black lter dvd dvd-top">
                                            <button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c mb-10" ng-click="ATSC.savepassword(taskerEditForm1.$valid,ATSC.tasker)">Submit<i class="fa fa-arrow-right"></i></button>
                                        </div>
                                    </form>
                                </div>
                            </tab>
                            <tab heading="About">
                                <div class="row">
                                    <div class="form-group col-md-12 legend">
                                        <h4><strong>Profile</strong> Settings</h4>
                                        <p>Your Profile Details</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div style="float: left; width: 100%; padding-right: 15px; padding-left: 15px;">
                                        <div class="qas" ng-repeat="profileinfo in ATSC.getQuestion">
                                            <h4 class="question">{{profileinfo.question}}</h4>
                                            <div class="answer">
                                                <textarea rows="4" cols="90" style="resize:vertical;" ng-model="ATSC.profileDetails[profileinfo._id]" required></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tile-footer text-right bg-tr-black lter dvd dvd-top" style="float: left; width: 100%;">
                                        <button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c mb-10" ng-click="ATSC.saveProfile(profileDetails)">Submit<i class="fa fa-arrow-right"></i></button>
                                    </div>
                                </div>
                            </tab>
                            <tab heading="Category">
                                <div class="row">
                                    <div class="form-group col-md-12 legend">
                                        <div style="float: left; width: 80%;">
                                            <h4><strong>Category</strong> Settings</h4>
                                        </div>
                                        <div class="account-section" style="float: right; width: 20%;">
                                            <button type="button" class="btn btn-success" ng-click="ATSC.categoryModal()">Add Category</button>
                                        </div>
                                        <p>Your Category</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" dismiss-on-timeout="{{alertTimeout}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
                                    <div class="category-details" ng-repeat="category in ATSC.taskercategory">
                                        <div class="col-md-8">
                                            <h4 class="category" ng-if="category.childid">{{category.childid.name}}</h4>
                                        </div>
                                        <div class="col-md-4">
                                            <button type="button" class="btn btn-rounded-20 btn-sm btn-info" ng-click="ATSC.categoryModal(category.childid._id)" style="width:30px;"><i class="fa fa-edit" style="margin-left: -2px;"></i>
                                            </button>
                                            <button type="button" class="btn btn-rounded-20  btn-sm btn-warning " ng-click="ATSC.deletecategory(category.childid._id)" style="width:30px;"><i class="fa fa-trash" style="margin-left: -2px;"></i>
                                            </button>
                                            <button type="button" class="btn btn-rounded-20  btn-sm btn-danger" ng-if="category.status == 2" ng-click="ATSC.approvtaskercategory(category.childid._id,1)" style="width:30px;"><i class="fa fa-times" style="margin-left: -2px;"></i>
                                            </button>
                                            <button type="button" class="btn btn-rounded-20  btn-sm btn-success" ng-if="category.status == 1" ng-click="ATSC.approvtaskercategory(category.childid._id,2)" style="width:30px;"><i class="fa fa-check" style="margin-left: -2px;"></i>
                                            </button>
                                        </div>
                                        <br>
                                    </div>
                                </div>
                            </tab>
                            <tab heading="Availability" ng-click="ATSC.AvailabilityMap()">
                                <div style="margin:10px">
                                    <div class="row">
                                        <div class="wrap-reset">
                                            <ul class="availblty">{{ATSC.availabilityModal}}
                                                <li ng-repeat="day in ATSC.availability.days">
                                                    <a href="javascript:;" ng-click="ATSC.availabilityModal($index)">
                                                        <label>{{day}}</label>
                                                        <span>{{((ATSC.workingDays[$index].hour.morning == true) ||
                                                              (ATSC.workingDays[$index].hour.afternoon == true) ||
                                                              (ATSC.workingDays[$index].hour.evening == true ))
                                                              ? 'Selected' : 'Not Working'}}</span>
                                                    </a>
                                                </li>
                                            </ul>
                                            <label class="sublin-hea">Availability Location</label>
                                            <br>
                                            <input class="form-control" name="taskerarea" required type="text" places-auto-complete size=80 ng-model="ATSC.taskerareaaddress" types="['address']" on-place-changed="ATSC.taskerareaChanged()" />
                                            <div class="lop-div-task">
                                                <label class="sublin-hea">Availability radius</label>
                                                <div class="botom-fuls">
                                                    <!-- <input name="taskerarea" required type="text"  ng-model="ATSC.tasker.radius" /> -->
                                                    <div class="input-group mb-10" style="width: 250px;">
                                                        <input class="form-control" name="taskerarea" required type="text" ng-model="ATSC.tasker.radius" ng-change="ATSC.changeRadius()">
                                                        <span class="input-group-addon">KM</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="lop-div-task">
                                                <div class="row">
                                                    <div class="col-sm-9 col-md-6" id="staticmap" style="display: none">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tile-footer text-right bg-tr-black lter dvd dvd-top" style="float: left; width: 100%;">
                                                <button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c mb-10" ng-if="ATSC.taskerareaaddress && ATSC.tasker.radius" ng-click="ATSC.saveAvailability(true)">Submit<i class="fa fa-arrow-right"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </tab>
                            <tab heading="Questions">
                                <div class="wrap-reset">
                                    <form name="taskerQuestionForm" submit-validate role="form" novalidate>
                                        <div class="row">
                                            <div class="form-group col-md-12 legend">
                                                <h4><strong>Questions</strong></h4>
                                                <p>Questions for getting the best jobs</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-sm-6" ng-class="{ 'has-error' : taskerQuestionForm.ethnicity.$invalid && !taskerQuestionForm.ethnicity.$pristine, 'has-success' : taskerQuestionForm.ethnicity.$valid && !taskerQuestionForm.ethnicity.$pristine}">
                                                <label for="ethnicity" class="control-label">What is your ethnicity?</label>
                                                <select type="text" name="ethnicity" id="ethnicity" class="form-control" ng-model="ATSC.tasker.ethnicity" required>
                                                    <option value="Caucasian">Caucasian</option>
                                                    <option value="African American">African American</option>
                                                    <option value="Asian">Asian</option>
                                                    <option value="Native American">Native American</option>
                                                    <option value="Other">Other</option>
                                                </select>
                                                <p class="help-block">
                                                    <span ng-show="taskerQuestionForm.ethnicity.$invalid && !taskerQuestionForm.ethnicity.$pristine">Ethnicity is required.</span>
                                                </p>
                                            </div>
                                            <div class="form-group col-sm-6" ng-class="{ 'has-error' : taskerQuestionForm.disability.$invalid && !taskerQuestionForm.disability.$pristine, 'has-success' : taskerQuestionForm.disability.$valid && !taskerQuestionForm.disability.$pristine}">
                                                <label for="disability" class="control-label">Check of the disabilities that apply to you</label>
                                                <select type="text" name="disability" id="disability" class="form-control" ng-model="ATSC.tasker.disability" required>
                                                    <option value="Disabled veteran">Disabled veteran</option>
                                                    <option value="Wheelchair bound">Wheelchair bound</option>
                                                    <option value="Metal illness">Metal illness</option>
                                                    <option value="Other">Other</option>
                                                </select>
                                                <input class="form-control" name="disability_reason" placeholder="Comment" required type="text" ng-model="ATSC.tasker.disability_reason" ng-if="ATSC.tasker.disability == 'Other'" style="margin-top:10px;" />
                                                <p class="help-block">
                                                    <span ng-show="taskerQuestionForm.disability.$invalid && !taskerQuestionForm.disability.$pristine">Disability is required.</span>
                                                    <span ng-show="taskerQuestionForm.disability_reason.$invalid && !taskerQuestionForm.disability_reason.$pristine">Comment is required.</span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-sm-6">
                                                <label class="control-label">Can you lift 50 punds over your head?</label>
                                                <label class="switch">
                                                    <input class="switch-input" type="checkbox" ng-model="ATSC.tasker.lift_fifty" ng-init="ATSC.tasker.lift_fifty = ATSC.tasker.lift_fifty || 0" />
                                                    <span class="switch-label"></span>
                                                    <span class="switch-handle"></span>
                                                </label>
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label class="control-label">Are you legally able to work in the US?</label>
                                                <label class="switch">
                                                    <input class="switch-input" type="checkbox" ng-model="ATSC.tasker.work_in_us" ng-init="ATSC.tasker.work_in_us = ATSC.tasker.work_in_us || 0" />
                                                    <span class="switch-label"></span>
                                                    <span class="switch-handle"></span>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="row">
                                                <div class="form-group col-sm-6">
                                                    <label for="social_security_no" class="control-label">Social Security Number (XXX-XX-XXXX)</label>
                                                    <input type="text" name="social_security_no" ng-model="ATSC.tasker.social_security_no" id="social_security_no" class="form-control">
                                                </div>    
                                               <div class="form-group col-sm-6">
                                                    <label class="control-label">Can you work in freezer temperature?</label>
                                                    <label class="switch">
                                                        <input class="switch-input" type="checkbox" ng-model="ATSC.tasker.freezer_temp" ng-init="ATSC.tasker.freezer_temp = ATSC.tasker.freezer_temp || 0" />
                                                        <span class="switch-label"></span>
                                                        <span class="switch-handle"></span>
                                                    </label>
                                                </div>  
                                            </div>

                                            <div class="row">
                                                <div class="form-group col-sm-6">
                                                    <label class="control-label">Are you flexible with your hours?</label>
                                                    <label class="switch">
                                                        <input class="switch-input" type="checkbox" ng-model="ATSC.tasker.flexible_hours" ng-init="ATSC.tasker.flexible_hours = ATSC.tasker.flexible_hours || 0" />
                                                        <span class="switch-label"></span>
                                                        <span class="switch-handle"></span>
                                                    </label>
                                                </div>    
                                               <div class="form-group col-sm-6">
                                                    <label class="control-label">Are you bilingual? Spanish, English?</label>
                                                    <label class="switch">
                                                        <input class="switch-input" type="checkbox" ng-model="ATSC.tasker.languages" ng-init="ATSC.tasker.languages = ATSC.tasker.languages || 0" />
                                                        <span class="switch-label"></span>
                                                        <span class="switch-handle"></span>
                                                    </label>
                                                </div>  
                                            </div>

                                            <div class="row">
                                                <div class="form-group col-sm-6">
                                                    <label class="control-label">Do you have a port ID?</label>
                                                    <label class="switch">
                                                        <input class="switch-input" type="checkbox" ng-model="ATSC.tasker.have_portid" ng-init="ATSC.have_portid= ATSC.tasker.have_portid || 0" />
                                                        <span class="switch-label"></span>
                                                        <span class="switch-handle"></span>
                                                    </label>
                                                </div>    
                                               <div class="form-group col-sm-6">
                                                    <label class="control-label">Do you have reliable transportation?</label>
                                                    <label class="switch">
                                                        <input class="switch-input" type="checkbox" ng-model="ATSC.tasker.reliable_transportation" ng-init="ATSC.tasker.reliable_transportation = ATSC.tasker.reliable_transportation || 0" />
                                                        <span class="switch-label"></span>
                                                        <span class="switch-handle"></span>
                                                    </label>
                                                </div>  
                                            </div>


                                        <div class="tile-footer text-right bg-tr-black lter dvd dvd-top">
                                            <button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c mb-10" ng-click="ATSC.submitTaskerQuestion(taskerQuestionForm.$valid,ATSC.tasker)">Submit<i class="fa fa-arrow-right"></i></button>
                                        </div>
                                    </form>
                                </div>
                            </tab>
                            <tab heading="Account Information">
                                <div class="wrap-reset">
                                    <form name="banking" submit-validate role="form" novalidate>
                                        <div class="row">
                                            <div class="form-group col-md-12 legend">
                                                <h4><strong>Bank Account</strong> Settings</h4>
                                                <p>Your Bank Account Informations</p>
                                            </div>
                                            <div role="tabpanel" class="tab-pane" id="banking">
                                                <ul class="paswdsection" style="padding: 0;">
                                                    <li>
                                                        <div class="form-group" ng-class="{ 'has-error' : banking.acc_holder_name.$invalid && !banking.acc_holder_name.$pristine, 'has-success' : banking.acc_holder_name.$valid && !banking.acc_holder_name.$pristine}">
                                                            <label>Account Name:</label>
                                                            <input type="text" name="acc_holder_name" id="acc_holder_name" class="form-control" ng-model="ATSC.banking.acc_holder_name" on-blur-validation required>
                                                            <p class="help-block">
                                                                <span ng-show="banking.acc_holder_name.$invalid && !banking.acc_holder_name.$pristine">Enter The Account Name</span>
                                                            </p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="form-group" ng-class="{ 'has-error' : banking.acc_holder_address.$invalid && !banking.acc_holder_address.$pristine, 'has-success' : banking.acc_holder_address.$valid && !banking.acc_holder_address.$pristine}">
                                                            <label>Address:</label>
                                                            <input type="text" name="acc_holder_address" id="acc_holder_address" class="form-control" ng-model="ATSC.banking.acc_holder_address" on-blur-validation required>
                                                            <p class="help-block">
                                                                <span ng-show="banking.acc_holder_address.$invalid && !banking.acc_holder_address.$pristine">Enter The Address</span>
                                                            </p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="form-group" ng-class="{ 'has-error' : banking.acc_number.$invalid && !banking.acc_number.$pristine, 'has-success' : banking.acc_number.$valid && !banking.acc_number.$pristine}">
                                                            <label>Account Number:</label>
                                                            <input type="text" name="acc_number" id="acc_number" class="form-control" ng-model="ATSC.banking.acc_number" on-blur-validation required>
                                                            <p class="help-block">
                                                                <span ng-show='banking.acc_number.$invalid && !banking.acc_number.$pristine'>Enter Account Number</span>
                                                            </p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="form-group" ng-class="{ 'has-error' : banking.bank_name.$invalid && !banking.bank_name.$pristine, 'has-success' : banking.bank_name.$valid && !banking.bank_name.$pristine}">
                                                            <label>Bank Name:</label>
                                                            <input type="text" name="bank_name" id="bank_name" class="form-control" ng-model="ATSC.banking.bank_name" on-blur-validation required>
                                                            <p class="help-block">
                                                                <span ng-show="banking.bank_name.$invalid && !banking.bank_name.$pristine">Enter The Branch Name</span>
                                                            </p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="form-group" ng-class="{ 'has-error' : banking.branch_name.$invalid && !banking.branch_name.$pristine, 'has-success' : banking.branch_name.$valid && !banking.branch_name.$pristine}">
                                                            <label>Branch:</label>
                                                            <input type="text" name="branch_name" id="branch_name" class="form-control" ng-model="ATSC.banking.branch_name" on-blur-validation required>
                                                            <p class="help-block">
                                                                <span ng-show="banking.branch_name.$invalid && !banking.branch_name.$pristine">Enter The Branch </span>
                                                            </p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="form-group" ng-class="{ 'has-error' : banking.branch_address.$invalid && !banking.branch_address.$pristine, 'has-success' : banking.branch_address.$valid && !banking.branch_address.$pristine}">
                                                            <label>Branch Address:</label>
                                                            <input type="text" name="branch_address" id="branch_address" class="form-control" ng-model="ATSC.banking.branch_address" on-blur-validation required>
                                                            <p class="help-block">
                                                                <span ng-show="banking.branch_address.$invalid && !banking.branch_address.$pristine">Enter The Branch Address</span>
                                                            </p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="form-group" ng-class="{ 'has-error' : banking.swift_code.$invalid && !banking.swift_code.$pristine, 'has-success' : banking.swift_code.$valid && !banking.swift_code.$pristine}">
                                                            <label>IFSC Code:</label>
                                                            <input type="text" name="swift_code" id="swift_code" class="form-control" ng-model="ATSC.banking.swift_code" on-blur-validation required>
                                                            <p class="help-block">
                                                                <span ng-show='banking.swift_code.$invalid && !banking.swift_code.$pristine'>Enter The IFSC</span>
                                                            </p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="form-group" ng-class="{ 'has-error' : banking.routing_number.$invalid && !banking.routing_number.$pristine, 'has-success' : banking.routing_number.$valid && !banking.routing_number.$pristine}">
                                                            <label>Routing Number:</label>
                                                            <input type="text" name="'routing_number" id="routing_number" class="form-control" ng-model="ATSC.banking.routing_number" on-blur-validation required>
                                                            <p class="help-block">
                                                                <span ng-show='banking.routing_number.$invalid && !banking.routing_number.$pristine'>Enter The Routing Number</span>
                                                            </p>
                                                        </div>
                                                    </li>
                                                    <div class="btnholder">
                                                        <input class="bluebtn" ng-click="ATSC.saveaccountinfo(banking.$valid,ATSC.banking)" value="Save" type="submit">
                                                </ul>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </tab>
                            <tab heading="Documents">
                                <div class="wrap-reset">
                                    <form role="form">
                                        <div class="row">
                                            <div class="form-group col-md-12 legend">
                                                <h4><strong>Documents</strong></h4>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-sm-6">
                                                <label class="control-label">Driver License</label>
                                                <figure>
                                                    <img class="img-responsive" ngf-src="ATSC.tasker.driver_license" width="100%">
                                                </figure>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                 <div class="wrap-reset">
                                    <form role="form">
                                        <div class="row">
                                            <div class="form-group col-md-12 legend">
                                                <h4><strong>Uploaded Documents</strong></h4>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-sm-2" ng-repeat="item in ::ATSC.tasker_images">
                                                <figure>
                                                    <img class="img-responsive" ngf-src="item.image" height="150">
                                                </figure>   
                                                <label class="control-label">{{item.type}}</label>                                             
                                            </div>
                                            <ul>

                                        </div>
                                    </form>                                    
                                </div>
                            </tab>
                        </tabset>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<style>
    .btn.btn-sm.btn-danger {
        margin-left: 10px;
    }

    .account {
        padding: 10px
    }

    .btn.btn-sm.btn-danger {
        margin-left: 0px
    }
</style>