<div class="modal-header">
    <h3 class="modal-title">Delete Category</h3>
</div>

<div class="modal-body">
  <lable>Are you sure want to delete this category?</lable>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="DCMIC.ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="DCMIC.cancel()">Cancel</button>
</div>
