<div class="page page-tables-bootstrap">
   <!-- page header -->
   <div class="pageheader">
      <h2>{{ 'Menu.CANCELLATION' | translate }} </h2>
      <div class="page-bar">
         <ul class="page-breadcrumb">
            <li>
               <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
            </li>
            <li>
               <a ui-sref="app.cancellation.list">{{ 'SubMenu.LIST_CANCELLATION' | translate }}</a>
            </li>
            <li>
               <a href="javascript:;">{{ECAL.action}} {{ ECAL.breadcrumb | translate }}</a>
            </li>
         </ul>
      </div>
   </div>
   <!-- /page header -->
   <!-- page content -->
   <div class="pagecontent">
      <!-- row -->
      <div class="row">
         <!-- col -->
         <div class="col-md-12">
            <!-- tile -->
            <section class="tile" >
               <!-- tile header -->
               <div class="tile-header dvd dvd-btm">
                  <h1 class="custom-font">{{ECAL.action}} <strong>Cancellation Reason</strong> </h1>
               </div>
               <!-- /tile header -->
               <div class="tile-body" style="padding-bottom: 80px;">
                  <form class="profile-settings" submit-validate enctype="multipart/form-data" name="cancellationForm"  novalidate>
                    <div class="form-group" ng-class="{ 'has-error' : cancellationForm.name.$invalid && !cancellationForm.name.$pristine, 'has-success' : cancellationForm.name.$valid && !cancellationForm.name.$pristine}">
                       <label for="experienceName">Reason</label>
                       <input type="text" name="name" class="form-control" ng-model="ECAL.editData.reason" id="experienceName" on-blur-validation required>
                       <p class="help-block">
                          <span ng-show="cancellationForm.name.$invalid && !cancellationForm.name.$pristine">Reason is required.</span>
                       </p>
                    </div>
                    <!--<div class="form-group" ng-class="{ 'has-error' : cancellationForm.name.$invalid && !cancellationForm.name.$pristine, 'has-success' : cancellationForm.name.$valid && !cancellationForm.name.$pristine}">
                       <label for="experienceName">Type</label>
                       <input type="text" name="name" class="form-control" ng-model="ECAL.editData.type" id="experienceName" on-blur-validation required>
                       <p class="help-block">
                          <span ng-show="cancellationForm.name.$invalid && !cancellationForm.name.$pristine">Experience is required.</span>
                       </p>
                    </div>-->
                     <div class="form-group" ng-class="{ 'has-error' : cancellationForm.publish.$invalid && !cancellationForm.publish.$pristine, 'has-success' : cancellationForm.publish.$valid && !cancellationForm.publish.$pristine}">
                       <label for="publish">Type</label>
                       <select id="publish" name="publish" ng-model="ECAL.editData.type" class="form-control mb-10" on-blur-validation required>
                          <option style="color:gray"value="">Please select </option>
                          <option value='tasker'>Employee</option>
                          <option value='user'>User</option>
                          <p class="help-block">
                          <span ng-show="cancellationForm.publish.$invalid && !cancellationForm.publish.$pristine">status is required.</span>
                       </p>
                       </select>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : cancellationForm.publish.$invalid && !cancellationForm.publish.$pristine, 'has-success' : cancellationForm.publish.$valid && !cancellationForm.publish.$pristine}">
                       <label for="publish">Status</label>
                       <select id="publish" name="publish" ng-model="ECAL.editData.status" convert-to-number class="form-control mb-10" on-blur-validation required>cfdsf
                         <option value="">Please select</option>
                          <option value='1' selected="1">active</option>
                          <option value='2'>inactive</option>
                          <p class="help-block">
                          <span ng-show="cancellationForm.publish.$invalid && !cancellationForm.publish.$pristine">status is required.</span>
                       </p>
                       </select>
                    </div>




                     <div class="form-group tcol">
                        <button class="btn btn-success btn-ef btn-ef-5 btn-ef-5a" ng-click="ECAL.submit(cancellationForm.$valid,cancellationForm)">
                        <i class="fa fa-upload"></i> <span>Submit</span>
                        </button>
                     </div>
                  </form>
               </div>
            </section>
            <!-- /tile -->
         </div>
         <!-- /col -->
      </div>
      <!-- /row -->
   </div>
   <!-- /page content -->
</div>
