<div class="page page-tables-bootstrap">
  <div class="pageheader">
       <h2>{{ 'Menu.REVIEWS' | translate }} </h2>
       <div class="page-bar">
           <ul class="page-breadcrumb">
               <li><a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a></li>
               <li><a href="javascript:;">{{ 'Menu.REVIEWS' | translate }}</a></li>
               <li><a ui-sref="app.giftCards.giftCardsList" href="#/app/giftCards/gift-cards-list">{{ 'SubMenu.ALL_REVIEWS' | translate }}</a></li>
           </ul>
       </div>
   </div>
    <div class="pagecontent">
        <div class="row">
            <div class="col-md-12">
                <section class="tile" fullscreen="isFullscreen07">
                    <div class="tile-header dvd dvd-btm">
                        <h1 class="custom-font"><strong>Reviews</strong> List</h1>
                    </div>
                    <custom-table data="VRC.table" delete-call="VRC.deletedData"></custom-table>
                </section>
            </div>
        </div>
    </div>
</div>
