<div class="page page-tables-bootstrap">
      <!-- page header -->
      <div class="pageheader">
            <h2>{{ 'Menu.IMAGES' | translate }} </h2>
            <div class="page-bar">
                  <ul class="page-breadcrumb">
                      <li>
                            <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
                      </li>
                      <li>
                            <a ui-sref="app.images.imagelist" >{{ 'SubMenu.IMAGE_LIST' | translate }}</a>
                      </li>
                      <li>
                            <a href="javascript:;" >{{EDIC.role}} {{ 'Menu.IMAGES' | translate }}</a>
                      </li>
                  </ul>
            </div>
      </div>
      <!-- /page header -->
      <!-- page content -->
      <div class="pagecontent">
            <!-- row -->
            <div class="row">
                  <!-- col -->
                  <div class="col-md-12">
                        <!-- tile -->
                        <section class="tile">
                              <!-- tile header -->
                              <div class="tile-header dvd dvd-btm">
                                    <h1 class="custom-font"><strong>Images</strong> Edit</h1>
                              </div>
                              <!-- /tile header -->
                              <div class="tile-body" style="padding-bottom: 80px;">
                                    <form class="profile-settings" submit-validate enctype="multipart/form-data" name="imagesForm" novalidate>
                                          <div class="form-group" ng-class="{ 'has-error' : imagesForm.imagefor.$invalid && !imagesForm.imagefor.$pristine, 'has-success' : imagesForm.imagefor.$valid && !imagesForm.imagefor.$pristine}">
                                                <label for="imagefor">Image path name</label>
                                                <input type="text" name="imagefor" ng-disabled="EDIC.role == 'Edit'" class="form-control" ng-model="EDIC.editImagesData.imagefor"
                                                      id="imagefor" on-blur-validation required>
                                                <p class="help-block">
                                                      <span ng-show="imagesForm.imagefor.$invalid && !imagesForm.imagefor.$pristine">Image for is required</span>
                                                </p>
                                          </div>
                                          <div class="form-group">
                                                <label class="control-label">Select Image</label>
                                                <input ui-jq="filestyle" type="file" ngf-select="temp=true" ng-model="EDIC.editImagesData.image" name="image" ngf-pattern="'image/jpg,image/jpeg,videos/*,application/pdf'"
                                                      ngf-max-size="1MB"  ngf-model-invalid="errorFiles" class="filestyle" ui-options="{ buttonText: 'Select file', iconName: 'fa fa-inbox'}"
                                                      id="image">
                                                <span class="help-block">Allowed files: gif, png, jpg. Max file size 1Mb</span>
                                                <img ng-if="temp" height="150" ngf-src="EDIC.editImagesData.image">
                                                <img ng-if="!temp&&!EDIC.editImagesData.image==''" height="150" ngf-src="EDIC.editImagesData.image">
                                          </div>
                                          <p class="help-block">
                                                <span ng-show="imagesForm.image.$invalid && !imagesForm.image.$pristine" style="color:red;">Image File is required.</span>
                                          </p>
                                          <div class="form-group tcol">
                                                <button class="btn btn-success btn-ef btn-ef-5 btn-ef-5a" ng-click="EDIC.submit(imagesForm.$valid);">
                                                <i class="fa fa-upload"></i> <span>Submit</span>
                                          </button>
                                          </div>
                                    </form>
                              </div>
                        </section>
                        <!-- /tile -->
                  </div>
                  <!-- /col -->
            </div>
            <!-- /row -->
      </div>
      <!-- /page content -->
</div>
