<div class="page page-tables-bootstrap">
   <!-- page header -->
   <div class="pageheader">
      <h2>{{ 'Menu.FAQ' | translate }} </h2>
      <div class="page-bar">
         <ul class="page-breadcrumb">
            <li>
               <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
            </li>
            <li>
               <a ui-sref='app.faq.list'>{{ 'Menu.FAQ' | translate }}</a>
            </li>
            <li>
               <a ui-sref="app.banner.editBanner" href="#/app/banner/edit-banner">{{ EFC.breadcrumb | translate }}</a>
            </li>
         </ul>
      </div>
   </div>
   <!-- /page header -->
   <!-- page content -->
   <div class="pagecontent">
      <!-- row -->
      <div class="row">
         <!-- col -->
         <div class="col-md-12">
            <!-- tile -->
            <section class="tile" >
               <!-- tile header -->
               <div class="tile-header dvd dvd-btm">
                  <h1 class="custom-font"><strong>FAQ</strong> Edit</h1>
               </div>
               <!-- /tile header -->
               <div class="tile-body" style="padding-bottom: 80px;">
                  <form class="profile-settings" submit-validate enctype="multipart/form-data" name="faqForm"  novalidate>
                     <div class="form-group" ng-class="{ 'has-error' : faqForm.question.$invalid && !faqForm.question.$pristine, 'has-success' : faqForm.question.$valid && !faqForm.question.$pristine}">
                        <label for="bannerName">Question</label>
                        <input type="text" name="question" class="form-control" ng-model="EFC.editFaqData.question" id="question" on-blur-validation required>
                        <p class="help-block">
                           <span ng-show="faqForm.question.$invalid && !faqForm.question.$pristine">Question is required.</span>
                        </p>
                     </div>
                     <div class="form-group" ng-class="{ 'has-error' : faqForm.answer.$invalid && !faqForm.answer.$pristine, 'has-success' : faqForm.answer.$valid && !faqForm.answer.$pristine}">
                        <label for="bannerName">Answer</label>
                        <textarea name="answer" class="form-control" ng-model="EFC.editFaqData.answer" id="answer" on-blur-validation required></textarea>
                        <p class="help-block">
                           <span ng-show="faqForm.answer.$invalid && !faqForm.answer.$pristine">Answer is required.</span>
                        </p>
                     </div>

                     <div class="form-group" ng-class="{ 'has-error' : faqForm.publish.$invalid && !faqForm.publish.$pristine, 'has-success' : faqForm.publish.$valid && !faqForm.publish.$pristine}">
                        <label for="publish">Status</label>
                        <select id="publish" name="publish" ng-model="EFC.editFaqData.status" convert-to-number class="form-control mb-10" on-blur-validation required>
                           <option value='1' selected="1">Publish</option>
                           <option value='2'>UnPublish</option>
                           <p class="help-block">
                           <span ng-show="faqForm.publish.$invalid && !faqForm.publish.$pristine">status is required.</span>
                        </p>
                        </select>
                     </div>

                     <div class="form-group tcol">
                        <button class="btn btn-success btn-ef btn-ef-5 btn-ef-5a" ng-click="EFC.submit(faqForm.$valid);">
                        <i class="fa fa-upload"></i> <span>Submit</span>
                        </button>
                     </div>
                  </form>
               </div>
            </section>
            <!-- /tile -->
         </div>
         <!-- /col -->
      </div>
      <!-- /row -->
   </div>
   <!-- /page content -->
</div>
