<section>
    <div class="dashboard dashboardtop">
        <div class="container2">
            <div class="left-sideimg">

                <figure class="fighld">
                    <!-- <img src="app/site/public/images/man.jpg"> -->
                    <img  ng-if="currentUser.avatar" src="{{DBC.currentUser.avatar}}">
                    <!--<img  ng-if="!currentUser.avatar" src="http://localhost:3002/app/site/public/images/avt.jpg" >-->

                </figure>

         </div>
            <div class="rightcntne">
                <h1>{{'WELOCOME'|translate}}, {{username}}!</h1>
                    <!-- <form>
                      <input type="text" class="banner" ng-model="searchData" placeholder="What do you need help with?"
                             uib-typeahead="address as address.name for address in getLocation($viewValue)"
                             typeahead-on-select="search($item, $model, $label)"
                             typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control">
                    </form> -->

                        {{search}}
                        <form ng-submit="search(searchData)" class="dash-srch">
                            <i class="fa fa-search fa-2 new_search" aria-hidden="true"></i> <input type="text" class="banser" ng-model="searchData" placeholder="What do you need help with?"   typeahead-on-select="search($item, $model, $label)" uib-typeahead="address as address.name for address in getLocation($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control">
                        </form>
            </div>
        </div>
    </div>
</section>

<section>
  <div ng-init ="DBC.pageName = 'Featured Jobs'" class="dashboard dashboardmiddle">
    <div class="hirecontainer">
      <div class="container2">
        <div class="dashbdholder">
          <span class="top-text-til">{{'HIRE FOR A RANGE'|translate}}</span>
          <ul class="hireloop">
            <li class="col-md-4" ng-repeat="categoryinfo in DBC.activecategory">
              <div class="prodt-container">
                  <a ui-sref="category({slug:categoryinfo.slug})" href="category({slug:categoryinfo.slug})">
                      <figure><img src="{{categoryinfo.image}}"></figure>
                      <figcaption>
                          <h4 class="futer-text">{{categoryinfo.name}}</h4>
                          <!-- <span class="futer-subtitle">{{categoryinfo.seo.description}}</span> -->
                      </figcaption>
                  </a>
              </div>
          </li>
          </ul>
        </div>
    </div>
    </div>
  </div>
</section>
<script type="text/javascript">
$('.populr-skills li a').click(function(){
$(this).addClass('selected');
$(".populr-skills li a").not(this).removeClass("selected");
var id = $(this).attr('id');
 $(".talt-des").removeClass("actived");
 $("#cata-"+id).addClass("actived");
});
</script>
