<section>
    <div class="product-set bg-color">
        <section class="section-white">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item active">
                        <img ng-src="{{CAC.categoryDatails.image}}" alt="...">
                    </div>
                </div>
                <div class="forms-holer">
                    <div class="container">
                        <div class="main-text search-bar">
                            <span class="bold-text">{{CAC.categoryDatails.name}}</span>
                            <!-- <span class="lighref-text">{{CAC.categoryDatails.seo.description}}</span> -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container">
            <div class="col-md-12 cat-list">
                <ul class="product-list">
                    <li ng-repeat="subcategory in CAC.subcategory">
                        <div class="prodt-container">
                            <a ui-sref="hirestep1({slug:subcategory.slug})">
                                <figure><img ng-src="{{subcategory.image}}" err-src>
                                    <div class="mask"></div>
                                </figure>
                                <figcaption>
                                    <h4 class="futer-text ng-binding"><a ui-sref="hirestep1({slug:subcategory.slug})">{{subcategory.name}}</a></h4>
                                    <!--<span class="futer-subtitle">{{categoryinfo.seo.description}}</span>-->
                                </figcaption>
                            </a>
                        </div>
                        <!--<div class="col-sm-3 ">
                          <div class="fiodure-cente">
                            <figure>
                              <img ng-src="{{subcategory.image}}" err-src>
                            </figure>
                          </div>
                        </div>
                        <div class="col-sm-9">
                          <div class="text-contel">
                            <h2><a ui-sref="hirestep1({slug:subcategory.slug})">{{subcategory.name}}</a></h2>
                            <span>{{subcategory.seo.description}}</span>
                            <a class="cover-btn" ui-sref="hirestep1({slug:subcategory.slug})" href="{{subcategory.slug}}">Select Job</a>
                          </div>
                        </div> -->
                    </li>
                </ul>
                <div ng-if="CAC.totalItems > CAC.itemsPerPage" class="pagination_inner clearfix">
                    <nav>
                        <uib-pagination max-size="5" items-per-page="CAC.itemsPerPage" ng-change="CAC.getSubcategory()" total-items="CAC.totalItems" ng-model="CAC.currentPage" class="pagination" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                    </nav>
                </div>
                <div ng-if="CAC.subcategory.length == 0" style="display:none" record-response="CAC.getSubcategoryResponse" no-record num-records="CAC.subcategory.length">
                    <div class="errorContainer clearfix">
                        <p class="ErrorMsg">{{'SUBCATEGORY_IS_EMPTY'|translate}}</p>
                        <a class="gotoHome" ui-sref="landing" dashboard="landing">{{'GO_TO_HOME'|translate}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
