<div class="page page-tables-bootstrap">
  <div class="pageheader">
    <h2>{{ 'Menu.EARNINGS' | translate }} </h2>
    <div class="page-bar">
      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
        </li>
        <li>
          <a href="javascript:;">{{ 'Menu.EARNINGS' | translate }}</a>
        </li>
        <li>
          <a ui-sref="app.giftCards.giftCardsList" href="#/app/giftCards/gift-cards-list">All {{ 'Menu.EARNINGS' | translate }}</a>
        </li>
      </ul>
    </div>
  </div>


  <div class="col-md-12 tile list-task ">
    <div class="tile list-task ">
      <div class="form-group col-sm-6" ng-class="{ 'has-error' : taskerEditForm.gender.$invalid && !taskerEditForm.gender.$pristine, 'has-success' : taskerEditForm.gender.$valid && !taskerEditForm.gender.$pristine}">
        <div class="tile-header dvd dvd-btm">
          <h1 class="custom-font"><strong>Bill Cycyle</strong></h1>
        </div>
        <select type="text" name="billcycyle" class="form-control" ng-model="ENC.selected" required>
          <!--
          <option value="" >Select Bill Cycle</option>
          <option ng-if="ENC.billcycledate" value='{{ENC.billcycledate}} - {{ENC.tillnow}}'>
            -->
          <option ng-if="!ENC.billcycledate" value=''>No Billing Cycle Genetrated Yet</option>
          <option ng-if="ENC.billcycledate" value=''>{{ENC.billcycledate}} - tillnow</option>
          <option  ng-if="ENC.cycledata.length > 0" ng-repeat="cycledata in ENC.cycledata" value="{{cycledata._id}}">{{cycledata.billingcycyle}}</option>
        </select>
      </div>
      <div class="col-md-6">
        <br>
        <br>
        <input type="submit" class=" btn btn-success" value="submit" ng-click="ENC.replacelist(ENC.selected);">
      </div>
    </div>
  </div>


  <div class="pagecontent">
    <div class="row">
      <div class="col-md-12">
        <section class="tile list-task" fullscreen="isFullscreen07">
          <div class="tile-header dvd dvd-btm">
            <h1 class="custom-font"><strong>Total Earnings</strong></h1>
          </div>
          <custom-table data="ENC.table" delete-call="ENC.deletedData"></custom-table>
        </section>
      </div>
    </div>
  </div>

</div>
<style>
  .btn-success {
    margin-top: 3px;
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
  }
</style>