<div class="page-head">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>{{'MY_ACCOUNT'|translate}}</h1>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="account">
            <uib-tabset class="maintab">
                <uib-tab class="subtainhover" index="$index + 1" ng-repeat="tab in ACC.SettingsTab" heading="{{tab.heading | translate}}" active="tab.active" ng-click="tab.function.init();tab.initFunction;" disable="tab.disabled" class="acc-lst">
                    <ng-include src="'app/site/modules/accounts/views/toggle.html'"></ng-include>
                    <ng-include src="tab.template"></ng-include>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>

