<div id="Transactions">
    <div class="account-section">
        <span>{{'MY_AVAILABILITY_SCHEDULE' | translate}}</span>
    </div>
    <div class="availability">
        <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" dismiss-on-timeout="{{alertTimeout}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
        <label>{{'MY_AVAILABILITY' | translate}}</label>
        <div class="lop-div-task">
            <div class="botom-fuls">
                <ul class="availblty">
                    <li ng-repeat="day in ACC.availability.days" class="text-center">
                        <a href="javascript:void($index)" ng-click="ACC.availabilityModal($index)" class="mb-10">
                            <label>{{day}}</label>
                        </a>
                        <span class="green" ng-if="((ACC.workingDays[$index].hour.morning == true) || (ACC.workingDays[$index].hour.afternoon == true) || (ACC.workingDays[$index].hour.evening == true )) ">
                            {{((ACC.workingDays[$index].hour.morning == true) || (ACC.workingDays[$index].hour.afternoon == true) || (ACC.workingDays[$index].hour.evening == true )) ? 'Selected' : 'Not Working'}}</span>
                        <span class="red" ng-if="!((ACC.workingDays[$index].hour.morning == true) || (ACC.workingDays[$index].hour.afternoon == true) || (ACC.workingDays[$index].hour.evening == true )) ">
                        {{((ACC.workingDays[$index].hour.morning == true) || (ACC.workingDays[$index].hour.afternoon == true) || (ACC.workingDays[$index].hour.evening == true )) ? 'Selected' : 'Not Working'}}</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="lop-div-task">
            <label>{{'AVAILABILITY_LOCATION' | translate}}</label>
            <div class="row">
                <div class="col-sm-9 col-md-6">
                    <input class="form-control" name="taskerarea" required type="text" places-auto-complete ng-model="ACC.taskerareaaddress" types="['address']" on-place-changed="ACC.taskerareaChanged()" />
                </div>
            </div>
        </div>
        <div class="lop-div-task" ng-init="ACC.changeRadius()">
            <label>{{'AVAILABILITY_RADIUS' | translate}}</label>
            <div class="row">
                <div class="col-sm-9 col-md-6">
                    <div class="input-group mb-10 hidden">
                        <input class="form-control" name="taskerarea" required type="text" ng-model="ACC.user.radius" />
                        <span class="input-group-addon">KM</span>
                    </div>
                    <div class="input-group">
                        <input class="form-control" name="taskerarea" required type="text" ng-model="ACC.radius" ng-change="ACC.changeRadius()"/>
                        <span class="input-group-btn">
                            <select class="btn" ng-model="ACC.unit" ng-change="ACC.changeRadius()">
                                <option value="km">KM</option>
                                <option value="mile">Miles</option>
                            </select>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="lop-div-task">
            <div class="row">
                <div class="col-sm-9 col-md-6" id="staticmap" style="display: none">
                </div>
            </div>
        </div>
        <input class="bluebtn savdedit pull-left" value="{{'SUBMIT' | translate}}" type="submit" ng-if="ACC.user.radius" ng-click="ACC.saveAvailability(true)">
    </div>
</div>
