<div class="availabilities-day-form  adminweekmodal">
    <div class="modal-header">
        <button class="close" type="button" ng-click="AAM.cancel()">x</button>
        <span class="headingconflm">{{AAM.day}}</span>
    </div>
    <div class="modal-body">
        <ul class="radio-contr">
            <li>
                <input ng-model="AAM.working_day.hour.morning" ng-init="AAM.working_day.hour.morning = AAM.working_day.hour.morning || false"
                    id="morning" class="u-hidden" type="checkbox" name="windowFields">
                <label class="switch" for="morning"></label>
                <label for="morning">{{'MORNING'|translate}} (8am - 12pm)</label>
            </li>
            <li>
                <input ng-model="AAM.working_day.hour.afternoon" ng-init="AAM.working_day.hour.afternoon = AAM.working_day.hour.afternoon || false"
                    id="afternoon" class="u-hidden" type="checkbox" name="windowFields">
                <label class="switch" for="afternoon"></label>
                <label for="afternoon">{{'AFTERNOON'| translate}}  (12pm - 4pm)</label>
            </li>
            <li>
                <input ng-model="AAM.working_day.hour.evening" ng-init="AAM.working_day.hour.evening = AAM.working_day.hour.evening || false"
                    id="evening" class="u-hidden" type="checkbox" name="windowFields">
                <label class="switch" for="evening"></label>
                <label for="evening">{{'EVENING' | translate}} (4pm - 8pm)</label>
            </li>
        </ul>
    </div>
    <input type="hidden" ng-init="AAM.working_day.day = AAM.day" ng-model="AAM.working_day.day">

    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="AAM.ok(AAM.working_day, AAM.index)">{{'OK' | translate}}</button>
    </div>
</div>
