<div role="tabpanel" class="cat-tab" id="Transactions">
    <div class="account-section">
        <span>{{'CATEGORY' | translate}}</span>
        <button type="button" class="btn btn-default" ng-click="ACC.categoryModal()">{{'ADD_CATEGORY' | translate}}</button>
    </div>
    <div ng-if="!ACC.usercategories.length" class="emptyfie">
        <span>{{'NOTHING_ADDED_IN_THIS_LIST' | translate}}</span>
    </div>
    <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" dismiss-on-timeout="{{alertTimeout}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
    <div class="admn-details" ng-repeat="category in ACC.usercategories">
        <li>
            <span class="verifyimg_new"></span>
            <span ng-if="category.status == 1">{{category.childid.name}} <l class="green">({{'Verified' | translate}})</l></span>&nbsp;&nbsp;
            <span ng-if="category.status == 2">{{category.childid.name}} <l class="red">({{'Not Verified' | translate}})</l></span>
            <a href="javascript:;" ng-click="ACC.categoryModal(category.childid._id)" class="btn btn-action" title="{{'EDIT'|translate}}"><i class="fa fa-pencil"></i></a>
            <a href="javascript:;" ng-click="ACC.deletecategory(category.childid._id)" class="btn btn-action" title="{{'DELETE'|translate}}"><i class="fa fa-trash"></i></a>
        </li>
    </div>
</div>
