<div class="modal-header">
    <h3 class="modal-title">{{ACM.mode}} {{'CATEGORY' | translate}}</h3>
</div>
<div class="modal-body cat-add-pop">
    <form class="form-horizontal col-sm-12" name="selectcategoryform" role="form" enctype="multipart/form-data" submit-validate novalidate>
        <div class="form-group" ng-class="{ 'has-error' : selectcategoryform.catname.$invalid && !selectcategoryform.catname.$pristine, 'has-success' : selectcategoryform.catname.$valid && !selectcategoryform.catname.$pristine}">
            <label class="control-label"> {{'PARENT_CATEGORY' | translate}}</label>
            <select class="form-control" ng-disabled="ACM.role == 'Edit'" name="patname" id="patname" ng-model="ACM.selectedCategoryData.categoryid" ng-change="ACM.onChangeCategory(ACM.selectedCategoryData.categoryid)" on-blur-validation required>
                <option value=''> {{'SELECT_CATEGORY' | translate}}</option>
                <option ng-if="!category.parent" ng-repeat="category in ACM.categories" value="{{category._id}}">{{category.name}}</option>
            </select>
            <label ng-show="selectcategoryform.patname.$invalid && !selectcategoryform.patname.$pristine">Category Name is required.</label>
        </div>
        <div ng-if="ACM.selectedCategoryData.categoryid" class="form-group" ng-class="{ 'has-error' : selectcategoryform.catname.$invalid && !selectcategoryform.catname.$pristine, 'has-success' : selectcategoryform.catname.$valid && !selectcategoryform.catname.$pristine}">
            <label class="control-label">{{'CATEGORY_NAME' | translate}}</label>
            <select ng-disabled="ACM.role == 'Edit'" class="form-control" name="catname" id="catname" ng-model="ACM.selectedCategoryData.childid" ng-change="ACM.onChangeCategoryChild(ACM.selectedCategoryData.childid)" on-blur-validation required>
                <option value=''>{{'SELECT_CATEGORY' | translate}}</option>
                <option ng-repeat="category in ACM.categories" ng-if="ACM.selectedCategoryData.categoryid==category.parent" value="{{category._id}}">{{category.name}}</option>
            </select>
            <label ng-show="selectcategoryform.catname.$invalid && !selectcategoryform.catname.$pristine">Category Name is required.</label>
        </div>
        <input type="hidden" class="form-control" name="someData" id="someData" ng-model="ACM.selectedCategoryData.userid" on-blur-validation required>
        <div class="category-details" ng-show="ACM.selectedCategoryData.childid">
            <div class="form-group" ng-class="{ 'has-error' : selectcategoryform.quick_pitch.$invalid && !selectcategoryform.quick_pitch.$pristine, 'has-success' : selectcategoryform.quick_pitch.$valid && !selectcategoryform.quick_pitch.$pristine}">
                <label class="control-label">{{'QUICK_PITCH' | translate}}</label>
                <textarea class="form-control" name="quick_pitch" id="quick_pitch" ng-model="ACM.selectedCategoryData.quick_pitch" rows="3" on-blur-validation required>></textarea>
                <p class="help-block">
                    <span ng-show="selectcategoryform.quick_pitch.$invalid && !selectcategoryform.quick_pitch.$pristine">Quick Pitch is required.</span>
                </p>
            </div>
            <!--
            <div class="form-group chk-bx">
                <input type="checkbox" name="task" id="task" ng-model="ACM.selectedCategoryData.terms" on-blur-validation required>
                <label class="control-label">{{'I_WILL_EMBODY_THE_JOBFIXER_PLEDGE_IN_DOING_THESE_JOBS' | translate}}</label>
                <label style="margin-bottom: -192px;color:red" ng-show="selectcategoryform.task.$invalid && !selectcategoryform.task.$pristine">check box is required.</label>
            </div>
            -->
            <div class="form-group">
                <label class="control-label">{{'SET_HOURLY_RATE' | translate}} ( {{'MINIMUM_HOURLY_RATE_IS' | translate}} {{ACM.defaultcurrency[0].symbol}} {{ACM.MinimumAmount * ACM.defaultcurrency[0].value | number:2 }} /hr)</label>
                <div class="input-group">
                    <span class="input-group-addon"> {{ACM.defaultcurrency[0].symbol}} </span>
                    <input type="number" name="rate" id="rate" class="form-control" ng-model="ACM.selectedCategoryData.hour_rate " id="exampleInputEmail1" min="{{ACM.MinimumAmount * ACM.defaultcurrency[0].value | number:2 }}" on-blur-validation required>
                </div>
                <p class="help-block">
                    <label style="margin-left: 3px;color:red" ng-show="selectcategoryform.rate.$error.min">Minimum hourly rate should be {{ACM.defaultcurrency[0].symbol}} {{ACM.MinimumAmount* ACM.defaultcurrency[0].value | number:2}} /hr.</label>
                    <label style="margin-bottom: -192px;color:red" ng-show="selectcategoryform.rate.$invalid && !selectcategoryform.rate.$pristine && selectcategoryform.rate.$error.required">Hourly Rate is required.</label>
                </p>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : selectcategoryform.levels.$invalid && !selectcategoryform.levels.$pristine, 'has-success' : selectcategoryform.levels.$valid && !selectcategoryform.levels.$pristine}">
                <label class="control-label">{{'LEVEL_OF_EXPERIENCE' | translate}}</label>
                <select name="levels" class="form-control" id="rate" ng-model="ACM.selectedCategoryData.experience" on-blur-validation required>
                    <option value=''>{{'SELECT_YOUR_EXPERIENCE' | translate}}</option>
                    <option ng-repeat="experience in ACM.experiences" value="{{experience._id}}">{{experience.name}}</option>
                </select>
                <p class="help-block">
                    <label style="margin-bottom: -192px;color:red" ng-show="selectcategoryform.levels.$invalid && !selectcategoryform.levels.$pristine">experience is required.</label>
                </p>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="submit" ng-click="ACM.ok(selectcategoryform.$valid)">{{'OK' | translate}}</button>
    <button class="btn btn-default" type="button" ng-click="ACM.cancel()">{{'CANCEL' | translate}}</button>
</div>
