<div class="modal-header">
    <h3 class="modal-title">{{'DEACTIVATE_YOUR_ACCOUNT' | translate}}</h3>
</div>

<div class="modal-body">
    <form class="form-horizontal col-sm-12" enctype="multipart/form-data">
        <div class="form-group">
            <label class="control-label">{{'ARE_YOU_SURE_DEACTIVATE_YOUR_ACCOUNT' | translate}}</label>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="DECM.ok()">{{'OK' | translate}}</button>
    <button class="btn btn-default" type="button" ng-click="DECM.cancel()">{{'CANCEL' | translate}}</button>
</div>
