<div class="modal-header">
    <h3 class="modal-title">{{'DELETE_CATEGORY' | translate}}</h3>
</div>

<div class="modal-body">
  <lable>{{'ARE_YOU_SURE_WANT_TO_DELETE_THIS_CATEAGORY' | translate}}?</lable>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="DACM.ok()">{{'OK' | translate}}</button>
    <button class="btn btn-default" type="button" ng-click="DACM.cancel()">{{'CANCEL' | translate}}</button>
</div>
