<form name="taskerDocumentForm" submit-validate role="form" novalidate>
    <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" dismiss-on-timeout="{{alertTimeout}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
    <div role="tabpanel" id="Password">
        <div class="account-section">
            <span>{{'DRIVER_LICENSE' | translate}}</span>
        </div>
        <ul class="paswdsection">
            <li>
                <figure style="margin-bottom: 10px;">
                    <img ngf-src="ACC.user.driver_license" height="200">
                </figure>
                <div class="form-group" ng-class="{ 'has-error' : taskerDocumentForm.image.$invalid && !taskerDocumentForm.image.$pristine, 'has-success' : taskerDocumentForm.image.$valid && !taskerDocumentForm.image.$pristine}">
                    <input class="bluebtn savdedit" ui-jq="filestyle" type="button" ngf-select="temp=true" ng-model="ACC.user.driver_license" name="image" ngf-pattern="'image/jpg,image/jpeg,image/png,image/gif/*'" ngf-max-size="1MB" ngf-model-invalid="errorFiles"
                        class="filestyle" ui-options="{ buttonText: 'Select file', iconName: 'fa fa-inbox'}" id="image" value="Upload"
                        checkFileSize required>
                    <span class="help-block">Allowed files: gif, png, jpg. Max file size 1Mb</span>
                    <p class="help-block">
                        <span ng-show="taskerDocumentForm.image.$invalid && !taskerDocumentForm.image.$pristine" style="color:red;">{{'DRIVER_LICENSE_IS_REQUIRED' | translate}}.</span>
                    </p>
                </div>
            </li>
            <div class="btnholder">
                <input class="bluebtn" ng-click="ACC.saveTaskerDocument(taskerDocumentForm.$valid)" value="{{'SAVE' | translate}}" type="submit" ng-if="ACC.user.role=='tasker'">
            </div>
        </ul>
    </div>
</form>
