<div role="tabpanel" id="Notifications">
    <div class="account-section">
        <span>Notifications</span>
    </div>
    <div class="table-container">
        <table class="table tableborder">
            <thead>
                <tr>
                    <th>Form of Communication</th>
                    <th>Email</th>
                    <th>SMS</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Job Updates</td>
                    <td>
                        <input type="checkbox" name="job_updates_email" disabled="">
                    </td>
                    <td>
                        <input type="checkbox" name="job_updates_sms">
                    </td>
                </tr>
                <tr>
                    <td>Mailing List</td>
                    <td>
                        <input type="checkbox" name="mailing_list_subscribed">
                    </td>
                    <td> </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="btnholder">
        <input class="borderbtn" value="Cancel" type="submit">
        <input class="bluebtn" value="Save" type="submit">
    </div>
</div>
