<form name="passwordform" submit-validate role="form" novalidate>
    <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" dismiss-on-timeout="{{alertTimeout}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
    <div role="tabpanel" id="Password">
        <div class="account-section">
            <span>{{'CHANGE_PASSWORD' | translate}}</span>
        </div>
        <ul class="paswdsection">
            <li>
                <div class="form-group" ng-class="{ 'has-error' : passwordform.opswd.$invalid && !passwordform.opswd.$pristine, 'has-success' : passwordform.opswd.$valid && !passwordform.opswd.$pristine}">
                    <label>{{'ENTER_CURRENT_PASSWORD' | translate}}:</label>
                    <input type="password" name="opswd" id="opswd" class="form-control" ng-model="ACC.password.old" on-blur-validation required>
                    <p class="help-block">
                        <span ng-show="passwordform.opswd.$invalid && !passwordform.opswd.$pristine">{{'ENTER THE OLD PASSWORD'|translate}}</span>
                    </p>
                </div>
            </li>
            <li>
                <div class="form-group" ng-class="{ 'has-error' : passwordform.npswd.$invalid && !passwordform.npswd.$pristine, 'has-success' : passwordform.npswd.$valid && !passwordform.npswd.$pristine}">
                    <label>{{'ENTER_NEW_PASSWORD' | translate}}:</label>
                    <input type="password" name="npswd" id="npswd" class="form-control" ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,12}$/" ng-minlength="6" ng-maxlength="12" ng-model="ACC.password.newpassword" on-blur-validation required>
                    <p class="help-block">
                        <span ng-show="passwordform.npswd.$invalid && !passwordform.npswd.$pristine">{{'ENTER THE NEW PASSWORD'|translate}}</span>
                        <span ng-show="passwordform.npswd.$invalid && !passwordform.npswd.$pristine && passwordform.npswd.$error.pattern">{{'PASSWORD MUST CONTAIN ATLEAST ONE UPPERCASE,ONE LOWER CASE,ONE NUMERIC DIGIT' | translate}}.</span>
                        <span ng-show="passwordform.npswd.$error.minlength">{{'PASSWORD MUST BE MINIMUM OF 6 CHARACTERS' | translate}}.</span>
                        <span ng-show="passwordform.npswd.$error.maxlength">{{'PASSWORD MUST BE MAXIMUM OF 12 CHARACTERS' | translate}}.</span>
                    </p>
                </div>
            </li>
            <li>
                <div class="form-group" ng-class="{ 'has-error' : passwordform.cpswd.$invalid && !passwordform.cpswd.$pristine, 'has-success' : passwordform.cpswd.$valid && !passwordform.cpswd.$pristine}">
                    <label>{{'CONFIRM_NEW_PASSWORD' | translate}}:</label>
                    <input type="password" name="cpswd" id="cpswd" class="form-control" ng-model="ACC.password.new_confirmed" ui-validate=" '$value==ACC.password.newpassword' " ui-validate-watch=" 'ACC.password.new_confirmed'" on-blur-validation required>
                    <p class="help-block">
                        <span ng-show='passwordform.cpswd.$invalid && !passwordform.cpswd.$pristine'>{{'PASSWORD DO NOT MATCH' | translate}}!</span>
                    </p>
                </div>
            </li>
            <div class="btnholder">
                <input class="bluebtn" ng-click="ACC.saveTaskerPassword(passwordform.$valid,ACC.password)" value="{{'SAVE' | translate}}" type="submit" ng-if="ACC.user.role=='tasker'">
                <input class="bluebtn" ng-click="ACC.savePassword(passwordform.$valid,ACC.password)" value="{{'SAVE' | translate}}" type="submit" ng-if="ACC.user.role== 'user'">
            </div>
        </ul>
    </div>
</form>
