<div id="profileinfo">
  <div class="account-section">
    <span>{{'Profile' | translate}}</span>
  </div>
  <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" dismiss-on-timeout="{{alertTimeout}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
  <div class="lop-div-task" ng-repeat="profileinfo in ACC.getQuestion">
    <span>{{profileinfo.question}}</span>
    <div class="row">
      <ul class="radio-live">
        <li>
          <div class="col-sm-9 col-md-6">
            <textarea rows="4" cols="90" style="resize:vertical;" ng-model="ACC.profileDetails[profileinfo._id]" required></textarea>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="btnholder ">
    <input class="bluebtn savdedit" ng-click="ACC.saveProfile(profileDetails)" value="{{'SAVE' | translate}}" type="submit">
  </div>
</div>
