<form name="taskerQuestionForm" submit-validate role="form" novalidate>
    <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" dismiss-on-timeout="{{alertTimeout}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
    <div role="tabpanel" id="Password">
        <div class="account-section">
            <span>{{'QUESTIONS' | translate}}</span>
        </div>
        <ul class="paswdsection">
            <li>
                <div class="form-group" ng-class="{ 'has-error' : taskerQuestionForm.ethnicity.$invalid && !taskerQuestionForm.ethnicity.$pristine, 'has-success' : taskerQuestionForm.ethnicity.$valid && !taskerQuestionForm.ethnicity.$pristine}">
                    <label for="ethnicity">{{'WHAT_IS_YOUR_ETHNICITY' | translate}}?</label>
                    <select type="text" name="ethnicity" id="ethnicity" class="form-control" ng-model="ACC.user.ethnicity" required style="float: none;">
                        <option value="Caucasian">Caucasian</option>
                        <option value="African American">African American</option>
                        <option value="Asian">Asian</option>
                        <option value="Native American">Native American</option>
                        <option value="Other">Other</option>
                    </select>
                    <p class="help-block">
                        <span ng-show="taskerQuestionForm.ethnicity.$invalid && !taskerQuestionForm.ethnicity.$pristine">{{'SELECT_AN_ETHNICITY' | translate }}.</span>
                    </p>
                </div>
            </li>
            <li>
                <div class="form-group" ng-class="{ 'has-error' : taskerQuestionForm.disability.$invalid && !taskerQuestionForm.disability.$pristine, 'has-success' : taskerQuestionForm.disability.$valid && !taskerQuestionForm.disability.$pristine}">
                    <label for="disability">{{'CHECK_OF_THE_DISABLILITIES_THAT_APPLY_TO_YOU' | translate}}</label>
                    <select type="text" name="disability" id="disability" class="form-control" ng-model="ACC.user.disability" required style="float: none;">
                        <option value="Disabled veteran">Disabled veteran</option>
                        <option value="Wheelchair bound">Wheelchair bound</option>
                        <option value="Metal illness">Metal illness</option>
                        <option value="Other">Other</option>
                    </select>
                    <input class="form-control" name="disability_reason" placeholder="Comment" required type="text" ng-model="ACC.user.disability_reason" ng-if="ACC.user.disability == 'Other'" style="margin-top:10px;" />
                    <p class="help-block">
                        <span ng-show="taskerQuestionForm.disability.$invalid && !taskerQuestionForm.disability.$pristine">{{'SELECT_A_DISABILITY' | translate }}.</span>
                        <span ng-show="taskerQuestionForm.disability_reason.$invalid && !taskerQuestionForm.disability_reason.$pristine" style="color: #a94442; font-size: 12px;">{{'ENTER_THE_DISABILITY' | translate }}.</span>
                    </p>
                </div>
            </li>
            <li>
                <div class="lop-div-task onoffswitch availabilities-day-form form-group">
                    <label style="display: block;">{{'CAN_YOU_LIFT_50_PUNDS_OVER_YOUR_HEAD' | translate}}</label>
                    <input type="checkbox" checked="" id="switch01" class="u-hidden onoffswitch-checkbox" name="lift_fifty" ng-model="ACC.user.lift_fifty" ng-init="ACC.user.lift_fifty = ACC.user.lift_fifty || 0">
                    <label for="switch01" class="onoffswitch-label switch">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div>
            </li>
            <li>
                <div class="lop-div-task onoffswitch availabilities-day-form form-group">
                    <label style="display: block;">{{'ARE_YOU_LEGALLY_ABLE_TO_WORK_IN_THE_US' | translate}}</label>
                    <input type="checkbox" checked="" id="switch02" class="u-hidden onoffswitch-checkbox" name="work_in_us" ng-model="ACC.user.work_in_us" ng-init="ACC.user.work_in_us = ACC.user.work_in_us || 0">
                    <label for="switch02" class="onoffswitch-label switch">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div>
            </li>
            <div class="btnholder">
                <input class="bluebtn" ng-click="ACC.saveTaskerQuestion(taskerQuestionForm.$valid)" value="{{'SAVE' | translate}}" type="submit" ng-if="ACC.user.role=='tasker'">
            </div>
        </ul>
    </div>
</form>
