<div ng-init= "ACC.getreviewdetails();" role="tabpanel" id="Transactions" read-only="true" >
  <uib-tabset class="tabdetails" active="active">
    <uib-tab index="0" ng-click="ACC.currentPage= 1; ACC.getreviewdetails(1)" heading="{{'REVIEWS_TO_YOU' | translate}}">
      <ng-include src="'app/site/modules/accounts/views/reviews.sub.tab.html'"></ng-include>
    </uib-tab>
	 <uib-tab index="1" ng-click="ACC.currentPage= 1; ACC.getuserreviewdetails(1)" heading="{{'REVIEWS_BY_YOU' | translate}}">
      <ng-include src="'app/site/modules/accounts/views/reviews.sub.tab.html'"></ng-include>
    </uib-tab>
    <!--<uib-tab index="0" ng-click="ACC.currentPage= 1; ACC.getTaskDetailsByStaus(2)" heading="Accepted">
      <ng-include src="'app/site/modules/accounts/views/task-invitation.sub.tab.html'"></ng-include>
    </uib-tab>
    <uib-tab index="1" ng-click="ACC.currentPage= 1; ACC.getTaskDetailsByStaus(3)" heading="Ongoing">
      <ng-include src="'app/site/modules/accounts/views/task-invitation.sub.tab.html'"></ng-include>
    </uib-tab>
    <uib-tab index="2" ng-click="ACC.currentPage= 1;ACC.getTaskDetailsByStaus(4)" heading="Completed ">
      <ng-include src="'app/site/modules/accounts/views/task-invitation.sub.tab.html'"></ng-include>
    </uib-tab>
    <uib-tab index="3" ng-click="ACC.currentPage= 1; ACC.getTaskDetailsByStaus(5)" heading="Cancelled ">
      <ng-include src="'app/site/modules/accounts/views/task-invitation.sub.tab.html'"></ng-include>
    </uib-tab>
    <uib-tab index="4" ng-click="ACC.currentPage= 1;ACC.getTaskDetailsByStaus(6)" heading="Disputed ">
      <ng-include src="'app/site/modules/accounts/views/task-invitation.sub.tab.html'"></ng-include>
    </uib-tab>-->
  </uib-tabset>
</div>
