<div ng-init= "ACC.getreviewdetails();" role="tabpanel" id="Transactions" read-only="true" >

<div ng-if="!ACC.getReview.length" class="emptyfie">
  <!-- <span>{{'NOTHING_ADDED_IN_YOUR_JOB_LIST' | translate}}</span> -->
  <span ng-if="ACC.taskervariable.currentUser.user_type == 'tasker' && ACC.index== 0  ">{{'YOU HAVE NOT RECEIVED ANY REVIEWS YET' | translate}}</span>
  <span ng-if="ACC.taskervariable.currentUser.user_type == 'tasker' && ACC.index== 1  ">{{'YOU HAVE NOT REVIEWED ANYONE YET' | translate}}</span>
  <span ng-if="ACC.taskervariable.currentUser.user_type == 'user' && ACC.index== 0  ">{{'YOU HAVE NOT RECEIVED ANY REVIEWS YET' | translate}}</span>
  <span ng-if="ACC.taskervariable.currentUser.user_type == 'user' && ACC.index== 1  ">{{'YOU HAVE NOT REVIEWED ANYONE YET' | translate}}</span>

</div>
<ul ng-if = "ACC.getReview.length > 0" class="tablesection">
   <div class="table-responsive">
     <table class="table">
         <thead>
            <tr>
               <th>#</th>
               <th>{{'BOOKING_ID' | translate}}</th>
               <th>{{'JOB' | translate}}</th>
               <th ng-if=" ACC.user.role == 'tasker' ">{{'USER' | translate}}</th>
                <th ng-if=" ACC.user.role == 'user' ">{{'EMPLOYEE' | translate}}</th>
                <!-- <th>{{'EMPLOYEE' | translate}}</th> -->
               <th>{{'DATE' | translate}}</th>
               <th  style="width:50px;">{{'ACTIONS' | translate}}</th>
            </tr>
         </thead>
         <tbody>
            <tr ng-repeat = "reviews in ACC.finalResult" >
               <td>{{$index + 1}}</td>
               <td>{{reviews.task.booking_id}}</td>
               <td>{{reviews.task.booking_information.work_type}}</td>
              <td ng-if=" ACC.user.role == 'tasker' && reviews.user.username">{{reviews.user.username}}</td>
			          <td  ng-if=" ACC.user.role == 'user' && reviews.user.username ">{{reviews.tasker.username}}</td>

                <!-- <td ng-if=" ACC.user.role == 'tasker'">{{reviews.user.name.first_name}} {{reviews.user.name.last_name}}</td>
                 <td  ng-if=" ACC.user.role == 'user' ">{{reviews.tasker.name.first_name}} {{reviews.tasker.name.last_name}}</td>
                  -->
                <td>{{reviews.createdAt |date}}</td>
			          <td>  <a href="javascript:void(0)" ng-click="ACC.reviewModal(reviews,reviews.task)" class="btn btn-secondary js-deactivate-trigger confrm conform"
                      style="width:80px;">{{'VIEW' | translate}}</a></td>
            </tr>
         </tbody>
      </table>
   </div>
</ul>

<div ng-if = "ACC.getReview.length > 0" class="pagination_inner clearfix">
    <nav>
      <uib-pagination max-size="5" items-per-page= "ACC.reviewListitemsPerPage" ng-change="ACC.getreviewdetails()" total-items="ACC.reviewListtotalItem" ng-model="ACC.reviewListCurrentPage" class="pagination" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
		</nav>
</div>

