<div role="tabpanel" id="Transactions">
    <div class="account-section">
        <span>{{'STRIPE_CONNECT' | translate}}</span>
    </div>
    <div ng-if="!ACC.getStripe.stripe_connect.access_token" class="centertexts">
        <a href="{{ACC.stripConnectUrl}}" class="stripe-connect"><span>{{'CONNECT_WITH_STRIPE' | translate}}</span></a>
        <label class="fnt-text">{{'YOUR_STRIPE_ACCOUNT_WITH_OUR_WEBSITE' | translate}}</label>
    </div>
    <div ng-if="ACC.getStripe.stripe_connect.access_token">
        <label class="fnt-text" style="color:black;">{{'STRIPE_CONNECTED_SUCCESSFULLY' | translate}}</label>
    </div>
    <ul ng-if="ACC.stripeConnect == true" class="paswdsection">
        <li>
            <div class="form-group">
                <label>{{'STRIPE_PUBLISHABLE_KEY' | translate}}:</label>
                <input type="text" ng-readonly="true" value={{ACC.getStripe.stripe_connect.stripe_publishable_key}} class="form-control">
            </div>
        </li>
        <li>
            <div class="form-group">
                <label>{{'STRIPE_USER_ID' | translate}}:</label>
                <input type="text" ng-readonly="true" value={{ACC.getStripe.stripe_connect.stripe_user_id}} class="form-control">
            </div>
        </li>
        <li>
            <div class="form-group">
                <label>{{'ACCESS_TOKEN' | translate}}:</label>
                <input type="text" ng-readonly="true" value={{ACC.getStripe.stripe_connect.access_token}} class="form-control">
            </div>
        </li>
        <li>
            <div class="form-group">
                <label>{{'REFRESH_TOKEN' | translate}}:</label>
                <input type="text" ng-readonly="true" value={{ACC.getStripe.stripe_connect.refresh_token}} class="form-control">
            </div>
        </li>
        <div class="btnholder">
            <input class="bluebtn" ng-click="ACC.updateStripeError()" value="{{'CLEAR' | translate}}" type="submit">
        </div>
    </ul>
</div>
