<ul ng-if="ACC.taskInvitation.length > 0" class="tablesection">
    <div class="table-responsive">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>{{'BOOKING_ID' | translate}}</th>
                        <th>{{'CATEGORY' | translate}}</th>
                        <th>{{'ADDRESS' | translate}}</th>
                        <th>{{'USER_NAME' | translate}}</th>
                        <th ng-if="ACC.taskInvitation[0].status == 6 || ACC.taskInvitation[0].status == 7">{{'TOTAL_AMOUNT' | translate}}</th>
                        <th ng-if="ACC.taskInvitation[0].status == 1 || ACC.taskInvitation[0].status == 2 || ACC.taskInvitation[0].status  == 8 || ACC.taskInvitation[0].status == 3 || ACC.taskInvitation[0].status == 4 || ACC.taskInvitation[0].status == 5">{{'STATUS' | translate}}</th>
                        <th>{{'ACTIONS' | translate}}</th>
						<th ng-if="ACC.taskInvitation[0].status == 6 || ACC.taskInvitation[0].status == 7">{{'PAYMENT_STATUS' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="taskDetails in ACC.taskInvitation" class="row-tbl">
                        <td>{{ACC.taskitemsPerPage * (ACC.CurrentPage - 1)+$index+1}}</td>
                        <td>{{taskDetails.booking_id}}</td>
                        <td>{{taskDetails.category.name}}</td>
                        <td><span ng-if="taskDetails.billing_address.line2">{{taskDetails.billing_address.line2}},</span> <span ng-if="taskDetails.billing_address.line1">{{taskDetails.billing_address.line1}},</span><span ng-if="taskDetails.billing_address.city">{{taskDetails.billing_address.city}},</span><span ng-if="taskDetails.billing_address.state">{{taskDetails.billing_address.state}},</span><span ng-if="taskDetails.billing_address.zipcode">{{taskDetails.billing_address.zipcode}}</span></td>
                        <td>{{taskDetails.user.username}}</td>
                        <td ng-if="ACC.taskInvitation[0].status == 6 || ACC.taskInvitation[0].status == 7">{{rc.DefaultCurrency[0].symbol}} {{taskDetails.invoice.amount.total  * rc.DefaultCurrency[0].value | number:2}}</td>
                    <td ng-if="ACC.taskInvitation[0].status == 1 || ACC.taskInvitation[0].status == 2 || ACC.taskInvitation[0].status  == 8 || ACC.taskInvitation[0].status == 3 || ACC.taskInvitation[0].status == 4 || ACC.taskInvitation[0].status == 5">
						<li ng-if="taskDetails.status == 1">
						 <div> <label style="color:red">{{'PENDING' | translate}}</label></div>
						 </li>
						<li ng-if="taskDetails.status == 2">
                        <div> <label style="color:green">{{'ACCEPTED' | translate}}</label></div>
						</li>
						<li ng-if="taskDetails.status == 3">
                        <div> <label style="color:orange">{{'START_OFF' | translate}}</label></div>
						</li>
						<li ng-if="taskDetails.status == 4">
                        <div> <label style="color:orange">{{'ARRIVED' | translate}}</label></div>
						</li>
						<li ng-if="taskDetails.status == 5">
                        <div> <label style="color:orange">{{'JOB_STARTED' | translate}}</label></div>
						</li>
						<li ng-if="taskDetails.status == 8">
                        <div> <label style="color:orange">{{'JOB_CANCELLED' | translate}}</label></div>
                    </li>
					</td>
                        <td  class="slidetd mob-actions">
                           <a task-action href="" uib-dropdown-toggle> <i  class="fa fa-pencil-square-o actionclick"></i></a>
                            <ul class="action-space" style="display: none;">
                                <li ng-if="taskDetails.status == 1 || taskDetails.status == 2 || taskDetails.status == 3 || taskDetails.status == 4 || taskDetails.status == 5 || taskDetails.status == 8"> <a ng-click="ACC.TaskInviteViewModal($index)" href="javascript:void(0)" class="btn btn-secondary js-deactivate-trigger confrm conform" style="width:80px; width: auto !important; padding: 0 12px;">{{'VIEW' | translate}} </a></li>
                                <li ng-if="taskDetails.status == 1"> <a ng-click="ACC.ignoreTask(taskDetails._id,8)" class="btn btn-secondary js-deactivate-trigger confrm conform"
                                        style="width:80px; width: auto !important; padding: 0 12px;">{{'IGNORE' | translate}} </a></li>
                                <li ng-if="taskDetails.status == 1"> <a ng-click="ACC.taskerconfirmtask(taskDetails._id,2)" class="btn btn-secondary js-deactivate-trigger confrm conform"
                                        style="width:80px; width: auto !important; padding: 0 12px;">{{'CONFIRM' | translate}} </a></li>
                                         <li ng-if="taskDetails.status == 1 || taskDetails.status == 2 || taskDetails.status == 3 || taskDetails.status == 4 || taskDetails.status == 5 || taskDetails.status == 8 || taskDetails.status == 7 || taskDetails.status == 6"><a ui-sref="chat({ task: taskDetails._id,user:taskDetails.user._id,tasker: taskDetails.tasker})" class="btn btn-secondary js-deactivate-trigger confrm conform"
                                    style="width:80px;">{{'CHAT' | translate}} </a></li>
                								<li ng-if="taskDetails.status == 2"><a ng-click="ACC.updatetaskstatus(taskDetails._id,3)" class="btn btn-secondary js-deactivate-trigger confrm conform"
                                                    style="width:80px; width: auto !important; padding: 0 12px;"> {{'START_OFF' | translate}}</a></li>
                								 <li ng-if="taskDetails.status ==3" ng-click="ACC.updatetaskstatus(taskDetails._id,4)" class="btn btn-secondary js-deactivate-trigger confrm conform"
                                                    style="width:80px; width: auto !important; padding: 0 12px;">{{'ARRIVED' | translate}} </li>
                								<li ng-if="taskDetails.status ==4" ng-click="ACC.updatetaskstatus(taskDetails._id,5)" class="btn btn-secondary js-deactivate-trigger confrm conform"
                                                    style="width:80px; width: auto !important; padding: 0 12px;"> {{'START_JOB' | translate}}</li>
                								<li ng-if="taskDetails.status == 5" ng-disabled="taskDetails.status == 7" ng-click="ACC.taskerconfirmpay(taskDetails._id,6)" class="btn btn-secondary js-deactivate-trigger confrm conform" style="width:80px; width: auto !important; padding: 0 12px;">{{'COMPLETE JOB'|translate}}</li>
                								<li ng-if="taskDetails.status == 6 || taskDetails.status == 7" ng-disabled="taskDetails.taskerRating.length > 0 && taskDetails.taskerRating[0].type == 'tasker' " ng-click="ACC.TaskReviewModal($index)" class="btn btn-secondary js-deactivate-trigger confrm conform" style="width:80px; width: auto !important; padding: 0 12px;">{{'REVIEW USER' | translate}} </li>
                								 <li ng-if="taskDetails.status == 6 || taskDetails.status == 7" href="javascript:void(0)" ng-click="ACC.TaskInviteViewModal($index)" class="btn btn-secondary js-deactivate-trigger confrm conform"
                                style="width:80px; width: auto !important; padding: 0 12px;">{{'VIEW' | translate}}</li>
                            </ul>
                        </td>
						                  <td ng-if="taskDetails.status == 6" style="color:red" ;="">{{'PENDING' | translate}}</td>
                              <td ng-if="taskDetails.status == 7" style="color:green" ;="">{{'COMPLETED' | translate}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
</ul>
<div ng-if="ACC.taskInvitation.length > 0" class="pagination_inner clearfix">
    <nav>
        <uib-pagination max-size="5" items-per-page="ACC.taskitemsPerPage" ng-change="ACC.getTaskDetailsByStaus(ACC.taskInvitation[0].status,ACC.currentPage)"
            total-items="ACC.tasktotalItem" ng-model="ACC.currentPage" class="pagination" previous-text="&lsaquo;"
            next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
    </nav>
</div>
<div ng-if="ACC.taskInvitation.length == 0" style="display:none" record-response="ACC.getTaskDetailsByStausResponse" no-record
    num-records="ACC.taskInvitation.length">
    <ul class="tablesection">
        <div class="emptyfie"><i class="fa fa-file-o"></i><span>{{'YOU HAVE NO'| translate}} {{ACC.currentStatus}} {{'JOBS'|translate}} </span></div>
    </ul>
</div>
