<div class="availabilities-day-form adminweekmodal viw-dtls-modal" id="viewdetails">
    <div class="">
        <div class="">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="TDVMI.ok()">×</button>
                <h1 class="day-text">{{'VIEW_JOB_DETAILS' | translate}} </h1>
            </div>
            <div class="modal-body">
                <form method="post" action="savenewrate" id="addnewrate">

                    <ul class="view-detail-pop">
                        <li ng-if="TDVMI.TaskDetails.tasker.avatar">
                            <div class="logo-container prof-image" id="taskerimage"><img id="theImg" class="img-circle" ng-src="{{TDVMI.TaskDetails.tasker.avatar}}"></div>
                        </li>
                        <div class="text-danger" align="center">
                            <h3 ng-if="TDVMI.TaskDetails.usertaskcancellationreason"> {{'JOB_CANCELLED' | translate}}</h3>
                        </div>

                        <li ng-if="TDVMI.TaskDetails._id">
                            <label class="col-md-5 "> {{'BOOKING_ID' | translate}}:</label>
                            <p class="col-md-5" value="" readonly="">{{TDVMI.TaskDetails.booking_id}}</p>
                        </li>
                        <!-- <li ng-if="TDVMI.TaskDetails.tasker.name">
                            <label class="col-md-5"> {{'EMPLOYEE_NAME' | translate}}:</label>
                            <p class="col-md-5" value="" readonly="">{{TDVMI.TaskDetails.tasker.name.first_name}} {{TDVMI.TaskDetails.tasker.username}}</p>
                        </li> -->
                        <li g-if="TDVMI.TaskDetails.tasker.username">
                            <label class="col-md-5">{{'EMPLOYEE_NAME' | translate}}:</label>
                            <p class="col-md-5" value="" readonly="">{{TDVMI.TaskDetails.tasker.username}}</p>
                        </li>
                        <li ng-if="TDVMI.TaskDetails.tasker.email">
                            <label class="col-md-5">{{'EMPLOYEE_EMAIL' | translate}}:</label>
                            <p class="col-md-5" value="" readonly="">{{TDVMI.TaskDetails.tasker.email}}</p>
                        </li>
                        <li ng-if="TDVMI.TaskDetails.category.name">
                            <label class="col-md-5">{{'CATEGORY' | translate}}:</label>
                            <p class="col-md-5" value="" readonly="">{{TDVMI.TaskDetails.category.name}}</p>
                        </li>
                        <li ng-if="TDVMI.TaskDetails.status">
                            <label class="col-md-5">{{'JOB' | translate}} {{'STATUS' | translate}}:</label>
                            <p ng-if= " TDVMI.TaskDetails.status == 1 " class="col-md-5" value="" readonly="">{{'PENDING'| translate}}</p>
                            <p ng-if= " TDVMI.TaskDetails.status == 2 " class="col-md-5" value="" readonly="">{{'ACCEPTED'| translate}}</p>
                            <p ng-if= " TDVMI.TaskDetails.status == 3 " class="col-md-5" value="" readonly="">{{'START_OFF'| translate}}</p>
                            <p ng-if= " TDVMI.TaskDetails.status == 4 " class="col-md-5" value="" readonly="">{{'ARRIVED'| translate}}</p>
                            <p ng-if= " TDVMI.TaskDetails.status == 5 " class="col-md-5" value="" readonly="">{{'JOB_STARTED'| translate}}</p>
                            <p ng-if= " TDVMI.TaskDetails.status == 6 " class="col-md-5" value="" readonly="">{{'JOB_COMPLETED'| translate}}</p>
                            <p ng-if= " TDVMI.TaskDetails.status == 7 " class="col-md-5" value="" readonly="">{{'PAYMENT_COMPLETED'| translate}}</p>
                            <p ng-if= " TDVMI.TaskDetails.status == 8 " class="col-md-5" value="" readonly="">{{'JOB_CANCELLED'| translate}}</p>
                        </li>
                        <li ng-if="TDVMI.TaskDetails.history.booking_date">
                            <label class="col-md-5">{{'BOOKING DATE' | translate}}:</label>
                            <p class="col-md-5" value="" readonly="">{{TDVMI.TaskDetails.history.booking_date | date:'medium' }}</p>
                        </li>

                        <li ng-if="TDVMI.TaskDetails.booking_information.booking_date">

                            <label class="col-md-5">{{'JOB START DATE' | translate}}:</label>
                            <p class="col-md-5" value="" readonly="">{{TDVMI.TaskDetails.booking_information.booking_date | date:'medium' }}</p>
                        </li>
                        <li ng-if="TDVMI.TaskDetails.history.job_completed_time">
                              <label class="col-md-5">{{'JOB COMPLETED AT' | translate}}:</label>
                              <p class="col-md-5" value="" readonly="">{{TDVMI.TaskDetails.history.job_completed_time | date:'medium'   }}</p>
                          </li>
                        <li ng-if="TDVMI.TaskDetails.hourly_rate">
                            <label class="col-md-5">{{'HOURLY_RATE' | translate}}:</label>
                            <p class="col-md-5" value="" readonly="">{{TDVMI.DefaultCurrency[0].symbol}} {{TDVMI.TaskDetails.hourly_rate * TDVMI.DefaultCurrency[0].value | number:2}}</p>
                        </li>

                        <li ng-if="TDVMI.TaskDetails.amount">
                            <label class="col-md-5">{{'TOTAL_AMOUNT' | translate}}:({{TDVMI.DefaultCurrency[0].symbol}} )</label>
                             <p class="col-md-5" value="" readonly="">{{TDVMI.DefaultCurrency[0].symbol}}  {{TDVMI.TaskDetails * TDVMI.DefaultCurrency[0].value | number:2}}</p>
                        </li>
                        <li>
                            <label class="col-md-5">{{'JOB_DESCRIPTION' | translate}}:</label>
                            <p class="col-md-5" value="" readonly="" style="word-break: break-all;" ng-bind="TDVMI.taskdescription"></p>
                        </li>
                        <li>
                          <label class="col-md-4" >{{'BILLING ADDRESS' | translate}}:</label>
                          <p class="col-md-5" style="word-break: break-all;"> {{TDVMI.TaskDetails.billing_address.line1}}
                               <span ng-if="TDVMI.TaskDetails.billing_address.line2">{{TDVMI.TaskDetails.billing_address.line2}},<br> </span>
                              <span ng-if="TDVMI.TaskDetails.billing_address.city">{{TDVMI.TaskDetails.billing_address.city}},<br> </span>
                            <span ng-if="TDVMI.TaskDetails.billing_address.state">{{TDVMI.TaskDetails.billing_address.state}},<br> </span>
                            <span ng-if="TDVMI.TaskDetails.billing_address.country">{{TDVMI.TaskDetails.billing_address.country}},<br> </span>
                            <span ng-if="TDVMI.TaskDetails.billing_address.zipcode">{{TDVMI.TaskDetails.billing_address.zipcode}}</span></p>
                        </li>
                        <li ng-if="TDVMI.TaskDetails.usertaskcancellationreason">
                            <label class="col-md-5">{{'REASON_FOR_CANCELLATION' | translate}}:</label>
                            <p class="col-md-5" value="" readonly="">{{TDVMI.TaskDetails.usertaskcancellationreason}}</p>
                        </li>

                        <li>
                            <!--<input class="bluebtn " value="Save" onclick="savenewrate();" type="submit">-->
                        </li>
                    </ul>
                </form>
            </div>
            <!-- /.modal-content -->
            <div class="modal-footer">
                <button type="button" ui-sref="account" ng-click="TDVMI.ok()" class="bluebtn" data-dismiss="modal">{{'CANCEL' | translate}}</button>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<style>
    /*.availabilities-day-form .modal-header {
   background-color: #545454;
}*/

    #viewdetails .modal-body {
        float: left;
        text-align: left;
        width: 100%;
        background: #fff;
    }

    #viewdetails .modal-body {
        float: left;
        text-align: left;
        width: 100%;
        background: #fff;
    }

    #viewdetails .view-detail-pop>li label {
        font-weight: normal;
    }

    #viewdetails .view-detail-pop input {
        padding: 5px;
    }

    .modal-body {
        position: relative;
        padding: 20px;
    }

    #viewdetails .logo-container#taskerimage img.img-circle {
        width: 100px;
        height: 100px;
    }
</style>
