<ul ng-if="ACC.taskList.length > 0" class="tablesection">
    <div class="table-responsive">
        <table class="table" border="1">
            <thead>{{ACC.GetTaskList}}
                <tr style="text-align:center;">
                    <th style="width:20px; ">#</th>
                    <th>{{'BOOKING_ID' | translate}}</th>
                    <th>{{'CATEGORY' | translate}}</th>
                    <th style="width: 21%;">{{'ADDRESS' | translate}}</th>
                    <th>{{'EMPLOYEE_NAME' | translate}}</th>
                    <th ng-if="ACC.taskList[0].status == 6 || ACC.taskList[0].status == 7">{{'TOTAL_AMOUNT' | translate}}</th>
                    <th ng-if="ACC.taskList[0].status == 1 || ACC.taskList[0].status == 2 || ACC.taskList[0].status == 3 || ACC.taskList[0].status == 4 || ACC.taskList[0].status == 5 || ACC.taskList[0].status == 6 || ACC.taskList[0].status == 7 || ACC.taskList[0].status == 8">{{'STATUS' | translate}}</th>
                    <th style="text-align:center; width: 20%;">{{'ACTIONS' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="taskDetails in ACC.taskList">
                    <td>{{ACC.taskListitemsPerPage * (ACC.taskListCurrentPage - 1)+$index+1}}</td>
                    <td>{{taskDetails.booking_id}}</td>
                    <td>{{taskDetails.category.name}}</td>
                    <td><span ng-if="taskDetails.billing_address.line1">{{taskDetails.billing_address.line1}},</span> <span ng-if="taskDetails.billing_address.line2">{{taskDetails.billing_address.line2}},</span><span ng-if="taskDetails.billing_address.city">{{taskDetails.billing_address.city}},</span><span ng-if="taskDetails.billing_address.state">{{taskDetails.billing_address.state}},</span><span ng-if="taskDetails.billing_address.country">{{taskDetails.billing_address.country}},</span><span ng-if="taskDetails.billing_address.zipcode">{{taskDetails.billing_address.zipcode}}</span></td>
                    <td>{{taskDetails.tasker.username}}</td>
                    <td ng-if="(ACC.taskList[0].status == 6 || ACC.taskList[0].status == 7) && (taskDetails.invoice.amount.balance_amount== 0)">{{rc.DefaultCurrency[0].symbol}} {{taskDetails.invoice.amount.grand_total * rc.DefaultCurrency[0].value | number:2}}</td>
                    <td ng-if="(ACC.taskList[0].status == 6 || ACC.taskList[0].status == 7) && (taskDetails.invoice.amount.balance_amount!= 0)">{{rc.DefaultCurrency[0].symbol}} {{taskDetails.invoice.amount.balance_amount * rc.DefaultCurrency[0].value | number:2}}</td>
                    <td>
                        <li ng-if="taskDetails.status == 1">
                            <div>
                                <label style="color:green">{{'PENDING' | translate}}</label>
                            </div>
                        </li>
                        <li ng-if="taskDetails.status == 2">
                            <div>
                                <label style="color:green">{{'ACCEPTED' | translate}}</label>
                            </div>
                        </li>
                        <li ng-if="taskDetails.status == 3">
                            <div>
                                <label style="color:orange">{{'START_OFF' | translate}}</label>
                            </div>
                        </li>
                        <li ng-if="taskDetails.status == 4">
                            <div>
                                <label style="color:orange">{{'ARRIVED' | translate}}</label>
                            </div>
                        </li>
                        <li ng-if="taskDetails.status == 5">
                            <div>
                                <label style="color:orange">{{'JOB_STARTED' | translate}}</label>
                            </div>
                        </li>
                        <li ng-if="taskDetails.status == 6">
                            <div>
                                <label style="color:orange">{{'JOB_COMPLETED' | translate}}</label>
                            </div>
                        </li>
                        <li ng-if="taskDetails.status == 7">
                            <div>
                                <label style="color:green">{{'PAYMENT_COMPLETED' | translate}}</label>
                            </div>
                        </li>
                        <li ng-if="taskDetails.status == 8">
                            <div>
                                <label style="color:orange">{{'JOB_CANCELLED' | translate}}</label>
                            </div>
                        </li>
                    </td>
                    <td ng-if="taskDetails.status == 1" class="slidetd mob-actions">
                        <a href=""><i task-action class="fa fa-pencil-square-o actionclick"></i>
                        <ul class="action-space" style="display: none;">
                            <li ng-if="taskDetails.status == 1 || taskDetails.status == 2 || taskDetails.status == 3 || taskDetails.status == 4 || taskDetails.status == 5"> <a ng-click="ACC.TaskDetailsViewModal($index)" href="javascript:void(0)" class="btn btn-primary js-deactivate-trigger confrm conform">{{'VIEW' | translate}} </a></li>
                            <li ng-if="taskDetails.status == 1"> <a ng-click="ACC.TaskDetailsIgnoreModal(taskDetails._id,8)" class="btn btn-primary js-deactivate-trigger confrm conform">{{'IGNORE' | translate}} </a></li>
                            <li ng-if="taskDetails.status == 1"> <a ui-sref="chat({ task: taskDetails._id,user:taskDetails.user,tasker: taskDetails.tasker._id })" class="btn btn-primary js-deactivate-trigger confrm conform">{{'CHAT' | translate}} </a></li>
                        </ul>
                    </td>
                    <td ng-if="taskDetails.status == 6 || taskDetails.status == 7 " class="pay-status">
                        <span ng-if="taskDetails.status == 6 " style="float: left; ">
                            <a  ng-disabled="taskDetails.invoice.status == 1" ui-sref="carddeatil({slug:taskDetails._id})"  class="btn btn-secondary js-deactivate-trigger confrm conform"
                                style="width:80px;  margin-bottom: 7px;">{{'PROCEED_TO_PAY' | translate}}</a>
                        </span>
                        <!-- 0={{taskDetails.rating.length != 0 && taskDetails.rating[0].type == 'user'}}1={{taskDetails.rating[1].type == 'user'}} 2={{taskDetails.rating[0].type == 'user'}}   3={{taskDetails.rating.length != 0}}  -->
                        <span ng-if="taskDetails.status == 7 " style="float: left; ">
                            <a  ng-click="ACC.addReview(taskDetails)" ng-disabled="taskDetails.rating.length != 0 && taskDetails.rating[0].type == 'user' || taskDetails.rating[1].type == 'user' " href="javascript:void(0)"  class="btn btn-secondary js-deactivate-trigger confrm conform"
                                style="width:80px;  margin-bottom: 7px;">{{'REVIEW_EMPLOYEE' | translate}} </a>
                        </span>
                        <span ng-if="taskDetails.status == 6 || taskDetails.status == 7" style="float: right;">
                            <a href="javascript:void(0)" ng-click="ACC.TaskDetailsViewModalforstatus($index)" class="btn btn-secondary js-deactivate-trigger confrm conform"
                                style="width:80px; margin-bottom: 7px">{{'VIEW' | translate}}</a>
                        </span>
                        <span ng-if="taskDetails.status == 6 || taskDetails.status == 7" style="float: right;">
                            <a ui-sref="chat({ task: taskDetails._id,user:taskDetails.user,tasker: taskDetails.tasker._id })" class="btn btn-secondary js-deactivate-trigger confrm conform"
                                    style="width:80px; margin-bottom: 7px">{{'CHAT' | translate}} </a>
                        </span>
                    </td>
                    <td ng-if="taskDetails.status == 2 || taskDetails.status == 3 || taskDetails.status == 4 || taskDetails.status == 5 || taskDetails.status == 8" class="pay-status">
                        <span><a href="javascript:void(0)" ng-click="ACC.TaskDetailsViewModal($index)" class="btn btn-primary js-deactivate-trigger confrm conform" style="width:80px; margin-bottom: 7px;">{{'VIEW' | translate}}</a></span>
                        <span ng-if="taskDetails.status == 2 "> <a ng-click="ACC.TaskDetailsIgnoreModal(taskDetails._id,8)" class="btn btn-primary js-deactivate-trigger confrm conform" style="width:80px; margin-bottom: 7px">{{'IGNORE' | translate}} </a></span>
                        <span><a ui-sref="chat({ task: taskDetails._id,user:taskDetails.user,tasker: taskDetails.tasker._id })" class="btn btn-primary js-deactivate-trigger confrm conform" style="width:80px; margin-bottom: 7px;">{{'CHAT' | translate}} </a></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</ul>
<div ng-if="ACC.taskList.length > 0" class="pagination_inner clearfix">
    <nav>
        <uib-pagination max-size="5" items-per-page="ACC.taskListitemsPerPage" ng-change="ACC.GetTaskList(ACC.status,ACC.taskCurrentPage)" total-items="ACC.taskListtotalItem" ng-model="ACC.taskCurrentPage" class="pagination" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
        </uib-pagination>
    </nav>
</div>
<div ng-if="ACC.taskList.length == 0" style="display:none" record-response="ACC.getTaskListResponse" no-record num-records="ACC.taskList.length">
    <ul class="tablesection">
        <div class="emptyfie"><i class="fa fa-file-o"></i><span>{{'YOU HAVE NO' | translate}} {{ACC.status}} {{'JOBS' | translate}}</span></div>
    </ul>
</div>
