<div class="modal-header">
    <button type="button" class="close" ng-click="TDCMI.cancel()" data-dismiss="modal">×</button>
    <h3 class="modal-title">{{'CONFIRM_JOB' | translate}}</h3>
</div>
<div class="modal-body">
    <h3> {{'ARE_YOU_SURE_WANT_TO_CONFIRM' | translate}} ?</h3>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="TDCMI.ok()">{{'YES' | translate}}</button>
    <button class="btn btn-default" type="button" ng-click="TDCMI.cancel()">{{'NO' | translate}}</button>
</div>