<div ng-init="ACC.GetTaskList('assigned');" role="tabpanel" id="Transactions">
    <div class="account-section">
        <span>{{'JOB_DETAILS' | translate}}</span>
    </div>
    <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" dismiss-on-timeout="{{alertTimeout}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
    <uib-tabset class="tabdetails" active="active">
        <uib-tab index="1" active="tabOneActive" ng-click="ACC.taskCurrentPage= 1; ACC.GetTaskList('assigned')" heading="Assigned">
            <ng-include src="'app/site/modules/accounts/views/task-details.sub.tab.html'"></ng-include>
        </uib-tab>
        <uib-tab index="2" active="tabTwoActive" ng-click="ACC.taskCurrentPage= 1; ACC.GetTaskList('ongoing')" heading="Ongoing">
            <ng-include src="'app/site/modules/accounts/views/task-details.sub.tab.html'"></ng-include>
        </uib-tab>
        <uib-tab index="3" active="tabThreeActive" ng-click="ACC.taskCurrentPage= 1; ACC.GetTaskList('completed')" heading="Completed">
            <ng-include src="'app/site/modules/accounts/views/task-details.sub.tab.html'"></ng-include>
        </uib-tab>
        <uib-tab index="4" active="ACC.tabFourActive" ng-click="ACC.taskCurrentPage= 1; ACC.GetTaskList('cancelled')" heading="Cancelled">
            <ng-include src="'app/site/modules/accounts/views/task-details.sub.tab.html'"></ng-include>
        </uib-tab>
    </uib-tabset>
</div>