<div ng-init="ACC.getreviewdetails();" role="tabpanel" id="Transactions" read-only="true">

    <div ng-if="!ACC.getReview.length" class="emptyfie">
        <span>{{'NOTHING_ADDED_IN_YOUR_JOB_LIST' | translate}} </span>

    </div>
    <ul ng-if="ACC.getReview.length > 0" class="tablesection">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>{{'BOOKING_ID' | translate}}</th>
                        <th>{{'JOB' | translate}}</th>
                        <th>{{'EMPLOYEE' | translate}}</th>
                        <th>{{'DATE' | translate}}</th>
                        <th>{{'ACTIONS' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="reviews in ACC.finalResult">
                        <td>{{$index + 1}}</td>
                        <td>{{reviews.task.booking_id}}</td>
                        <td>{{reviews.task.booking_information.work_type}}</td>
                        <td>{{reviews.tasker.username}}</td>
                        <td>{{reviews.createdAt |date}}</td>
                        <td> <a href="javascript:void(0)" ng-click="ACC.reviewModal(reviews,reviews.task)" class="btn btn-secondary js-deactivate-trigger confrm conform"
                                style="width:80px;">{{'VIEW' | translate}}</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </ul>

    <div ng-if="ACC.getReview.length > 0" class="pagination_inner clearfix">
        <nav>
            <uib-pagination max-size="5" items-per-page="ACC.reviewListitemsPerPage" ng-change="ACC.getreviewdetails()" total-items="ACC.reviewListtotalItem"
                ng-model="ACC.reviewListCurrentPage" class="pagination" previous-text="&lsaquo;" next-text="&rsaquo;"
                first-text="&laquo;" last-text="&raquo;"></uib-pagination>
        </nav>
    </div>