<div class="acc-head">
    <div class="onoffswitch labeled inline-block availabilities-day-form" ng-if="ACC.taskervariable.currentUser.user_type== 'tasker' ">
        <strong>{{'AVAILABILITY' | translate}}</strong>
        <input type="checkbox" checked="" id="switch09" class="u-hidden onoffswitch-checkbox" name="onoffswitch" ng-model="ACC.availabilityvalue" ng-init="ACC.availabilityvalue = ACC.availabilityvalue || 0" ng-change="ACC.availabilityChange(ACC.availabilityvalue)">
        <label for="switch09" class="onoffswitch-label switch">
            <span class="onoffswitch-inner"></span>
            <span class="onoffswitch-switch"></span>
        </label>
    </div>
</div>