<div ng-init="ACC.getTransactionHis()" role="tabpanel" id="Transaction">
    <div class="account-section">
        <span>{{'TRANSACTION' | translate}}</span>
    </div>
    <div class="table-responsive" ng-if="ACC.transcationhis.length">
        <table class="table">
            <thead>
                <tr>
                    <th>{{'S.NO'|translate }} </th>
                    <th>{{'BOOKING_ID'|translate }} </th>
                    <th>{{'JOB'|translate }} </th>
                    <th>{{'JOB_EARNINIG'|translate }}</th>
                    <th>{{'ADMIN_FEE'|translate }} </th>
                    <th>{{'TOTAL_AMOUNT'|translate }} </th>
                    <th  style="width:50px;">{{'ACTIONS'|translate }}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="taskerDetails in ACC.transcationhis">
                    <td>{{$index + 1}}  </td>
                    <td>{{taskerDetails.booking_id}}</td>
                    <!-- <td>{{taskerDetails.billing_address.city}}</td> -->
                    <td> {{taskerDetails.category.name}}</td>
                    <td>{{rc.DefaultCurrency[0].symbol}} {{(taskerDetails.invoice.amount.total) * rc.DefaultCurrency[0].value | number:2}}</td>
                    <td>{{rc.DefaultCurrency[0].symbol}} {{taskerDetails.invoice.amount.admin_commission  * rc.DefaultCurrency[0].value | number:2}}</td>
                    <td>{{rc.DefaultCurrency[0].symbol}} {{(taskerDetails.invoice.amount.total - taskerDetails.invoice.amount.admin_commission)  * rc.DefaultCurrency[0].value | number:2}}</td>
                    <td>
                        <a href="javascript:;" class="btn btn-action btn-success js-deactivate-trigger" title="{{'VIEW'|translate}}" ng-click="ACC.TaskTranscationViewModal($index)"><i class="fa fa-eye"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-if="!ACC.transcationhis.length" class="emptyfie">
        <span>{{'YOU DONT HAVE ANY TRANSACTIONS YET'|translate }}!</span>
    </div>
    <div ng-if="ACC.transcationhis.length > 0" class="pagination_inner clearfix">
        <nav>
            <uib-pagination max-size="5" items-per-page="ACC.taskertransitemsPerPage" ng-change="ACC.getTransactionHis(ACC.taskertransCurrentPage)" total-items="ACC.taskertranstotalItem" ng-model="ACC.taskertransCurrentPage" class="pagination" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
        </nav>
    </div>
</div>
