<div role="tabpanel" id="Transactions">
    <div class="account-section">
        <span>{{'TRANSACTION_HISTORY'|translate }} </span>
    </div>
    <div class="centertexts">
        <a href="#success" data-toggle="modal" class="dowtxt"><i class="fa fa-download"></i> {{'DOWNLOAD_TRANSACTIONS_HISTORY'|translate }} </a>
        <label class="fnt-text">{{'YOU DONT HAVE ANY TRANSACTIONS YET'|translate }} !</label>
    </div>
</div>
