<div ng-init="ACC.getUserTransaction()" role="tabpanel" id="Transaction">
    <div class="account-section">
        <span>{{'TRANSACTION' | translate}}</span>
    </div>
    <div class="table-responsive" ng-if="ACC.usertranscation.length">
        <table class="table">
            <thead>
                <tr>
                    <th>{{'S.NO'|translate }} </th>
                    <th>{{'BOOKING_ID'|translate }} </th>
                    <th>{{'JOB'|translate }} </th>
                    <!-- <th>{{'JOB_EARNINIG'|translate }}</th> -->
                    <!-- <th>{{'SERVICE TAX'|translate }} </th> -->
                    <th>{{'TOTAL_AMOUNT'|translate }} </th>
                    <th  style="width:50px;">{{'ACTIONS'|translate }}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="taskerDetails in ACC.usertranscation">
                    <td>{{$index + 1}}  </td>
                    <td>{{taskerDetails.booking_id}}</td>
                    <!-- <td>{{taskerDetails.billing_address.city}}</td> -->
                    <td>{{taskerDetails.category.name}}</td>
                    <!-- <td>{{rc.DefaultCurrency[0].symbol}} {{((taskerDetails.invoice.amount.grand_total) - (taskerDetails.invoice.amount.admin_commission) ) * rc.DefaultCurrency[0].value | number:2}}</td> -->
                    <!-- <td>{{rc.DefaultCurrency[0].symbol}} {{taskerDetails.invoice.amount.admin_commission  * rc.DefaultCurrency[0].value | number:2}}</td> -->
                    <td>{{rc.DefaultCurrency[0].symbol}} {{taskerDetails.invoice.amount.grand_total  * rc.DefaultCurrency[0].value | number:2}}</td>
                    <td>
                        <a href="javascript:;" ng-click="ACC.TaskUserTranscationViewModal($index)" class="btn btn-action btn-success js-deactivate-trigger" title="{{'VIEW'|translate}}"><i class="fa fa-eye"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-if="!ACC.usertranscation.length" class="emptyfie">
        <span>{{'YOU DONT HAVE ANY TRANSACTIONS YET'|translate }} !</span>
    </div>
    <div ng-if="ACC.usertranscation.length > 0" class="pagination_inner clearfix">
        <nav>
            <uib-pagination max-size="5" items-per-page="ACC.transitemsPerPage" ng-change="ACC.getUserTransaction(ACC.transCurrentPage)"
                total-items="ACC.transtotalItem" ng-model="ACC.transCurrentPage" class="pagination" previous-text="&lsaquo;"
                next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
        </nav>
    </div>
</div>
