<form name="walletform" submit-validate role="form" novalidate>
  <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" dismiss-on-timeout="{{alertTimeout}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
  <div role="tabpanel" id="wallet">
    <div class="account-section">
      <span>{{'WALLET'|translate }}</span>
    </div>
    <div class="wltamtsection">
      <div class="wal-mbal">
        <div class="user-pickup-detail">
          <h2>{{'MY_WALLET'|translate }}</h2>
        </div>
        <div class="col-md-12 money-head">
          <img src="../app/site/public/images/purse_icon.png" width="100" alt="Wallet">
          <div class="current-balance text-center">
            <p>{{'CURRENT_BALANCE'|translate }}</p>
            <h1><sup>{{rc.DefaultCurrency[0].symbol}}</sup> {{ACC.getwalletdetails.total * rc.DefaultCurrency[0].value | number:2}}</h1>
          </div>
        </div>
      </div>
      <div class="wall-balrgt">
        <div class="recharge-money">
          <h4>{{'HOW_MUCH_WOULD_YOU_TO_DEPOSIT'|translate }}?</h4>
        </div>
        <div class="col-md-12 text-center">
          <select class="wallet-select form-control" ng-change="ACC.changeWalletAmt(ACC.walletAamount)" ng-model="ACC.walletAamount" required>
            <option value="{{ACC.getsettings.settings.wallet.amount.minimum * rc.DefaultCurrency[0].value}}">{{rc.DefaultCurrency[0].symbol}} {{ACC.getsettings.settings.wallet.amount.minimum * rc.DefaultCurrency[0].value | number:2}}</option>
            <option value="{{(ACC.getsettings.settings.wallet.amount.maximum/2)* rc.DefaultCurrency[0].value}}">{{rc.DefaultCurrency[0].symbol}} {{(ACC.getsettings.settings.wallet.amount.maximum/2) * rc.DefaultCurrency[0].value | number:2}}</option>
            <option value="{{ACC.getsettings.settings.wallet.amount.maximum* rc.DefaultCurrency[0].value}}">{{rc.DefaultCurrency[0].symbol}} {{ACC.getsettings.settings.wallet.amount.maximum * rc.DefaultCurrency[0].value | number:2}}</option>
          </select>
        </div>
        <div class="col-md-12">
          <div class="well">
            Credit is non-refundable and expires one year after your last deposit.
            For larger amounts contact our <a href="#">Help Team</a>
          </div>
        </div>
        <br>
        <div class="btnholder">
          <input class="bluebtn" ng-click="ACC.savewallet({amount:ACC.walletAamount, min:ACC.walletMinAmt, max:ACC.walletMaxAmt},rc.DefaultCurrency[0].value)"
            value="{{'ADD MONEY TO WALLET'| translate}}" type="submit">
        </div>
      </div>
    </div>
  </div>
</form>
