<div class="page page-tables-bootstrap">
   <!-- page header -->
   <div class="pageheader">
      <h2>{{ 'Menu.EXPERIENCE' | translate }} </h2>
      <div class="page-bar">
         <ul class="page-breadcrumb">
            <li>
               <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
            </li>
            <li>
               <a ui-sref="app.experience.list">{{ 'SubMenu.ALL_EXPERIENCE' | translate }}</a>
            </li>
            <li>
               <a ui-sref="app.banner.editBanner" href="#/app/banner/edit-banner">{{ EEC.breadcrumb | translate }}</a>
            </li>
         </ul>
      </div>
   </div>
   <!-- /page header -->
   <!-- page content -->
   <div class="pagecontent">
      <!-- row -->
      <div class="row">
         <!-- col -->
         <div class="col-md-12">
            <!-- tile -->
            <section class="tile" >
               <!-- tile header -->
               <div class="tile-header dvd dvd-btm">
                  <h1 class="custom-font"><strong>Experience</strong> Edit</h1>
               </div>
               <!-- /tile header -->
               <div class="tile-body" style="padding-bottom: 80px;">
                  <form class="profile-settings" submit-validate enctype="multipart/form-data" name="experienceForm"  novalidate>
                     <div class="form-group" ng-class="{ 'has-error' : experienceForm.name.$invalid && !experienceForm.name.$pristine, 'has-success' : experienceForm.name.$valid && !experienceForm.name.$pristine}">
                        <label for="experienceName">Experience</label>
                        <input type="text" name="name" class="form-control" ng-model="EEC.editExperienceData.name" id="experienceName" on-blur-validation required>
                        <p class="help-block">
                           <span ng-show="experienceForm.name.$invalid && !experienceForm.name.$pristine">Experience is required.</span>
                        </p>
                     </div>

                     <div class="form-group" ng-class="{ 'has-error' : experienceForm.publish.$invalid && !experienceForm.publish.$pristine, 'has-success' : experienceForm.publish.$valid && !experienceForm.publish.$pristine}">
                        <label for="publish">Status</label>
                        <select id="publish" name="publish" ng-model="EEC.editExperienceData.status" convert-to-number class="form-control mb-10" on-blur-validation required>
                           <option value='1' selected="1">Publish</option>
                           <option value='2'>UnPublish</option>
                           <p class="help-block">
                           <span ng-show="experienceForm.publish.$invalid && !experienceForm.publish.$pristine">status is required.</span>
                        </p>
                        </select>
                     </div>

                     <div class="form-group tcol">
                        <button class="btn btn-success btn-ef btn-ef-5 btn-ef-5a" ng-click="EEC.submit(experienceForm.$valid)">
                        <i class="fa fa-upload"></i> <span>Submit</span>
                        </button>
                     </div>
                  </form>
               </div>
            </section>
            <!-- /tile -->
         </div>
         <!-- /col -->
      </div>
      <!-- /row -->
   </div>
   <!-- /page content -->
</div>
