<div class="page page-tables-bootstrap">

    <!-- page header -->
    <div class="pageheader">

        <h2>{{ 'Menu.CATEGORIES' | translate }} </h2>

        <div class="page-bar">

            <ul class="page-breadcrumb">
                <li>
                    <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
                </li>
                <li>
                    <a href="javascript:;">{{ 'Menu.CATEGORIES' | translate }} </a>
                </li>
                <li>
                <a ui-sref="app.giftCards.giftCardsList" href="#/app/giftCards/gift-cards-list">{{ 'SubMenu.EDIT_CATEGORYLIST' | translate }}</a>
                </li>
            </ul>

        </div>

    </div>
    <!-- /page header -->

    <!-- page content -->
    <div class="pagecontent">

        <!-- row -->
        <div class="row">
            <!-- col -->
            <div class="col-md-12">


                <!-- tile -->
                <section class="tile" fullscreen="isFullscreen07">

                    <!-- tile header -->
                    <div class="tile-header dvd dvd-btm" href="#app/categories/categoryList">
                        <h1 class="custom-font"><strong>Category</strong> List</h1>

					<ul class="controls">
                     <li><a ng-if="VCL.permission.add != false" ui-sref="app.categories.edit" ><i class="fa fa-plus mr-5"></i> Add New Main Category</a></li>
                  </ul>
				  </div>
                    <custom-table data="VCL.table" delete-call="VCL.deletedData"></custom-table>
                </section>
                <!-- /tile -->
            </div>
            <!-- /col -->
        </div>
        <!-- /row -->

    </div>
    <!-- /page content -->




</div>
