<div class="page page-tables-bootstrap">
    <div class="pageheader">
        <h2>{{'USERS' | translate}} </h2>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
                </li>
                <li>
                    <a ui-sref="app.users.list">{{'Menu.USERS' | translate}}</a>
                </li>
                <li>
                    <a ui-sref="app.users.transactionslist">{{TRLC.name}}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="pagecontent">
        <div class="row">
            <div class="col-md-12">
                <section class="tile" fullscreen="isFullscreen07">
                    <div class="tile-header dvd dvd-btm">
                        <h1 class="custom-font"><strong>Wallet Transaction</strong> List</h1>
                    </div>
                    <custom-table data="TRLC.table" delete-call="TRLC.deletedData"></custom-table>
                </section>
            </div>
        </div>
    </div>
</div>
