<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <form name="InvoiceForm">
    </form>
    <div style="width:100%; margin:0px auto; clear:both;font-family:verdana;" class="trx-dsply">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" ng-click="TTEMS.ok()">×</button>
            <h1 class="day-text">{{'VIEW_JOB_DETAILS' | translate}}</h1>
        </div>
        <table style="width:100%; background:#EAEAEA; color:#fff; padding:5px 10px" class="log-hdr">
            <tbody>
                <tr>
                    <td style="padding:5px;"><img style="width: 200px;" src={{TTEMS.getsettings.settings.logo}}></td>
                    <td style="text-align: right; font-size: 13px; line-height: 20px; padding:10px; color:#000">
                        <p style="margin: 0px 0px 0px; line-height: 20px; font-size: 13px; font-family:verdana;">
                            {{TTEMS.TaskDetails.date | date:'medium'}}</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <table style="width:100%; color:#000; padding:10px; border-bottom: 1px solid #ddd;" class="amt-dsply">
            <tbody>
                <tr>
                    <td style="padding:10px; font-size:26px;">{{TTEMS.defaultcurrency[0].symbol}} {{(TTEMS.TaskDetails.invoice.amount.total -TTEMS.TaskDetails.invoice.amount.admin_commission ) * TTEMS.defaultcurrency[0].value | number:2}}</td>
                    <td style="text-align: right; font-size: 13px; line-height: 20px; padding:10px; color:#999">
                    </td>
                </tr>
            </tbody>
        </table>
        <table style="width:100%; color:#000; padding:0px; background: #D1D1D1; border-bottom: 1px solid #ddd;" class="bok-id">
            <tbody>
                <tr>
                    <td style="padding:10px; font-size:13px;">{{'BOOKING_ID' | translate}}: {{TTEMS.task.booking_id}}</td>
                    <td style="text-align: right; font-size: 13px; line-height: 20px; padding:10px;">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <!-- <td style="text-align: right;font-size: 13px;">Transaction ID: {{TTEMS.TaskDetails.transcationid}}</td> -->
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <table width="97%" border="0" cellspacing="0" cellpadding="10" style="margin:5px; text-align: left; font-size: 13px; line-height: 20px;" class="wrk-dtls">
            <tbody>
                <tr>
                    <td class="dtls-info">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-size: 13px;">
                            <tbody>
                                <tr ng-if="TTEMS.TaskDetails.categoryname">
                                    <td height="30">{{'CATEGORY_NAME' | translate}}:</td>
                                    <td>{{TTEMS.TaskDetails.categoryname}}</td>
                                </tr>
                                <!-- <tr ng-if="TTEMS.task.user.name">
                  <td  height="30">User Name:</td>
                  <td>{{TTEMS.task.user.name.first_name}} {{TTEMS.task.user.name.last_name}}</td>
                </tr> -->
                                <tr ng-if="TTEMS.task.user.username">
                                    <td height="30">{{'USERNAME' | translate}}:</td>
                                    <td>{{TTEMS.task.user.username}}</td>
                                </tr>
                                <tr ng-if="TTEMS.TaskDetails.addresss">
                                    <td valign="top" height="30">{{'JOB_ADDRESS' | translate}}:</td>
                                    <td> {{TTEMS.TaskDetails.addresss}}</td>
                                </tr>
                                <tr ng-if="TTEMS.TaskDetails.invoice.worked_hours_human">
                                    <td valign="top" height="30">{{'TOTAL_HOURS' | translate}}:</td>
                                    <td>{{TTEMS.TaskDetails.invoice.worked_hours_human}}</td>
                                </tr>
                                <tr ng-if="TTEMS.TaskDetails.perHour">
                                    <td valign="top" height="30">{{'PER_HOURS' | translate}}:</td>
                                    <td>{{TTEMS.defaultcurrency[0].symbol}} {{TTEMS.TaskDetails.perHour * TTEMS.defaultcurrency[0].value | number:2}}</td>
                                </tr>
                                <tr ng-if="TTEMS.TaskDetails.invoice.amount.minimum_cost">
                                    <td valign="top" height="30" style="width: 180px;">{{'MINIMUM_HOURLY_RATE' | translate}}:</td>
                                    <td valign="top" height="30" style="width: 180px;">{{TTEMS.defaultcurrency[0].symbol}} {{TTEMS.TaskDetails.invoice.amount.minimum_cost* TTEMS.defaultcurrency[0].value | number:2}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td valign="top" class="amt-info">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-size: 13px;">
                            <tbody>
                                <!-- <tr>
                              <td height="30">Job Amount:</td>
                              <td style="text-align: right;">
                              </div>{{TTEMS.defaultcurrency[0].symbol}} {{TTEMS.TaskDetails.invoice.amount.total* TTEMS.defaultcurrency[0].value | number:2}} </td>
                              </tr>
                              <tr>
                                <tr>
                                  <td height="30">Coupon:</td>
                                  <td style="text-align: right;">
                              </div>- {{TTEMS.defaultcurrency[0].symbol}} {{TTEMS.TaskDetails.invoice.amount.coupon* TTEMS.defaultcurrency[0].value | number:2}} </td>
                              </tr> -->
                                <tr>
                                    <td height="30">{{'JOB AMOUMT' | translate}}:</td>
                                    <td style="text-align: right;">
    </div>{{TTEMS.defaultcurrency[0].symbol}} {{(TTEMS.TaskDetails.invoice.amount.total) * TTEMS.defaultcurrency[0].value | number:2}} </td>
    </tr>
    <tr>
        <td height="30">{{'ADMIN_FEE' | translate}}</td>
        <td style="text-align: right;"> {{TTEMS.defaultcurrency[0].symbol}} {{(TTEMS.TaskDetails.invoice.amount.admin_commission) * TTEMS.defaultcurrency[0].value | number:2}} </td>
    </tr>
    <tr style="border-top: 1px solid #ddd; border-bottom: 1px solid #ddd;">
        <td height="50" style="font-weight: bold; font-size: 15px;">{{'EMPLOYEE_EARNINIG' | translate}}</td>
        <td style="text-align: right;font-size: 15px;"><b>{{TTEMS.defaultcurrency[0].symbol}}{{(TTEMS.TaskDetails.invoice.amount.total -TTEMS.TaskDetails.invoice.amount.admin_commission ) * TTEMS.defaultcurrency[0].value | number:2}}</b></td>
    </tr>
    </tbody>
    </table>
    </td>
    </tr>
    </tbody>
    </table>
    <table style="width:100%; color:#fff; padding:0px; border-top: 1px solid #ddd; background: #000; font-size:13px;" class="spt-ftr">
        <tbody>
            <tr>
                <td>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td style="width: 75px;"><img src="app/site/public/images/chat-icon.png" width="40" style="margin-left: 20px;"></td>
                                <td style=" width: 280px;">
                                    <h6 style="color: #FC7800; margin: 0px 0px 5px;">{{TTEMS.getsettings.settings.site_title}} Support</h6>
                                    <p style="font-size:10px; color: #FFFFFF; margin: 0px;">{{TTEMS.getsettings.settings.email_address}}
                                        <br>
                                    </p>
                                </td>
                                <td style="width: 75px;">
                                </td>
                                <td width="40" style="  margin-left: 20px; padding: 20px 20px; width: 75px;">
                                </td>
                                <td style=" width: 280px;">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td style="width: 20px; text-align: center;">
                                                </td>
                                                <td style="width: 20px; text-align: center;">
                                                    <p> <a href="{{TTEMS.getsettings.settings.site_url}}site/account/downloadPdf?trans={{TTEMS.TaskDetails.bookingid}}&symbol={{TTEMS.defaultcurrency[0].symbol}}&value={{TTEMS.defaultcurrency[0].value}}" style="font-size:16px;color:red" target="_blank" class="fa fa-file-pdf-o"> &nbsp; {{'DOWNLOAD PDF' | translate}}</a></p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    </form>
    </div>
    <script src="./Quickrabbit_files/jquery.min.js"></script>
    <script>
    function taskertransaction() {
        var taskid = $('#taskid').val();
        var taskerid = $('#taskerid').val();
        // alert(taskid);
        // alert(taskerid);
        $.ajax({
            url: "../../taskertransaction",
            type: "post",
            data: {
                taskid: taskid,
                taskerid: taskerid
            },
            success: function(data) {
                // alert(data);
                // location.reload();
            }
        });
    }
    </script>
</body>

</html>
