<div class="modal-header">
    <h3 class="modal-title custom-font">Send Mail</h3>
</div>


<div class="modal-footer">
  <select class="input-sm form-control inline w-sm" ng-model="selectmail">
   <option value="">--Select Template--</option>
    <option ng-repeat="email in emailtemplate" value="{{email._id}}">{{email.name}}</option>
  </select>
    <button class="btn btn-default btn-border" ng-click="sendtemplatemail(selectmail)">Send</button>
</div>
