<div class="modal-header">
    <h3 class="modal-title custom-font">Send Message</h3>
</div>


<div class="modal-footer">
  <select class="input-sm form-control inline w-sm" ng-model="selectmessage">
   <option value="">--Select Template--</option>
    <option ng-repeat="email in emailtemplate" value="{{email._id}}">{{email.name}}</option>
  </select>
    <button class="btn btn-default btn-border" ng-click="sendmessagemail(selectmessage)">Send</button>

</div>
