<section>
   <div class="hidehiolder">
      <div class="container">
         <ul class="hiretop">
            <li class="col-sm-4 completed"><span>1. {{'FILL OUT JOB DETAILS' | translate}}</span></li>
            <li class="col-sm-4 brdlin completed"><span>2. {{'VIEW EMPLOYEE & PRICES' | translate}}</span></li>
            <li class="col-sm-4 active"><span>3. {{'CONFIRM&BOOK' | translate}}</span></li>
         </ul>
      </div>
   </div>
</section>
<section>
   <form name="taskConfirmForm" submit-validate no-validate >
      <div class="hirestep3 ">
         <div class="container2">
            <div class="hirestp3holder">
               <h1 class="confbook-text"> {{'CONFIRM&BOOK' | translate}}</h1>
               <div class="conf-divs">
                  <h3> {{'PAYMENT' | translate}}</h3>
                  <div class="conf-white">
                     <ul class="credicard-detls">
                        <li>
                           <label class="mobl-dis"> {{'CREDIT_CARD' | translate}} {{stripeError}}</label>
                           <input required name= "card_number" ng-model="TCC.taskPayment.card.number" ng-minlength="16" ng-maxlength="16" ng-pattern='/^(\d)+$/'  class="mobilenumb" placeholder="" type="text">
                           <span style="color:red" ng-show="taskConfirmForm.card_number.$invalid && !taskConfirmForm.card_number.$pristine">Please Check Card Number</span>
                        </li>
                        <li>
                           <div class="Experitaiton">
                              <label> {{'EXPIRATION' | translate}}</label>
                              <select required name = "exp_month" ng-model="TCC.taskPayment.card.exp_month">
                                 <option checked="checked" value="01">01</option>
                                 <option value="02">02</option>
                                 <option  value="03">03</option>
                                 <option value="04">04</option>
                                 <option value="05">05</option>
                                 <option value="06">06</option>
                                 <option value="07">07</option>
                                 <option value="08">08</option>
                                 <option value="09">09</option>
                                 <option value="10">10</option>
                                 <option value="11">11</option>
                                 <option value="12">12</option>
                              </select>
                              <select required name ="exp_year" ng-model="TCC.taskPayment.card.exp_year" >
                                 <option value="{{$index + 2016}}" ng-repeat="n in TCC.range track by $index"  >{{$index + 2016}}</option>
                              </select>
                           </div>
                           <div class="Experitaiton">
                              <label> {{'CVV_CODE' | translate}}</label>
                              <input required name ="cvc" ng-maxlength="3" ng-pattern='/^(\d)+$/' ng-model="TCC.taskPayment.card.exp_year" type="text">
                           </div>
                        </li>
                        <span style="color:red" ng-show="taskConfirmForm.exp_month.$invalid && !taskConfirmForm.exp_month.$pristine"> Expiration Month is required.</span>
						            <span style="color:red" ng-bind="stripeError">{{stripeError}}</span>
                        <span style="color:red" ng-show="taskConfirmForm.exp_year.$invalid && !taskConfirmForm.exp_year.$pristine"> Expiration Year is required.</span>
                        <span style="color:red" ng-show="taskConfirmForm.cvc.$invalid && !taskConfirmForm.cvc.$pristine"> CVV Code is required.</span>

                     </ul>
                     <i> {{'YOU ARE CHANGE ONLY AFTER YOUR JOB IS COMPLETED' | translate}}!</i>
                  </div>
               </div>
               <div class="conf-divs">
                  <h3> {{'SHOPPING' | translate}}</h3>
                  <div class="conf-white">
                     <div class="col-md-6 leftartr">
                        <div class="col-sm-6 leftartr-img">
                           <figure><img ng-src="{{TCC.userDetails.avatar}}"></figure>
                           <label>{{TCC.userDetails.name.first_name}} {{TCC.userDetails.name.last_name}}</label>
                           <span>${{ ( TCC.userDetails.taskerskills | filter: {categoryid: TCC.filter.categoryid })[0].hour_rate }}/hr</span>
                        </div>
                        <div class="col-sm-6">
                           <ul class="datesid">
                              <li>{{ TCC.WorkingDate | date :  "MMM" }}</li>
                              <li class="twnt">
                                 <span class="nmr">{{ TCC.WorkingDate | date :  "d" }}th</span>
                                 <span>{{ TCC.WorkingDate | date :  "EEEE" }}</span>
                              </li>
                              <li>{{TCC.Fulltiming[TCC.filter.hour]}}</li>
                           </ul>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="rig-content">
                           <span class="newyk">{{TCC.userDetails.address.line1}}</span>
                           <span>
                           EXAMPLE: I finally found a store that carries the elusive toy of the year and am unable to go across town to purchase it. I’ve called ahead to reserve it, and they’ll hold it for 24 hours. The price is $65 plus tax, which I’ll reimburse you for. The store is located 20 miles from my house, I’ll need you to buy the item and bring it to me. Thank you!
                           </span>
                        </div>
                     </div>
                  </div>
               </div>
               <input class="bluebtn marginsds" value="Confirm & Book" ng-click ="TCC.payment(taskConfirmForm.$valid)"type="submit">
            </div>
         </div>
      </div>
   </form>
</section>
<!-- Modal -->
<div class="modal fade" id="changs" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header modal-header-primary">
            <button class="close" aria-hidden="true" data-dismiss="modal" type="button">×</button>
            <span class="headingconflm"> {{'CONFIRM_NAVIGATION' | translate}}</span>
         </div>
         <div class="modal-body">
            <span>{{'CHANEGING YOUR JOB TYPE WILL EARSE EVERYTHING ENTERED ON THIS PAGE,CONTINUE' | translate}}?</span>
            <button class="borderbtn" aria-hidden="true" data-dismiss="modal" type="button"> {{'CLOSE' | translate}}</button>
            <input class="bluebtn" value="ok" type="submit">
         </div>
      </div>
      <!-- /.modal-content -->
   </div>
   <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- Modal -->
