<div class="page page-tables-bootstrap">
  <div class="pageheader">
     <h2>{{'Menu.ADMINISTRATORS' | translate}} </h2>
     <div class="page-bar">
         <ul class="page-breadcrumb">
             <li>
                 <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
             </li>
             <li>
                 <a href="javascript:;">{{'Menu.ADMINISTRATORS' | translate}}</a>
             </li>
             <li>
                 <a ui-sref="app.users.usersList">{{'SubMenu.ADMIN_LIST' | translate}}</a>
             </li>
         </ul>
     </div>
 </div>

    <div class="pagecontent">
        <div class="row">
            <div class="col-md-12">
                <section class="tile" fullscreen="isFullscreen07">
                    <div class="tile-header dvd dvd-btm">
                        <h1 class="custom-font"><strong>Admin's</strong> List</h1>{{ALC.permission.add  }}
                        <ul ng-if="ALC.permission.add !=false" class="controls">
                            <li  ><a ui-sref="app.admins.add()"><i class="fa fa-plus mr-5"></i>Add Admin</a></li>
                        </ul>
                    </div>
                    <custom-table data="ALC.table" delete-call="ALC.deletedData"></custom-table>
                </section>
            </div>
        </div>
    </div>
</div>
