<div role="tabpanel" id="Billing">
    <div class="account-section">
        <span>{{'EDIT_BILLING_INFO' | translate}}</span>
    </div>
    <ul class="paswdsection">
        <li>
            <label>{{'CARD_NUMBER' | translate}}</label>
            <input type="text">
        </li>
        <li>
            <label>{{'EXPIREATION_DATE' | translate}}</label>
            <select>
                <option>{{'MONTH' | translate}}</option>
            </select>
            <select>
                <option>{{'YEAR' | translate}}</option>
            </select>
        </li>
        <li>
            <label>{{'SECURITY_CODE' | translate}}</label>
            <input type="text">
        </li>
        <li>
            <label>{{'ZIPCODE' | translate}}</label>
            <input type="text">
        </li>
        <div class="btnholder">
            <input class="borderbtn" value="{{'CANCEL' | translate}}" type="submit">
            <input class="bluebtn" value="{{'SAVE' | translate}}" type="submit">
        </div>
    </ul>
</div>
