<div role="tabpanel" id="Redemptions">
    <div class="account-section">
        <span> {{'ACCOUNT_BALANCE' | translate}} </span>
    </div>
    <div class="toptxtsd">
        <label>{{'AVAILABLE_ACCOUNT_BALANCE' | translate}}:<span> {{rc.DefaultCurrency[0].symbol}} 0</span> </label>
    </div>
    <p class="dundnotes">*{{'ACCOUNT_BALANCE_ARE_AUTOMATICALLY_APPLIED_WHEN_A_JOB_IS_COMPLETED' | translate}}.</p>
    <ul class="paswdsection">
        <li>
            <label>{{'ENTER_A_REDEMPION_CODE' | translate}}:</label>
            <input type="text">
        </li>
        <div class="btnholder">
            <input class="bluebtn" value="{{'APPLY' | translate}}" type="submit">
        </div>
    </ul>
</div>
