<div role="tabpanel" id="Transactions">
  <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" dismiss-on-timeout="{{alertTimeout}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
    <div class="account-section">
        <span>Vehicle</span>
    </div>
    <div class="vehicles">
        <div class="vehicle" ng-repeat="vehicle in ACC.vehicles">
            <label>
            <input type="checkbox" checklist-model="ACC.user.vehicle" checklist-value="vehicle._id"> {{vehicle.name}}
            </label>
            <p>{{vehicle.description}}</P>
        </div>
    </div>
	<div class="btnholder ">
                <input class="borderbtn" value="Cancel" type="submit">
                <input class="bluebtn savdedit" ng-click="ACC.saveVehicle()" value="Save" type="submit">
  </div>
</div>
