<div class="adminweekmodal">
    <div class="modal-header">
        <button class="close" ng-click="CCM.cancel()">×</button>
        <span class="headingconflm">{{'CONFIRM_NAVIGATION' | translate}}</span>
    </div>
    <div class="modal-body">
        <span>{{'CHANGING_YOUR_JOB_TYPE_WILL_ERASE_EVERYTHING_ENTERED_ON_THIS_PAGE' | translate}}?</span>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="CCM.ok()">{{'OK' | translate}}</button> 
        <button type="button" class="btn btn-default" ng-click="CCM.cancel()">{{'CANCEL' | translate}}</button>
    </div>
</div>
