<div class="adminweekmodal">
    <div class="modal-header">
        <button type="button" class="close" ng-click="DATA.cancel()" data-dismiss="modal">X</button>
        <span class="headingconflm">{{'DELETE_ADDRESS' | translate}}</span>
    </div>
    <div class="modal-body">
        <p>{{'ARE YOU SURE YOU WANT TO DELETE' | translate}} ?</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="DATA.ok()">{{'OK' | translate}}</button>
        <button class="btn btn-default" type="button" ng-click="DATA.cancel()">{{'CANCEL' | translate}}</button>
    </div>
</div>
