<div class="container page-content">
    <div class="row">
        <div class="col-md-12">
            <h2>{{'FIND_AN_EMPLOYEE_FOR' | translate}} <b>{{ TFC.taskbaseinfo.SubCategoryInfo.name}}</b> <a ui-sref="hirestep1({slug:TFC.taskbaseinfo.SubCategoryInfo.slug})">{{'MODIFY_JOB_DETAILS' | translate}} <span class="glyphicon glyphicon-pencil"></span></a></h2>
        </div>
        <div class="col-md-12 mt-10" ng-if="TFC.TaskerDetails.length > 0">
            <div class="alert alert-default srch-title">
                <span class="glyphicon glyphicon-user"></span> {{'CHOOSE THE EMPLOYEE YOU’D LIKE TO WORK WITH OR LET'| translate}} '{{rc.title}}' {{'FIND THE BEST ONE FOR YOUR JOB'| translate}}.
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="changs" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-header-primary">
                    <button class="close" aria-hidden="true" data-dismiss="modal" type="button">×</button>
                    <span class="headingconflm">{{'CONFIRM_NAVIGATION' | translate}}</span>
                </div>
                <div class="modal-body">
                    <span>{{'CHANEGING YOUR JOB TYPE WILL EARSE EVERYTHING ENTERED ON THIS PAGE,CONTINUE'| translate}}?</span>
                    <button class="borderbtn" aria-hidden="true" data-dismiss="modal" type="button">{{'CLOSE' | translate}}</button>
                    <input class="bluebtn" value="ok" type="submit">
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <!-- Modal -->
    <div class="hire-stp2">
        <div class="row">
            <div class="col-md-4 col-xs-12 hstp2-cnt">
                <div class="hirestp2holder hstp2-filter">
                    <div class="col-sm-12 pad0">
                        <h2>{{'JOB DATE & TIME' | translate}}</h2>
                        <div ng-controller="DatepickerDemoCtrl" class="cal-holde hre2-cal">
                            <i ng-click="open($event)" class="fa fa-calendar"></i>
                            <form name="hireStepForm">
                                <input ng-change="TFC.filterDate()" type="text" name="valid_from" id="valid_from" class="dateside" datepicker-popup="{{format}}" ng-model="TFC.WorkingDate" ng-init="TFC.filterDate()" is-open="opened" datepicker-options="dateOptions" min-date="minDate" ng-required="true" close-text="Close" show-clear="false" required/>
                                <span ng-show="hireStepForm.valid_from.$invalid && !hireStepForm.valid_from.$pristine">Valid from is required.</span>
                            </form>
                        </div>
                    </div>
                    <div class="col-sm-12 pad0">
                        <div class="hirestp-radio availabilities-day-form">
                            <select ng-model="hours" ng-init="hours = TFC.dafaulttime" ng-change="TFC.hourfilter(hours)" class="time-selc" style="width: 100%!important;" ng-options="size.data as size.time for size in TFC.filterTiming" name="select_time" required>
                            </select>
                            <span ng-show="hireStepForm.select_time.$invalid && !hireStepForm.select_time.$pristine">Time is required.</span>
                        </div>
                    </div>
                    <div class="col-sm-12 pad0">
                        <h2>{{'PRICE' | translate}}:</h2>
                        <div class="hirestp-radio availabilities-day-form">
                            <div class="priceSlider">
                                <rzslider rz-slider-floor="TFC.slider.floor" rz-slider-ceil="TFC.slider.ceil" rz-slider-model="TFC.slider.minValue" rz-slider-high="TFC.slider.maxValue" rz-slider-options="TFC.slider.options"></rzslider>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <section>
                    <div class="hirestep-2 tasker_list">
                        <div class="hire2bottom">
                            <ul ng-if="TFC.TaskerDetails.length > 0" class="tatrnear">
                                <li ng-repeat="TaskerDetails in TFC.TaskerDetails">
                                    <div class="ico-amt">
                                        <figure>
                                            <img ng-if="TaskerDetails.avatar" err-src ng-src="{{TaskerDetails.avatar}}" style="height:100%;width:100%;">
                                            <img ng-src="TaskerDetails.avatar ==''" style="height:100%;width:100%;" alt="empty" err-src>
                                            <div class="mob-options">
                                                <ul>
                                                    <li>
                                                        <span title="chat" ui-sref="chat({task:TFC.filter.task,user:TFC.currentUserData._id,tasker:TaskerDetails._id,childid:TFC.filter.categoryid})"><i class="fa fa-wechat"></i></span>
                                                    </li>
                                                    <li>
                                                        <a class="" href="#" ng-click="TFC.confirmatask({task:TFC.filter.task,tasker:TaskerDetails,childid:TFC.filter.categoryid,bdate:TFC.WorkingDate,btime:TFC.hours})">
                                                            <span class="glyphicon glyphicon-ok"></span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="" href="javascript:void(0)" ui-sref="taskerProfile({taskerId:TaskerDetails._id,slug:TFC.taskbaseinfo.SubCategoryInfo.slug,lat:TFC.filter.lat,lon:TFC.filter.lon,vechile:TFC.filter.vechile,day:TFC.filter.day,hour:TFC.filter.hour,date:TFC.filter.date,booking_id:TFC.filter.booking_id,task:TFC.filter.task})">
                                                            <span class="glyphicon glyphicon-eye-open"></span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </figure>
                                        <span class="hur-amt" title="chat" ui-sref="chat({task:TFC.filter.task,user:TFC.currentUserData._id,tasker:TaskerDetails._id,childid:TFC.filter.categoryid})"><i class="fa fa-wechat"></i></span>
                                        <div class="tskr-vew">
                                            <button class="btn btn-primary btn-block mt-10" href="#" ng-click="TFC.confirmatask({task:TFC.filter.task,tasker:TaskerDetails,childid:TFC.filter.categoryid,bdate:TFC.WorkingDate,btime:TFC.hours})">
                                                {{'CONFIRM_JOB' | translate}}
                                            </button>
                                            <a class="btn-block mt-10" href="javascript:void(0)" ui-sref="taskerProfile({taskerId:TaskerDetails._id,slug:TFC.taskbaseinfo.SubCategoryInfo.slug,lat:TFC.filter.lat,lon:TFC.filter.lon,vechile:TFC.filter.vechile,day:TFC.filter.day,hour:TFC.filter.hour,date:TFC.filter.date,booking_id:TFC.filter.booking_id,task:TFC.filter.task})">
                                                <span class="muted"> {{'VIEW_PROFILE' | translate}}</span></a>
                                        </div>
                                    </div>
                                    <div class="tasker-dtl-info">
                                        <div class="top-bx1">
                                            <div class="col-md-8 tsker-ifo">
                                                <h2 class="name-tile">{{TaskerDetails.username}} </h2>
                                                <p ng-if="TaskerDetails.taskercount"><span class="glyphicon glyphicon-ok"></span> {{TaskerDetails.taskercount}} Completed Jobs</p>
                                                <p ng-if="!TaskerDetails.taskercount"><span class="glyphicon glyphicon-ok"></span> {{'EMPLOYEE NOT YET COMPLETED ANY JOB' | translate}}</p>
                                                <p ng-if="TaskerDetails.avarating"><span class="glyphicon glyphicon-thumbs-up"></span> {{TaskerDetails.taskCount}} Reviews: {{TaskerDetails.avarating*20}}% Positive
                                                </p>
                                                <p ng-if="!TaskerDetails.avarating"><span class="glyphicon glyphicon-thumbs-down"></span> {{'NO ONE HAS REVIEWED YET' | translate}}</p>
                                            </div>
                                            <div class="col-md-4 tsker-rte">
                                                <a class="tsk-amt">
                                                    <span class="muted">{{rc.DefaultCurrency[0].symbol}} {{((TaskerDetails.taskerskills | filter: {childid: TFC.filter.categoryid })[0].hour_rate) * rc.DefaultCurrency[0].value | number:2}}/hr</span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="top-bx2 tsker-ifo-cnt mt-20">
                                            <h4>How I can help:</h4>
                                            <p> {{((TaskerDetails.taskerskills | filter: {childid: TFC.filter.categoryid })[0].quick_pitch) }}</p>
                                            <span class="name-tile" ng-if="!TaskerDetails.avarating">{{'EMPLOYEE HAS NOT YET GOT ANY REVIEWS'| translate}}</span>
                                            <div class="rew-cnt" ng-if="TaskerDetails.avarating">
                                                <div class="media--figure">
                                                    <img class="avatar-new-72" src="{{TaskerDetails.recentReview.userdetails.avatar}}" err-src="/">
                                                </div>
                                                <div class="media--content">
                                                    <div class="recommendations__review-content">
                                                        {{TaskerDetails.recentReview.comments}}
                                                        <!-- "Ryan did a really fast, thorough job and was very nice. I will definitely be using him in the future!" -->
                                                    </div>
                                                    <div class="u-muted">
                                                        - {{TaskerDetails.recentReview.updatedAt | date:'MMMM dd, yyyy'}}
                                                        <!-- ‐ August 15, 2016 -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div ng-if="TFC.TaskerDetails.length > 0" class="pagination_inner clearfix">
                                <nav>
                                    <uib-pagination max-size="5" items-per-page="TFC.itemsPerPage" ng-change="TFC.getTaskerDetails()" total-items="TFC.totalItem" ng-model="TFC.currentPage" class="pagination" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                                </nav>
                            </div>
                            <div ng-if="TFC.TaskerDetails.length == 0" style="display:none" record-response="TFC.getTaskerDetailsResponse" no-record num-records="TFC.TaskerDetails.length">
                                <div class="notaster" id="notaster">
                                    {{'WE ARE SORRY BUT WE DONT HAVE AN EMPLOYEE WHO MATCHES YOUR CRITERIA' | translate}}..
                                    <br>
                                    <span>{{'PLEASE CLICK TO MODIFY YOUR JOB DETAILS AND TRY AGAIN' | translate}}. <a ui-sref = "hirestep1({slug:TFC.taskbaseinfo.SubCategoryInfo.slug})">{{'MODIFY JOB DETAILS'|translate}} <i class="glyphicon glyphicon-pencil"></i></a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<style>
    .datepicker .btn-default {
        border-width: 0;
        width: 100%;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .datepicker .btn-default .glyphicon {
        top: 2px;
    }
    .datepicker .btn[disabled] {
        opacity: .3;
    }
    .datepicker .btn-info {
        color: white !important;
    }
    .datepicker .btn-info .text-info {
        color: white;
    }
    .datepicker .btn-info.active {
        background-color: #5bc0de !important;
    }

    .notaster {
        border: 1px solid #ccc;
        color: #9256a2;
        font-size: 18px;
        margin: 20px 0 20px;
        padding: 20px 0;
        text-align: center;
    }
    .notaster a {
        text-decoration: underline;
        color: #666;
        font-size: 14px;
    }
</style>