<div class="container page-content">
    <div class="row">
        <div class="col-md-12">
            <h2>{{'FIND_AN_EMPLOYEE_FOR' | translate}} {{ TAC.taskbaseinfo.SubCategoryInfo.name}} <a href="#" ng-click="TAC.changeCategory()"><i class="fa fa-pencil"></i>{{'CHANGE'| translate}}</a></h2>
            <p>{{'BASED_ON_THE_DETAILS_ENTERED_BELOW' | translate}}.</p>
        </div>
        <div class="col-md-12" style="padding-top: 20px;">
            <form name="taskbaseinfo" submit-validate novalidate>
                <p class="tas-list"> {{'YOUR_JOB_LOCATION' | translate}} <span ng-if="TAC.loctionflag == true"  ng-click="TAC.loctionflag = false;TAC.taskbaseinfo.address.line1 = '';" id="edit_tasklocation" style="cursor: pointer;">Edit</span>
                </p>
                <div class="borm-detlsectio text-center">
                    <span ng-if="TAC.loctionflag == true"><i class="fa fa-map-marker"></i> {{TAC.taskbaseinfo.address.line1}}</span>
                    <label ng-if="TAC.availability == 1" class="green"><i ng-if="TAC.availability == 1" class="fa fa-check " style="font-size: 18px; margin-right:8px"></i>{{'GOOD_NEWS' | translate}} {{rc.title}} {{'IS_AVAILABLE_IN_YOUR_AREA' | translate}}</label>
                    <label ng-if="TAC.availability == 0" class="red"><i ng-if="TAC.availability != 1" class="fa fa-times" style="font-size: 18px; margin-right:8px"></i>{{'WE ARE SORRY BUT WE DONT HAVE EMPLOYEE IN YOUR AREA' | translate}}</label>
                </div>
                <div class="task-spcd col-sm-12">
                    <div class="selectadd col-sm-4">
                        <a class="btn icon-btn " href="#" ng-click="TAC.Editaddress($index)">
                            <span class="fa fa-plus add-icon" style="font-size:36px"></span>
                            <span class="add-txt">{{'ADD_ADDRESS' | translate}}</span>
                        </a>
                    </div>
                    <div ng-init="TAC.placeChanged()">
                        <div ng-if="TAC.addressList" ng-repeat="address in TAC.addressList" class="selectadd col-sm-4">
                            <div class="col-sm-12">
                                <!-- <div class="seleted-addr">
                                    <input type="radio" ng-model="TAC.filter.address" ng-change="TAC.placeChanged()" ng-value="address._id" name="selectaddress" title="Select Address" data-toggle="tooltip" data-placement="top" tooltip class="addr-selc">
                                    <div class="check">
                                        <div class="inside"></div>
                                    </div>
                                </div> -->
                                <h4 ng-if="address.status == 3">
                                    <strong ng-click="TAC.addressStatus(address._id)" class="link"><i class="fa fa-check-square" style="color:#9256a2;"></i> Default Address</strong>
                                </h4>
                                <h4 ng-if="address.status == 1">
                                    <strong ng-click="TAC.addressStatus(address._id)" class="link"><i class="fa fa-square-o" style="color:#9256a2;"></i> Make as Default Address</strong>
                                </h4>
                            </div>
                            <div class="col-sm-12 shipping-address">
                                <p class="ng-binding"><strong>{{'STREET_ADDRESS' | translate}}</strong>:<span ng-if="address.line1"> {{address.line1}}</span> <span ng-if="address.street"> ,{{address.street}}</span><span ng-if="address.landmark"> ,{{address.landmark}}</span>
                                </p>
                                <p ng-if="address.locality" class="ng-binding"><strong>{{'CITY' | translate}}</strong>: {{address.locality}}</p>
                                <p ng-if="address.city" class="ng-binding"><strong>{{'CITY' | translate}}</strong>: {{address.city}}</p>
                                <p class="ng-binding"><strong>{{'STATE' | translate}}</strong>: {{address.state}}</p>
                                <p class="ng-binding"><strong>{{'ZIPCODE' | translate}}</strong>: {{address.zipcode}}</p>
                            </div>
                            <div class="col-sm-6">
                                <a href="javascript:void(0)" class="btn btn-default btn-block" ng-click="TAC.Editaddress($index)">
                                    <i class="fa fa-edit"></i> {{'EDIT' | translate}}
                                </a>
                            </div>
                            <div class="col-sm-6">
                                <a href="javascript:void(0)" class="btn btn-default btn-block" ng-click="TAC.deleteaddress($index)" title="">
                                    <i class="fa fa-trash"></i> {{'DELETE' | translate}}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="task-spcd col-md-12">
                    <span class="tas-list"> {{'TELL_US_ABOUT_YOUR_JOB' | translate}}</span>
                    <div class="hidnig">
                        <textarea name="about" placeholder="{{'ADDITIONAL_INSTRUCTION_TO_EMPLOYEE' | translate}}." required ng-model="TAC.filter.about"></textarea>
                        <span class="red" ng-show="taskbaseinfo.about.$invalid && !taskbaseinfo.about.$pristine">{{'JOB DETAILS IS REQUIRED'|translate}}.</span>
                        <div class="btn-holder">
                            <input class="btn btn-primary" ng-click="TAC.SearchTasker(TAC.availability,taskbaseinfo.$valid)" value="{{'CONTINUE' | translate }}" type="submit">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
