 <div class="bgcontainer post_step_last quickFixedheight">
    <span class="opacot"></span>
    <div class="cont-holder">
        <div class="splcontainer">
            <div class="images-lom">
                <img src="app/site/public/images/logo.png">
            </div>
            <div class="leftside">
                <div class="col-md-7 intro-text">
                    <div class="main">
                        <p class="medium_white_light">{{'THANK YOU FOR SIGNING UP!.SOMEONE FORM QUICKRABBIT WILL BE IN TOUCH SHORTLY TO VERIFY YOUR ACCOUNT'|translate}} </p>
                        <span class="page-scroll">
                            <a class="btn slide-btn bg-inverse" href="\">{{'BACK_TO_HOME'|translate}}</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
