<section style="margin-top:-2px;">
    <div class="profilepage">
        <div class="profilepage-top" style="background:linear-gradient(#0000, #0000, #535353), url('{{rc.tsimg.image}}');">
            <div class="container">
                <div class="profimg-holder">
                    <figure><img ng-src={{TPC.taskDetailInfo.avatar}} err-src></figure>
                </div>
                <h1 class="text-fil">Hello, I’m {{TPC.taskDetailInfo.username}}.</h1>
                <h4 class="text-fil"><rating  ng-model="TPC.induvidualrating" readonly="true"></h4>
                <ul class="profil-flow">
                    <li ng-if="TPC.availableSymbal">
                        <i class="fa fa-thumbs-o-up"></i>
                        <div class="txt-rit">
                            <span class="pstv-text">{{TPC.availabilityValue}}</span>
                        </div>
                    </li>
                    <li ng-if="!TPC.availableSymbal">
                        <i class="fa fa-thumbs-down"></i>
                        <div class="txt-rit">
                            <span class="pstv-text">{{TPC.availabilityValue}}</span>
                        </div>
                    </li>
                    <li class="bdr-lin">
                        <i class="fa fa-check"></i>
                        <div class="txt-rit">
                            <span class="pstv-text"> {{'IVE DONE' | translate}}<b> {{TPC.taskprofile[0].task.length}} {{'JOBS' | translate}} .</b></span>
                            <span class="sml-text"> {{'IVE BEEN AN EMPLOYEE' | translate}}<b> {{'SINCE' | translate}}  {{TPC.dateConversion}}</b></span>
                        </div>
                    </li>
                    <li>
                        <i class="fa fa-map-marker"></i>
                        <div class="txt-rit">
                            <span class="pstv-text">{{'LOCATIONS' | translate}}</span>
                            <span class="sml-text">{{TPC.taskDetailInfo.address.city}}, {{TPC.taskDetailInfo.address.country}}</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="container page-content">
    <div class="profile-pages">
        <div class="tabbable-panel">
            <div class="tabbable-line">
                <uib-tabset active="active">
                    <uib-tab index="0" heading="Hire Me">
                        <div class="profi-content" id="category_content">
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_default_1">
                                    <ul class="hire-liip">
                                    </ul>
                                    <div class="col-md-12" ng-repeat="data in TPC.taskprofile[0].taskercategory" ng-if="data.childid[0].name">
                                        <div class="brdlinr">
                                            <div class="generlinf">
                                                <div class="col-md-6 mt-10">
                                                    <h3>{{data.childid[0].name}}</h3>
                                                </div>
                                                <div class="col-md-6">
                                                    <a class="btn btn-primary mt-30" ui-sref="hirestep1({slug:data.childid[0].slug})" style="width:auto;float:right;!important">
                                                        <span class="muted">Select for</span>: {{rc.DefaultCurrency[0].symbol}} <span>{{data.hour_rate * rc.DefaultCurrency[0].value | number:2}}/hr</span></a>
                                                </div>
                                                <ul class="generlinf">
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab index="1" heading="Reviews">
                        <div class="profi-content">
                            <div class="tab-content" ng-repeat="profile in TPC.taskprofile" ng-if="profile.category[0].name">
                                <div class="tab-pane2">
                                    <ul class="hire-liip">
                                        <li>
                                            <div class="col-md-9 legncont">
                                                <h2>{{profile.category[0].name}}</h2>
                                                <p>{{profile.rate.comments}}</p>
                                            </div>
                                            <div class="col-md-3">
                                                <rating ng-model="profile.rate.rating" readonly="true" ng-if="profile.category[0].name">
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-content" ng-if="!TPC.taskprofile[0].category[0].name">
                                <h4 class="text-center mt-30">{{'EMPLOYEE HAS NOT YET GOT ANY REVIEWS'|translate}}</h4>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab index="3" heading="About">
                        <div class="profi-content">
                            <div class="tab-content">
                                <div class="tab-pane2">
                                    <div class="col-md-10 col-md-offset-1">
                                        <ul class="factloop">
                                            <h4>{{'A FEW FUN FACTS ABOUT ME' | translate}}:</h4>
                                            <li><i class="fa fa-calendar"></i>
                                                <span>{{'IVE BEEN AN EMPLOYEE' | translate}}<b> {{'SINCE' | translate}} {{TPC.dateConversion}}.</b></span>
                                            </li>
                                            <li><i class="fa fa-check"></i>
                                                <span>{{'I’VE DONE' | translate}}<b>&nbsp;&nbsp;{{TPC.taskprofile[0].task.length}} {{'JOBS' | translate}} .</b></span>
                                            </li>
                                        </ul>
                                        <ul class="factloop">
                                            <h4>{{'WHY I AM YOUR EMPLOYEE' | translate}}:</h4>
                                            <li ng-repeat="data in TPC.questionValue track by $index" ng-if="data.question.question">
                                                <h4>{{data.question.question}}</h4>
                                                <span ng-bind-html="data.answer"></span>
                                            </li>
                                            <li ng-if="!TPC.taskDetailInfo.profile_details[0].question">
                                                <h4>{{TPC.questionValue}}</h4>
                                                <span ng-bind-html="TPC.answerValue"></span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>
</section>
