<div class="page page-dashboard">
  <div class="pageheader">
    <h2>{{page.title}} <span> {{page.subtitle}}</span></h2>
    <div class="page-bar">
      <ul class="page-breadcrumb">
        <li><a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a></li>
        <li><a ui-sref="app.dashboard">{{page.title}}</a></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="feature-box-container col-lg-3 col-sm-6 col-sm-12">
      <div class="card">
        <div ui-sref="app.users.list" class="front bg-greensea">
          <div class="row">
            <div class="col-xs-4">
              <i class="fa fa-user fa-4x"></i>
            </div>
            <div class="col-xs-8">
              <p class="text-elg text-strong mb-0">{{userlist}}</p>
              <span>Users</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="feature-box-container col-lg-3 col-sm-6 col-sm-12">
      <div class="card">
        <div ui-sref="app.taskers.list" class="front bg-lightred">
          <div class="row">
            <div class="col-xs-4">
              <i class="fa fa-users fa-4x"></i>
            </div>
            <div class="col-xs-8">
              <p class="text-elg text-strong mb-0">{{taskers}}</p>
              <span>Employees</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="feature-box-container col-lg-3 col-sm-6 col-sm-12">
      <div class="card">
        <div ui-sref="app.tasks.viewsTasks" class="front bg-blue">
          <div class="row">
            <div class="col-xs-4">
              <i class="fa fa-tasks  fa-4x"></i>
            </div>
            <div class="col-xs-8">
              <p class="text-elg text-strong mb-0">{{tasks}}</p>
              <span>Jobs</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="feature-box-container col-lg-3 col-sm-6 col-sm-12">
      <div class="card">
        <div ui-sref="app.categories.list" class="front bg-slategray">
          <div class="row">
            <div class="col-xs-4">
              <i class="fa fa-navicon fa-4x"></i>
            </div>
            <div class="col-xs-8">
              <p class="text-elg text-strong mb-0">{{categorylist}}</p>
              <span>Categories</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <section class="tile" fullscreen="isFullscreen08">
        <div class="tile-header dvd dvd-btm">
          <h1 class="custom-font"><strong>Recent </strong>Job</h1>
        </div>
        <div class="tile-body p-0">
          <table class="table">
            <thead>
              <tr>
                <th>Booking ID</th>
                <th>User</th>
                <th>Employee</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="task in taskDetails" ng-class="{active:task.status==1,info:task.status==2,success:task.status==6 || task.status==7 ,danger:task.status==8,warning:task.status==9,info:task.status==5}">
                <td>{{task.booking_id}}</td>
                <td>{{task.user.username}}</td>
                <td>{{task.tasker.username}}</td>
                <td ng-if="task.status == 1">Onprogress</td>
                <td ng-if="task.status == 2">Accepted </td>
                <td ng-if="task.status == 3">StartOff </td>
                <td ng-if="task.status == 4">Arrived</td>
                <td ng-if="task.status == 5">StartJob </td>
                <td ng-if="task.status == 6">Completed</td>
                <td ng-if="task.status == 7">Completed</td>
                <td ng-if="task.status == 8">Cancelled </td>
                <td ng-if="task.status == 9">Dispute</td>
                <td><button type="button" ng-click="DLC.viewtask(task._id)" class="btn btn-rounded-20 btn-default btn-sm mr-5"
                    style="width:30px;"><i class="fa fa-eye"></i></button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
    </div>

    <div class="col-md-4 tab-list">
      <section class="tile" fullscreen="isFullscreen07">
        <div class="tile-body p-0">
          <tabset class="tabs-dark">
            <tab heading="Recent Unverified Employees">
              <div class="wrap-reset dashboard" style="max-height: 350px;overflow:auto;">
                <p ng-if="taskersDetails == 0" style="color: red;   text-align: center"><strong>No Unverified Employees </strong></p>
                <div class="media " ng-repeat="tasker in taskersDetails">
                  <div class="pull-left thumb">
                    <img class="media-object img-circle" ng-src={{tasker.avatar}} alt="" err-src>
                  </div>
                  <div class="pull-right mt-10">
                    <button type="button" ng-if="tasker" ng-click="DLC.edit(tasker._id)" class="btn btn-rounded-20 btn-default btn-sm mr-5" style="width:30px;"><i class="fa fa-pencil"></i></button>
                    <button type="button" ng-if="tasker" class="btn btn-rounded-20 btn-default btn-sm" ng-click="DLC.approvtasker(tasker._id,1)"
                      style="width:30px;"><i class="fa fa-check" style="margin-left: -2px;"></i></button>
                    <!--<button type="button" class="btn btn-rounded-20 btn-default btn-sm"  ng-click="DLC.approvtasker(tasker._id,2)" style="width:30px;"><i class="fa fa-times" style="margin-left: -2px;"></i></button>-->
                  </div>
                  <div class="media-body">
                    <p class="media-heading mb-0 mt-10"><strong>{{tasker.username}}</strong></p>
                    <small class="text-lightred">{{tasker.email}}</small>
                  </div>
                </div>
              </div>
            </tab>

            <tab heading="Recent Users">
              <div class="wrap-reset dashboard" style="max-height: 350px;overflow:auto;">
                <p ng-if="RecentUsers == 0" style="color: red;   text-align: center"><strong>No Unverified User</strong></p>
                <div class="media" ng-repeat="user in RecentUsers">
                  <div class="pull-left thumb">
                    <img class="media-object img-circle" ng-src={{user.avatar}} alt="" err-src>
                  </div>
                  <div class="pull-right mt-10">{{USER}}
                    <button type="button" ng-if="user" ng-click="DLC.edituser(user._id)" class="btn btn-rounded-20 btn-default btn-sm mr-5" style="width:30px;"><i class="fa fa-pencil"></i></button>
                    <button type="button" ng-if="user" class="btn btn-rounded-20 btn-default btn-sm" style="width:30px;" ng-click="DLC.deleteuser(user._id)"><i class="fa fa-trash" style="margin-left: -2px;" ></i></button>
                  </div>
                  <div class="media-body">
                    <p class="media-heading mb-0 mt-10"><strong>{{user.username}}</strong></p>
                    <small class="text-lightred">{{user.email}}</small>
                  </div>
                </div>
              </div>
            </tab>
          </tabset>
        </div>
      </section>
    </div>
  </div>
</div>
</div>
<style>
  .tab-list .media-body {
  word-wrap: break-word;
   display: inline-block;
   width: 45%;
}
  </style>
