<div class="page page-tables-bootstrap">

    <!-- page header -->
    <div class="pageheader">
        <h2>{{ 'Menu.PUSHNOTIFICATION' | translate }} </h2>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
                </li>
                <li>
                    <a ui-sref="app.pushnotifications.templates" >{{ 'Menu.PUSHNOTIFICATION' | translate }}</a>
                </li>
                <li>
                <a>{{ 'SubMenu.PUSHNOTIFICATION-TEMPLATES' | translate }}</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /page header -->
    <!-- page content -->
    <div class="pagecontent">
        <!-- row -->
        <div class="row">
            <!-- col -->
            <div class="col-md-12">
                <!-- tile -->
                <section class="tile" fullscreen="isFullscreen07">
                    <!-- tile header -->
                    <div class="tile-header dvd dvd-btm" href="#app/categories/categoryList">
                        <h1 class="custom-font"><strong>Notification</strong> List</h1>
    					         <ul class="controls">
                         <li><a ng-if="NLC.permission.add != false" ui-sref="app.pushnotifications.email" ><i class="fa fa-plus mr-5"></i> Add Notification</a></li>
                      </ul>
				            </div>
                    <custom-table data="NLC.table" delete-call="NLC.deletedData"></custom-table>
                </section>
                <!-- /tile -->
            </div>
            <!-- /col -->
        </div>
        <!-- /row -->

    </div>
    <!-- /page content -->




</div>
