.tabdetails .nav > li > a {
    padding: 5px 10px!important;
    font-size: 16px;
    background: #9256a2;
    border-radius: 0px;
    color: #333;
}
.tabdetails .nav > li {
	margin: 0px 2px;
}
.tabdetails .nav > li.active > a {
    background: #ff5400;
    color: #000;
    box-shadow: inset 0px 0px 5px #333;
}
.tabdetails .nav > li.active > a:hover,
.tabdetails .nav > li.active > a:active,
.tabdetails .nav > li.active > a:focus {
    color: #333;
}
.wal-bal {
    float: right;
    color: #f60;
}
.wal-bal h4{
	vertical-align: middle;
    display: inline;
    font-size: 15px;
}

.wal-bal h4 span{
	float: right;
    margin-left: 5px;
    font-size: 20px;
}
.wal-mbal{
    float: left;
    width: 50%;
    min-height: 230px;
    border-right: 1px solid #e3e3e3;
}
.wall-balrgt {
    float: left;
    width: 50%;
}
.current-balance a h4{
	display: inherit;
}
.current-balance {
	border: none;
}
.account .maintab > ul.nav-tabs {
	border-bottom: 0;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th {
    font-weight: 600;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
	font-size: 13px;
    border-color: #ddd;
    border: 1px solid #ddd;
    text-align: center;
}
.table-responsive table {
    border: 1px solid #ddd;
    margin: 10px 0px;
}

.account .tab-content .table>thead>tr>th {
    text-align: center;
    border: 1px solid #ccc;
    background: #eee;
}
td.pay-status.ng-scope {
    border: 0;
    border-top: 1px solid #ddd;
    border-left: 0px solid #ddd
}
.account .tab-content .table>thead>tr>th:nth-child(7) {
    text-align: center;
}
.table>tbody>tr>td:nth-child(7) {
    text-align: center;
}
.table-responsive .table>thead>tr>th {
	 border-bottom: none;
}
ul.wallet-mny li label{
	display: inline-block;
    position: absolute;
    font-size: 15px;
    padding: 40px 2px 0 2px;
    height: 100px;
    width: 100%;
    word-wrap: break-word;
}
ul.wallet-mny li .check {
	display: inline-block;
    position: relative;
	height: 100px;
    width: 100px;
    color: #fff;
    border-radius: 50%;
    border: 5px solid #b3b3b3;
    background: #848484;
}
.wallet-mny input[type=radio]:checked ~ .check {
    border: 5px solid #e85004;
}
span.help-inline{
    color: #f00;
    float: left;
    width: 100%;
    text-align: left;
    font-size: 11px;
    padding: 0px 15px;
    margin: 2px 0px;
}
.seleted-addr .check {
    border: 1px solid transparent;
}
.seleted-addr input[type=radio]:checked ~ .check {
    border: 1px solid rgba(4, 175, 76, 0.26);
    width: 100%;
    border-radius: 0;
    top: 0px;
    left: 0px;
    height: 100%;
    background: rgba(4, 175, 76, 0.07);
}
.seleted-addr .check::before {
    content: "\f041";
    font: normal normal normal 14px/1 FontAwesome;
    margin: 0px 2px;
    color: #999;
    font-size: 13px;
    border: 5px solid #dddddd;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    top: 0px;
    left: 0px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
    text-align: center;
    padding: 3px;
}
.seleted-addr input[type=radio]:checked ~ .check::before {
    content: "\f041";
    font: normal normal normal 14px/1 FontAwesome;
    margin: 0px 2px;
    color: #04af4c;
    font-size: 13px;
    border: 5px solid #04af4c;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    top: 5px;
    left: 5px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
    text-align: center;
    padding: 3px;
}
.cat-list .product-list li {
    padding: 0px 0px;
}
.prodt-container .futer-text {
    margin: 10px 0px;
}
.cat-list .prodt-container .futer-text, .cat-list .prodt-container .futer-text a{
    font-size: 19px;
    color: #000000;
    text-transform: uppercase;
    margin: 10px 0px;
    text-align: center;
}
.cat-list .prodt-container .futer-text a:hover{
    text-decoration: none;
}
.prodt-container figcaption {
    padding: 0;
}
.invite-frnds {
    border: 1px solid #ddd;
    border-radius: 3px;
}
.invite-frnds .btnholder {
    width: 100%;
    padding: 20px 0px;
    float: left;
    border-bottom: 1px solid #ddd;
}
.invite-frnds .btnholder span img {
    width: 50%;
    text-align: left;
}
.invite-frnds .btnholder a.invite-mail, .invite-frnds .btnholder a.invite-fb {
    float: right;
    border: 1px solid #ddd;
    padding: 5px 20px;
    width: 19%;
    margin: 10px 10px 0px;
    text-shadow: 0 1px 0 #fff;
    color: #393d4d;
    font-weight: bold;
    padding: 0 13px;
    height: 30px;
    line-height: 28px;
    font-size: 13px;
    border: 1px solid #959595;
    border-color: #c1c1c1 rgb(180, 180, 180) rgb(163, 163, 163);
    box-shadow: inset 0 1px 0px rgb(252, 252, 252), 0 1px 1px rgba(0, 0, 0, 0.1);
    background: -webkit-linear-gradient(top, rgb(253, 253, 253), #f0f0f0 );
    background: -ms-linear-gradient(top, #fcfcfc, #f0f0f0);
    background: -moz-linear-gradient(top, #fcfcfc, #f0f0f0);
    background: -o-linear-gradient(top, #fcfcfc, #f0f0f0);
    filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr = '#fcfcfc', endColorstr = '#f0f0f0' );
    border-radius: 3px;
}
.invite-frnds .btnholder a.invite-mail:hover, .invite-frnds .btnholder a.invite-fb:hover {
    text-decoration: none;
}
.invite-frnds .btnholder span {
    float: left;
    text-align: center;
    width: 10%;
}
.invite-frnds .btnholder:last-child {
    border-bottom: none;
}

td.pay-status span {
    width: 100%;
}
td.pay-status span a {
    width: 100%!important;
}
.view-detail-pop div#taskerimage.prof-image {
    width: 100%;
    float: none;
    text-align: center;
    margin: 10px auto;
}
#viewdetails .logo-container#taskerimage img.img-circle {
    border: 1px solid #ddd;
}
#viewdetails .view-detail-pop>li label {
    width: 50%;
}
.applyto-tasker .wher-live input[type="text"], .applyto-tasker select, .dte-pkr input#valid_from {
    color: #333;
}

.lop-div-task ul.availblty {
    width: 100%;
    border: 0;
}

.lop-div-task ul.availblty li {
    float: left;
    width: 125px;
    list-style-type: none;
    border: 0;
    margin: 5px;
    outline: none;
    border-radius: 50%;
}
.tab-content .lop-div-task ul.availblty li {
    width: 110px;
}
.lop-div-task .availblty a {
    border: 1px solid #ccc;
    float: left;
    padding: 10px 0;
    width: 100%;
    height: 40px;
    cursor: pointer;
}
.lop-div-task .availblty span {
    display: block;
}
.lop-div-task ul.availblty li.selected a {
    background: #f60;
}
.lop-div-task ul.availblty li.selected label, .lop-div-task ul.availblty li.selected span, .lop-div-task ul.availblty li.selected span.green, .lop-div-task ul.availblty li.selected span.red{
    color: #fff;
}
.mke-pay .container2 {
    max-width: 1150px;
}
.mke-pay .hirestp3holder {
    background: #fff;
    padding: 20px;
    margin:15px 0px;
    border-radius: 4px;
}
.wallet-model .Experitaiton select {
    width: 47%;
}
.wallet-model .Experitaiton {
    width: 70%;
}
.wallet-model .Experitaiton:last-child {
    width: 30%;
}
.wallet-model .credicard-detls .mobilenumb {
    margin: 0px 0;
}

.wall-balrgt .mny-pay input[type="number"] {
    border: none;
    border-bottom: 2px solid #f60;
    outline: none;
    box-shadow: none !important;
}
ul.wallet-mny {
    margin: 15px auto 20px;
}

/*payment page*/
.mke-pay .confbook-text {
    padding: 0px 0px 5px;
    text-align: right;
    font-size: 20px;
    margin: 0px;
    color: #f60;
}
span.bk-id.ng-binding {
    font-size: 17px;
    color: #333;
}
.mke-pay .conf-divs {
    float: left;
    width: 49%;
    border: 1px solid #f3f3f3;
    padding: 10px 10px;
    margin: 10px 5px;
    border-radius: 5px;
    min-height: 290px;
    background: #fbfbfb;
}
.mke-pay .conf-divs h3 {
    margin: 10px 0px;
    border-bottom: 1px solid #f1f1f1;
    padding: 0px 0px 5px;
    font-size: 18px;
    color: #f60;
}
.conf-divs.copuon-cde label{
    width: 100%;
}
.pay-meth {
    clear: both;
}
.conf-divs.tsk-dtls label{
    width: 40%;
    float: left;
}
.conf-divs.tsk-dtls p {
    float: left;
    width: 60%;
}
.col-lft-dtls {
    float: left;
    width: 75%;
}
.leftartr-img > figure{
    border: 1px solid #ddd;
}
.cl-rgt-dtls {
    float: right;
    width: 25%;
}
.copuon-cde input{
     height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    outline: none;
}
.copuon-cde input.couponbtn {
    background: #f60;
    color: #fff;
}
.pay-meth ul.wallet-mny li label {
   padding: 30px 2px 0 2px;
}
.dopayment .conf-divs {
    width: 100%;
}
.dopayment .credicard-detls li {
    float: left;
    width: 45%;
    clear: both;
}
.dopayment .mobilenumb {
    width: 100%;
    background: url(../images/credit-card.png) no-repeat 10px;
    padding-left: 30px;
}
.dopayment .Experitaiton {
    width: 70%;
}
.dopayment .Experitaiton select {
    width: 44%;
    background: url(../images/calendar.png) no-repeat 10px;
    padding-left: 30px;
}
.dopayment .Experitaiton:last-child {
    width: 30%;
}
.dopayment .Experitaiton:last-child input {
    background: url(../images/credit-card-with-cvv-code.png) no-repeat 10px;
    padding-left: 30px;
    border: 1px solid #ccc;
    border-radius: 3px;
    float: left;
    height: 36px;
    margin: 0 10px 0 0;
    width: 100%;
}
.copuon-cde .alert{
    margin:10px 0px;
}
.dopayment .credicard-detls span {
    clear: both;
    float: left;
    width: 100%;
    font-size: 13px;
    margin: 2px auto;
}

.task-dtls .chat-list {
    background: url(../images/bg-chat.png) repeat;
}
.task-dtls .chat-list .chat-cnt .chat-col.col-xs-10 .panel {
    background: #e2ffc7;
}
.task-dtls .chat-list .chat-cnt .chat-col.col-xs-10.col-xs-pull-2 .panel   {
    background: rgba(255, 255, 255, 0.84);
}
.task-dtls .chat-list .label-info {
    font-size: 9px;
    padding: 3px;
    top: inherit;
    bottom: 25px;
    color: #949494!important;
}
.label-info {
    background-color: transparent;
}
.task-dtls .col-right {
    width: 40%;
        float: right;
}
.task-dtls .chat-list .chat-cnt .panel-body a {
    text-transform: capitalize;
    color: #333;
    font-weight: bold;
    font-size: 13px;
}
.account {
    margin-bottom: 15px;
}

/*header .navbar .nav li a {
    color: #333;
}*/
ul.tablesection.ng-scope tr:nth-child(even) {
    background: #f5f5f5;
}

.notificationpage .faq-page ul span:last-child {
    float: right;
    font-size: 10px;
    color: #999;
}
.notificationpage  .faq-page ul:nth-child(even) {
    background: #f9f9f9;
}
.notificationpage  .faq-page ul {
    padding: 10px 15px!important;
}
.notificationpage .faq-page .panel-body {
     padding: 0px;
}
.mob-tab-link {
    display: none;
}
.deactive-btn,.deactive-btn:hover, .deactive-btn:focus {
    background: #ff5400;
    border: 1px solid transparent;
    outline: none;
}
.admn-details span {
    font-size: 15px;
}
select.time-selc, .cal-holde {
    margin: 8px 0px;
}
.tatrnear > li figure {
    border: 1px solid #ddd;
    background: #fff;
}
.tasker_list {
    background: #fff;
}
.hire2bottom .tatrnear > li:hover {
    background: #f9f9f9;
}
.rzslider .rz-pointer, .rzslider .rz-bar.rz-selection {
    background-color: #9256a2!important;
}
.rzslider .rz-pointer:active:after {
    background-color: #ddd!important;
}
.rzslider .rz-pointer.rz-active:after{
    background-color: #382d2d!important;
}
.email-notify input#email {
    height: 43px;
    padding: 10px 12px;
}
.email-notify .btn-success {
    padding: 10px 20px;
}

/*header*/
header .home{
    position: inherit;
    background: #fff;
    padding: 0px;
    border-bottom: 1px solid #dadada;
    box-shadow: 2px 2px 2px #E3E3E3;
}
.land-slide {
    float: left;
    width: 100%;
}
header .home .navbar-collapse.collapse {
    margin: 10px 0px 0px;
}
.product-set {
    padding: 40px 0 10px;
    padding-top: 0px;
}
ul.product-list {
    margin: 20px 0px;
}
.hirecontainer {
    padding: 20px 0 5px;
}

.notificationpage .panel-default>.panel-heading  .panel-title{
    font-size: 15px;
    font-weight: bold;
}
.rightcntne h4 a {
    font-size: 12px;
}
.rightcntne h4 a:after {
    content: "\f040";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 10px;
    margin: 0px 4px;
}
.section-white.land-slide .carousel {
    height: 700px;
    }

.img-cption{
    z-index: 99;
    position: absolute;
    top: 35%;
    left: 0;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 200px;
    margin: 0px auto;
    text-align: center;
    font-size: 40px;
}
.img-cption span {
    color: #f60;
    font-weight: bold;
}
ul.tablesection.ng-scope i.fa.fa-pencil-square-o.actionclick {
    padding-left: 0;
}

.section-white .forms-holer {
   bottom: 250px;
}
.sidenav {
    /*background-color: rgba(21, 138, 162, 0.97);*/
        background-color: rgba(248, 175, 2, 0.97);
}
.sidenav a {
    color: #fff;
}
.gx-menu .divider, .gx-menu .divider {
    /*border-top: 1px solid rgba(3, 166, 197, 0.44);
    border-bottom: 1px solid rgba(0, 72, 86, 0.47);*/
    border-top: 1px solid #da9900;
    border-bottom: 1px solid rgb(248, 177, 8);
}
.gx-menu li span.text {
    /*border-left: 1px solid #0f778c;*/
        border-left: 1px solid #da9900;
}
#viewdetails .logo-container#taskerimage img.img-circle {
    max-height: inherit;
}

.sign-btns li a:hover {
    color: #fc7800;
}
/*popup*/
.modal-content {
    display: inline-block;
    width: 100%;
}
.modal-footer {
    float: left;
    width: 100%;
}
/*popup*/
.carousel-caption{
        z-index: 99;
    position: absolute;
    top: 35%;
    left: 0;
    right: 0px;
    bottom: 0px;
    height: 200px;
    margin: 0px auto;
    text-align: center;
    font-size: 40px;
    color: #f60;
    width: 50%;
    text-shadow: inherit
}

#scrollArea {
  height: 280px;
  overflow: auto;
}

#bottom {
  display: block;
  margin-top: 2000px;
}
.faq-page .panel {
    margin-bottom: 10px;
}
.ui-select-container .selectize-input {
    line-height:30px;
}


.availabilities-day-form input.ng-not-empty + .switch::after {
    left: 87px !important;
    right: auto !important;
    -webkit-transition: background 0.2s ease-in-out 0s;
    transition: background 0.2s ease-in-out 0s;
     overflow: hidden;
}

.availabilities-day-form input.ng-empty + .switch::after {
      left: 3px;
    right: auto ;
        -webkit-transition: background 0.2s ease-in-out 0s;
    transition: background 0.2s ease-in-out 0s;
    overflow: hidden;
}
.availabilities-day-form .switch{
    overflow: hidden;
}
.intl-tel-input .country-list .country {
    text-align: left;
}
.sign-btns li {
    float: inherit;
    display: block;
}
.account-view .fighld, .imgview .fighld {
    border: 0px solid #1DA3BF;0
}
.imgview .form-group {
    margin: 10px 0px;
}

.bnk-acinfo .form-group label {
    float: left;
    width: 30%;
    vertical-align: middle;
    line-height: 35px;
}

p.sel-addr {
    padding: 0px 10px 2px 4px;
    border-radius: 50px;
    background: #a5a5a5;
    color: #fff;
    font-size: 13px;
    display: inline-block;
    left: 0px;
    width: auto;
    right: inherit;
    margin-left: 5px;
}
.sel-addr button, .sel-addr button:hover {
    height: 20px;
    margin-right: 5px;
    width: 20px!important;
}
.sel-addr button i {
    font-size: 13px;
        color: #fff;
    text-shadow: 0px 1px 2px #7b7b7b;
}
p.cur-addr {
    background: #04af4c;
}
.cur-addr button, .cur-addr button:hover {
    background: #007130;
}

.seleted-addr input[type=radio]:checked ~ .check::before, .seleted-addr .check::before {
    display: none;
}
.selectadd {
    min-height: 250px;
}
.sidenav .closebtn {
    height: auto;
}
.current-balance a h4 {
    background: #F95706 url('../images/your-ride-icon1.png') no-repeat;
    padding-top: 10px;
    background-position: 5px center;
    background-size: 25px;
}
.load-fade {
    position: absolute;
    left: 0;
    top: 40%;
    right: 0px;
    bottom: 0px;
    text-align: center;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    display: inline-block;
    z-index: 999999999;
}
.modal-body.rew-dtls li {
    float: left;
    width: 100%;
}

.modal-content.add-addr-pop label {
    text-transform: capitalize;
}

#viewdetails .view-detail-pop>li {
    float: left;
    width: 100%;
}
.msg-container .nme-msg, .msg-container table.table thead tr th.nme-msg {
    text-align: center;
}


td.dtls-info, td.amt-info{
    width: 100%;
    float: left;
}

.notificationpage .faq-page .panel-title>a:first-child {
    color: inherit;
    width:90%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal;
    display: inline-block;
}
.applyto-tasker input[type="text"] {
    font-size: 15px;
    padding: 4px 10px;
}
.account-view .imgview span {
    float: left;
    width: 100%;
    margin: 10px 0px;
    font-size: 18px;
}

.btnholder input {
    margin-right: 15px;
}
.profi-content .tab-pane .hire-liip+.col-md-12 .brdlinr{
    border-top:none;
}

/*hire-stp2 newdesign*/
.stp2-container {
    float: left;
    width: 100%;
}
.stp2-container .container2 {
        max-width: 1150px;
}
.hire-stp2 {
    float: left;
    width: 100%;
    margin: 20px 0px 30px;
}
.fix-to-top {
    position: fixed;
    top: 0;
    float: left;
    margin: 20px 0px;
    width: 380px;
     -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.hstp2-cnt {
    padding: 0px;
    background: white;
    border: 1px solid #dce0e6;
    border-radius: 4px;
    padding: 30px 20px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.hire-stp2 .dateside {
    width: 85%;
}
.hire-stp2 .hirestp2holder .hirestp-radio.availabilities-day-form {
    padding: 0;
    margin: 0px;
    border: none;
}
.hire-stp2 .hirestp2holder h2{
        margin: 0px;
    font-size: 15px;
    font-weight: bold;
}
.choose-tasker {
    background: #e8ebef;
    float: left;
    width: 100%;
    padding: 10px 0px;
    margin-bottom: 10px;
}
.choose-tasker .btn2-tex {
    margin: 0px;
    font-size: 17px;
}
.srch-title span {
    background: #9256a2;
    width: 32px!important;
    border-radius: 50%;
    text-align: center;
    height: 32px;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    font-size: 18px;
    padding: 6px 0px;
    box-shadow: 0px 0px 2px rgb(0, 0, 0);
}
.stp2-container .find-txt {
    width: auto;
    max-width: 80%;
}
.stp2-container .modbtn {
   float: right;
}

.hire-stp2 .tasker_list {
    background: transparent;
    border: none;
}
.hire-stp2 .hire2bottom {
    margin: 0;
}
.hire-stp2 .hire2bottom .tatrnear {
    margin: 0;
}
.hire-stp2 .hire2bottom .tatrnear > li {
    height: auto;
    margin: 0 0px 30px;
    background: white;
    border: 1px solid #dce0e6;
    border-radius: 4px;
    width: 100%;
    padding: 20px;
    -webkit-box-shadow: none;
    box-shadow: none;
      -webkit-transition: all 0.7s ease;
transition: all 0.7s ease;
}
.hire-stp2 .tatrnear > li figure {
    border-radius: 0;
    display: inline-block;
    float: left;
    height: 200px;
    margin: 0;
    overflow: hidden;
    width: 100%;
}
.hire-stp2 .ico-amt {
    float: left;
    width: 30%;
}
.hire-stp2 .tasker-dtl-info {
    float: right;
    width: 68%;
}
.hire-stp2 .top-bx1, .hire-stp2 .top-bx2{
    float: left;
    width: 100%;
}
.hire-stp2 .top-bx1 {
    border-bottom: 1px solid #ddd;
}
.hire-stp2 .tsker-ifo {
    text-align: left;
    padding: 0px;

}
.hire-stp2 .tsker-ifo p {
    font-size: 14px;
    margin: 5px 0px;
}
.hire-stp2 .tsker-rte {
    text-align: right;
}
.hire-stp2 .tsker-ifo .name-tile {
    margin: 0px 0px 10px;
}
.hire-stp2 span.hur-amt {
    top: -15px;
    left: 180px;
    display: none;

}
.hire-stp2 .hire2bottom .tatrnear > li:hover span.hur-amt{
    display: block;
}
.hire-stp2 .tskr-vew {
    float: left;
    width: 100%;
}
.hire-stp2 .hirestep-2 .tskr-vew a{
    font-size: 15px;
    color: #9256a2;
    text-decoration: none;
    font-weight: bold;
}
.hire-stp2 .hirestep-2 .tskr-vew a:hover{
    opacity: 0.9;
}
.hire-stp2 .hirestep-2 .tskr-vew .hirebtn{
    width: 100%;
    margin:10px 0px;
}
.hire-stp2 .top-bx2.tsker-ifo-cnt {
    text-align: left;
    font-size: 14px;
}
.hire-stp2 .top-bx2.tsker-ifo-cnt h4{
    font-weight: bold;
    color: #000;
    font-size: 15px;
}
.hire-stp2 .tsker-rte a.tsk-amt {
    color: #242a30;
    font-weight: bold;
    font-size: 20px;
}
.rew-cnt{
    float: left;
    width: 100%;
}
.media--figure {
    float: left;
    width: 16%;
}
.avatar-new-72 {
    width: 72px;
    height: 72px;
    border-radius: 50%;
}
.media--content {
    float: right;
    width:83%;
    font-style: italic;
}
.mob-options {
    display: none;
}
/*hire-stp2 newdesign*/
.lop-div-task .availblty a {
    outline: none;
}
.gx-menu .divider, .gx-menu .divider{
    border-bottom: none;
}
/*loader*/
.cssload-loader {
	position: relative;
	left: calc(50% - 31px);
	width: 62px;
	height: 62px;
	border-radius: 50%;
		-o-border-radius: 50%;
		-ms-border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
	perspective: 780px;
}

.cssload-inner {
	position: absolute;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	border-radius: 50%;
		-o-border-radius: 50%;
		-ms-border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
}

.cssload-inner.cssload-one {
	left: 0%;
	top: 0%;
	animation: cssload-rotate-one 1.15s linear infinite;
		-o-animation: cssload-rotate-one 1.15s linear infinite;
		-ms-animation: cssload-rotate-one 1.15s linear infinite;
		-webkit-animation: cssload-rotate-one 1.15s linear infinite;
		-moz-animation: cssload-rotate-one 1.15s linear infinite;
	border-bottom: 3px solid #f60;
}

.cssload-inner.cssload-two {
	right: 0%;
	top: 0%;
	animation: cssload-rotate-two 1.15s linear infinite;
		-o-animation: cssload-rotate-two 1.15s linear infinite;
		-ms-animation: cssload-rotate-two 1.15s linear infinite;
		-webkit-animation: cssload-rotate-two 1.15s linear infinite;
		-moz-animation: cssload-rotate-two 1.15s linear infinite;
	border-right: 3px solid #f60;
}

.cssload-inner.cssload-three {
	right: 0%;
	bottom: 0%;
	animation: cssload-rotate-three 1.15s linear infinite;
		-o-animation: cssload-rotate-three 1.15s linear infinite;
		-ms-animation: cssload-rotate-three 1.15s linear infinite;
		-webkit-animation: cssload-rotate-three 1.15s linear infinite;
		-moz-animation: cssload-rotate-three 1.15s linear infinite;
	border-top: 3px solid #f60;
}

@keyframes cssload-rotate-one {
	0% {
		transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
		transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@-o-keyframes cssload-rotate-one {
	0% {
		-o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
		-o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@-ms-keyframes cssload-rotate-one {
	0% {
		-ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
		-ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@-webkit-keyframes cssload-rotate-one {
	0% {
		-webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
		-webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@-moz-keyframes cssload-rotate-one {
	0% {
		-moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
		-moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@keyframes cssload-rotate-two {
	0% {
		transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
		transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@-o-keyframes cssload-rotate-two {
	0% {
		-o-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
		-o-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@-ms-keyframes cssload-rotate-two {
	0% {
		-ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
		-ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@-webkit-keyframes cssload-rotate-two {
	0% {
		-webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
		-webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@-moz-keyframes cssload-rotate-two {
	0% {
		-moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
		-moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@keyframes cssload-rotate-three {
	0% {
		transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
		transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}

@-o-keyframes cssload-rotate-three {
	0% {
		-o-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
		-o-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}

@-ms-keyframes cssload-rotate-three {
	0% {
		-ms-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
		-ms-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}

@-webkit-keyframes cssload-rotate-three {
	0% {
		-webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
		-webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}

@-moz-keyframes cssload-rotate-three {
	0% {
		-moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
		-moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}


/*20-12-2016*/
.home .search-bar .frm-fields input{
    cursor: pointer;
}