<section>
    <div class="applyto-tasker apply3">
        <div class="container2">
            <div class="full-holder">
                <h1 class="top-texts">{{'APPLY_TO_BE_AN_EMPLOYEE' | translate}}</h1>
                <div class="tasker-pannel">
                    <div class="tasker-head">
                        <span class="left-tile">{{'MORE_QUESTIONS_FOR_THE_BEST_JOB_OPPORTUNITY' | translate}}</span>
                        <div class="right-progrs">
                            <span class="completion-text">{{'APPLCATIONS_COMPLETION' | translate}} 80%</span>
                            <div class="progressbar">
                                <span style="width:80%"></span>
                            </div>
                        </div>
                    </div>
                    <div class="tasker-body">
                        <form name="becometaskerForm" submit-validate novalidate>
                            <div class="lop-div-task" style="margin-top:10px;">
                                <label class="sublin-hea">{{'WHAT_IS_YOUR_ETHNICITY' | translate}}?</label>
                                <select required name="ethnicity" ng-model='BTC.data.ethnicity'>
                                    <option value="">{{'SELECT_AN_ETHNICITY' | translate}}</option>
                                    <option value="Caucasian">Caucasian</option>
                                    <option value="African American">African American</option>
                                    <option value="Asian">Asian</option>
                                    <option value="Native American">Native American</option>
                                    <option value="Other">Other</option>
                                </select>
                                <span class="validerr" ng-show="becometaskerForm.ethnicity.$invalid && !becometaskerForm.ethnicity.$pristine">{{'SELECT_AN_ETHNICITY' | translate }}.</span>
                            </div>
                            <div class="lop-div-task" style="margin-top:10px;">
                                <label class="sublin-hea">{{'CHECK_OF_THE_DISABLILITIES_THAT_APPLY_TO_YOU' | translate}}</label>
                                <select required name="disability" ng-model='BTC.data.disability'>
                                    <option value="">{{'SELECT_A_DISABILITY' | translate}}</option>
                                    <option value="Disabled veteran">Disabled veteran</option>
                                    <option value="Wheelchair bound">Wheelchair bound</option>
                                    <option value="Metal illness">Metal illness</option>
                                    <option value="Other">Other</option>
                                </select>
                                <input name="disability_reason" placeholder="Comment" required type="text" ng-model="BTC.data.disability_reason" ng-if="BTC.data.disability == 'Other'" style="margin-top:10px;" />
                                <span class="validerr" ng-show="becometaskerForm.disability.$invalid && !becometaskerForm.disability.$pristine">{{'SELECT_A_DISABILITY' | translate }}.</span>
                                <span class="validerr" ng-show="becometaskerForm.disability_reason.$invalid && !becometaskerForm.disability_reason.$pristine">{{'ENTER_THE_DISABILITY' | translate }}.</span>
                            </div>
                            <div class="lop-div-task onoffswitch availabilities-day-form" style="margin-top:10px;">
                                <label class="sublin-hea">{{'CAN_YOU_LIFT_50_PUNDS_OVER_YOUR_HEAD' | translate}}</label>
                                <input type="checkbox" checked="" id="switch01" class="u-hidden onoffswitch-checkbox" name="lift_fifty" ng-model="BTC.data.lift_fifty" ng-init="BTC.data.lift_fifty = BTC.data.lift_fifty || 0">
                                <label for="switch01" class="onoffswitch-label switch">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                            <div class="lop-div-task onoffswitch availabilities-day-form" style="margin-top:10px;">
                                <label class="sublin-hea">{{'ARE_YOU_LEGALLY_ABLE_TO_WORK_IN_THE_US' | translate}}</label>
                                <input type="checkbox" checked="" id="switch02" class="u-hidden onoffswitch-checkbox" name="work_in_us" ng-model="BTC.data.work_in_us" ng-init="BTC.data.work_in_us = BTC.data.work_in_us || 0">
                                <label for="switch02" class="onoffswitch-label switch">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                            <input class="blue-btn" value="{{'SUBMIT' | translate}}" type="submit" style="margin-top: 30px;" ng-click="BTC.TaskerRegister(becometaskerForm.$valid)"">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
