<section>
    <div class="applyto-tasker apply3">
        <div class="container2">
            <div class="full-holder">
                <h1 class="top-texts">{{'APPLY_TO_BE_AN_EMPLOYEE' | translate}}</h1>
                <div class="tasker-pannel">
                    <div class="tasker-head">
                        <span class="left-tile">{{'ADD_YOUR_AVAILABILITY' | translate}}</span>
                        <div class="right-progrs">
                            <span class="completion-text">{{'APPLCATIONS_COMPLETION' | translate}} 20%</span>
                            <div class="progressbar">
                                <span style="width:20%"></span>
                            </div>
                        </div>
                    </div>
                    <div ng-init="BTC.data.next='step4'" class="tasker-body">
                        <label class="sublin-hea tophln">{{'AVAILABILITY' | translate}}</label>
                        <span class="seldays">{{'SELECT_THE_DAYS_YOU_ARE_AVAILABLE_TO_WORK' | translate}}.</span>
                        <!---looping question-->
                        <div class="lop-div-task">
                            <div class="botom-fuls">
                                <ul class="availblty">
                                    <li class="text-center">
                                        <a href="javascript:void(0)" ng-click="BTC.availabilitiesModelOpen('',0)" class="mb-10">
                                            <label>{{'SUN' | translate}}</label>
                                        </a>
                                        <span ng-class="{'green':BTC.data.working_days[0].not_working != true,'red':BTC.data.working_days[0].not_working == true}">{{BTC.data.working_days[0].not_working == true ? 'NOT SELECTED':'SELECTED' | translate }}</span>
                                    </li>
                                    <li class="text-center">
                                        <a href="javascript:void(0)" ng-click="BTC.availabilitiesModelOpen('',1)" class="mb-10">
                                            <label>{{'MON' | translate}}</label>
                                        </a>
                                        <span ng-class="{'green':BTC.data.working_days[1].not_working != true,'red':BTC.data.working_days[1].not_working == true}">{{BTC.data.working_days[1].not_working == true ? 'NOT SELECTED':'SELECTED' | translate }}</span>
                                    </li>
                                    <li class="text-center">
                                        <a href="javascript:void(0)" ng-click="BTC.availabilitiesModelOpen('',2)" class="mb-10">
                                            <label>{{'TUE' | translate}}</label>
                                        </a>
                                        <span ng-class="{'green':BTC.data.working_days[2].not_working != true,'red':BTC.data.working_days[2].not_working == true}">{{BTC.data.working_days[2].not_working == true ? 'NOT SELECTED':'SELECTED' | translate }}</span>
                                    </li>
                                    <li class="text-center">
                                        <a href="javascript:void(0)" ng-click="BTC.availabilitiesModelOpen('',3)" class="mb-10">
                                            <label>{{'WED' | translate}}</label>
                                        </a>
                                        <span ng-class="{'green':BTC.data.working_days[3].not_working != true,'red':BTC.data.working_days[3].not_working == true}">{{BTC.data.working_days[3].not_working == true ? 'NOT SELECTED':'SELECTED' | translate }}</span>
                                    </li>
                                    <li class="text-center">
                                        <a href="javascript:void(0)" ng-click="BTC.availabilitiesModelOpen('',4)" class="mb-10">
                                            <label>{{'THUR' | translate}}</label>
                                        </a>
                                        <span ng-class="{'green':BTC.data.working_days[4].not_working != true,'red':BTC.data.working_days[4].not_working == true}">{{BTC.data.working_days[4].not_working == true ? 'NOT SELECTED':'SELECTED' | translate }}</span>
                                    </li>
                                    <li class="text-center">
                                        <a href="javascript:void(0)" ng-click="BTC.availabilitiesModelOpen('',5)" class="mb-10">
                                            <label>{{'FRI' | translate}}</label>
                                        </a>
                                        <span ng-class="{'green':BTC.data.working_days[5].not_working != true,'red':BTC.data.working_days[5].not_working == true}">{{BTC.data.working_days[5].not_working == true ? 'NOT SELECTED':'SELECTED' | translate }}</span>
                                    </li>
                                    <li class="text-center">
                                        <a href="javascript:void(0)" ng-click="BTC.availabilitiesModelOpen('',6)" class="mb-10">
                                            <label>{{'SAT' | translate}}</label>
                                        </a>
                                        <span ng-class="{'green':BTC.data.working_days[6].not_working != true,'red':BTC.data.working_days[6].not_working == true}">{{BTC.data.working_days[6].not_working == true ? 'NOT SELECTED':'SELECTED' | translate }}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="lop-div-task">
                            <label class="sublin-hea">{{'WORK_LOCATION' | translate}}</label>
                            <input name="taskerarea" required type="text" places-auto-complete size=80 ng-model="BTC.taskerareaaddress" types="['address']" on-place-changed="BTC.taskerareaChanged()" />
                        </div>
                        <div class="lop-div-task">
                            <label class="sublin-hea">{{'AVAILABILITY_RADIUS'|translate}}</label>
                            <div class="botom-fuls input-group mb-10">
                                <input name="taskerarea" required type="number" ng-model="BTC.data.radius" />
                                <span class="input-group-addon">KM</span>
                            </div>
                        </div>
                        <input class="blue-btn" value="{{'SUBMIT' | translate}}" type="submit" ng-if="BTC.taskerareaaddress && BTC.data.radius" ng-click="BTC.SubmitTaskerlocation(true)">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
