<div class="signup-page">
    <div style="background-image: url('{{rc.bgimage.image}}');" class="sinupimg-container"></div>
    <div class="sign-up-holder login-holder register-holder">
        <div class="logo-container">
            <a ui-sref="landing"><img src="{{rc.getsetting.logo}}" width="260"></a>
        </div>
        <form ng-init="BTC.data.next='step2'" class="profile-settings" name="registerForm" submit-validate novalidate>
            <ul class="sign-btns">
                <li>
                    <label class="subtaintextwhite">{{'FIRST_NAME' | translate}} </label>
                    <input type="text" name="first_name" ng-minlength="3" ng-maxlength="25" ng-pattern="/^[a-zA-Z ]*$/" ng-model="BTC.data.name.first_name" onblur-validation required>
                    <p class="help-block">
                        <span class="validerr" ng-show="registerForm.first_name.$error.required && !registerForm.first_name.$pristine && registerForm.first_name.$untouched">{{'ENTER FIRST NAME' | translate}}.</span>
                        <span class="validerr" ng-show="registerForm.first_name.$error.pattern && !registerForm.first_name.$untouched">{{'FIRST NAME ONLY ALLOW CHARACTERS' | translate}} </span>
                        <span class="validerr" ng-show=" registerForm.first_name.$error.minlength">{{'FIRST NAME IS TOO SHORT' | translate}} .</span>
                        <span class="validerr" ng-show=" registerForm.first_name.$error.maxlength">{{'FIRST NAME IS TOO LONG' | translate}} .</span>
                    </p>
                </li>
                <li>
                    <label class="subtaintextwhite">{{'LAST_NAME' | translate}}</label>
                    <input ng-model="BTC.data.name.last_name" name="last_name" type="text" ng-pattern="/^[a-zA-Z ]*$/" required>
                    <p class="help-block">
                        <span class="validerr" ng-show="registerForm.last_name.$error.required && !registerForm.last_name.$pristine && registerForm.last_name.$untouched">{{'ENTER LAST NAME' | translate}}.</span>
                        <span class="validerr" ng-show="registerForm.last_name.$error.pattern && !registerForm.last_name.$untouched">{{'LAST NAME ONLY ALLOW CHARACTERS' | translate}} </span>
                    </p>
                </li>
                <li>
                    <label class="subtaintextwhite">{{'USER_NAME' | translate}}</label>
                    <input type="text" name="username" ng-pattern="/^[a-z0-9]*$/" ng-minlength="4" ng-maxlength="25" ng-model="BTC.data.username" required>
                    <span class="validerr" ng-show="registerForm.username.$error.required && !registerForm.username.$pristine">{{'ENTER USER NAME' | translate}}.</span>
                    <span class="validerr" ng-show="registerForm.username.$error.minlength">{{'USER NAME MUST BE MINIMUM OF 4 CHARACTERS' | translate}}.</span>
                    <span class="validerr" ng-show="registerForm.username.$error.maxlength">{{'USER NAME MUST BE MAXIMUM OF 25 CHARACTERS' | translate}}.</span>
                    <span class="validerr" ng-show="registerForm.username.$error.pattern">{{'UPPERCASES/SPECIAL SYMBOLS/SPACES ARE NOT ALLOWED' | translate}}.</span>
                </li>
                <li>
                    <label class="subtaintextwhite">{{'EMAIL_ADDRESS' | translate}}</label>
                    <input ng-model="BTC.data.email" ng-pattern="/^([a-z0-9\+_\-]+)(\.[a-z0-9\+_\-]+)*@([a-z0-9\-]+\.)+[a-z]{2,6}$/" ng-blur="BTC.emailchange(BTC.data.email)" name="email" required type="text">
                    <span class="validerr" ng-show="registerForm.email.$error.required && !registerForm.email.$pristine">{{'ENTER EMAIL ID' | translate}}.</span>
                    <span class="validerr" ng-show="!registerForm.email.$error.required && registerForm.email.$error.pattern">{{'INVALID EMAIL ID' | translate}}.</span>
                </li>
                <li>
                    <label class="subtaintextwhite">{{'PHONE_NUMBER' | translate}}</label>
                    <input style="padding-left: 48px;" type="tel" ng-model="BTC.data.phone" name="tel" id="tel" required ng-intl-tel-input>
                    <span class="validerr" style="color:red" ng-show="registerForm.tel.$error.required && !registerForm.tel.$pristine && registerForm.tel.$untouched">{{'ENTER PHONE NUMBER' | translate}}.</span>
                    <span class="validerr" style="color:red" ng-show="registerForm.tel.$invalid && !registerForm.tel.$pristine && !registerForm.tel.$untouched">{{'PHONE NUMBER IS INCORRECT' | translate}}.</span>
                </li>
                <li>
                    <label class="subtaintextwhite">{{'PASSWORD' | translate}}</label>
                    <input ng-model="BTC.data.pwd" name="pwd" ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,12}$/" ng-minlength="6" ng-maxlength="12" on-blur-validation required type="password">
                    <!--<span class="validerr" style="color:red" ng-show="registerForm.pwd.$invalid && !registerForm.pwd.$pristine && registerForm.pwd.$untouched">Password is required.</span>-->
                    <span class="validerr" style="color:red" ng-show="registerForm.pwd.$error.required && !registerForm.pwd.$pristine">{{'ENTER PASSWORD' | translate}}.</span>
                    <span class="validerr" style="color:red" ng-show="registerForm.pwd.$invalid && !registerForm.pwd.$pristine && registerForm.pwd.$error.pattern">{{'PASSWORD MUST CONTAIN ATLEAST ONE UPPERCASE,ONE LOWER CASE,ONE NUMERIC DIGIT' | translate}}.</span>
                    <span class="validerr" style="color:red" ng-show="registerForm.pwd.$error.minlength">{{'PASSWORD MUST BE MINIMUM OF 6 CHARACTERS' | translate}}.</span>
                    <span class="validerr" style="color:red" ng-show="registerForm.pwd.$error.maxlength">{{'PASSWORD MUST BE MAXIMUM OF 12 CHARACTERS' | translate}}.</span>
                </li>
                <li>
                    <label class="subtaintextwhite">{{'CONFIRM_PASSWORD' | translate}}</label>
                    <input name="confirm_pwd" ng-model="BTC.data.confirm_pwd" type="password" required>
                    <span class="validerr" style="color:red" ng-show="registerForm.confirm_pwd.$error.required && !registerForm.confirm_pwd.$pristine">{{'ENTER CONFIRM PASSWORD' | translate}}.</span>
                    <span class="validerr" style="color:red" ng-show=" BTC.data.pwd!='' && BTC.data.confirm_pwd!='' && BTC.data.confirm_pwd != BTC.data.pwd">{{'PASSWORD AND CONFIRM PASSWORD SHOULD BE SAME' | translate}}.</span>
                </li>
                <li>
                    <label class="subtaintextwhite" for="city">{{'CITY' | translate}}</label>
                    <input name="city" required type="text" places-auto-complete size=80 ng-model="BTC.data.address.address.line1" types="['address']" on-place-changed="BTC.placeChanged()" />
                    <span class="validerr" ng-show="registerForm.city.$error.required && !registerForm.city.$pristine">{{'ENTER YOUR CITY' | translate}}.</span>
                </li>
                <li>
                    <span class="validerr" ng-bind="BTC.Error"></span>
                    <button class="grn-btn blu-btn subtainback" ng-click="BTC.SubmitinfoTasker(registerForm.$valid,registerForm);"><span>{{'SUBMIT' | translate}}</span></button>
                    <!--
                        <a ui-sref="registerTasker" class="grn-btn blu-btn"><span>Create Account</span></a>
                    -->
                </li>
                <li>
                    <small class="logtext subtaintextwhite">
                        {{'BY_SIGNING_UP_YOU_AGREE_TO_OUR'| translate}}
                        <a class="subtaintextgrey" href="{{rc.site_url}}/page/termsandconditions">{{'TERMSOFUSE'| translate}}</a>
                        {{'AND'| translate}}
                        <a class="subtaintextgrey"  href="{{rc.site_url}}/page/privacypolicy">{{'PRIVACY_POLICY'| translate}}.</a>
                    </small>
                </li>
            </ul>
        </form>
    </div>
</div>

<script type="text/javascript">
    $(".dropdown-filter-full").click(function() {
        $(".filter-full").slideToggle();
    });
</script>
<style>
    .has-error .form-control,
    .has-error .form-control:focus {
        border-color: #ff7b76;
        box-shadow: none;
    }

    .has-error .control-label,
    .has-error .help-block {
        color: #ff635c;
    }

    .help-block {
        display: block;
        margin-bottom: 10px;
        margin-top: 5px;
    }
</style>
