<section>
    <div class="applyto-tasker apply3">
        <div class="container2">
            <div class="full-holder">
                <h1 class="top-texts">{{'APPLY_TO_BE_AN_EMPLOYEE' | translate}}</h1>
                <div class="tasker-pannel">
                    <div class="tasker-head">
                        <span class="left-tile">{{'MORE_STEPS_FOR_WORK' | translate}}</span>
                    </div>
                    <div class="tasker-body">
                        <form name="imageForm" class="form-horizontal" submit-validate novalidate>
                            <div class="row">
                                <div class="col-md-8">
                                    <label class="sublin-hea tophln">{{'DRIVER_LICENSE' | translate}}</label>
                                    <div class="form-group text-center">
                                        <img src="/app/site/public/images/license_photo.png" width="240" height="160" />
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <p class="font-title">{{'TAKE_PHOTO_OF_DRIVER_LICENSE' | translate}}</p>
                                            <label style="margin-top:20px;">{{'PLEASE_MAKE_SURE_ALL_DETAILS_ARE_CLEAR' | translate}}</label>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <input class="bluebtn savdedit subtainback" ui-jq="filestyle" type="button" ngf-change="driverupload($files, $event, $rejectedFiles);" ngf-select="temp=true" ng-model="BTC.improveData.driver_license" name="image" ngf-pattern="'image/jpg,image/jpeg,image/png,image/gif/*'" ngf-max-size="1MB" ngf-model-invalid="errorFiles" class="filestyle" ui-options="{ buttonText: 'Select file', iconName: 'fa fa-inbox'}" id="image" value="{{'UPLOAD' | translate}}" checkFileSize err-src required>
                                            <span class="help-block">Allowed files: gif, png, jpg. Max file size 1MB</span>
                                            <span ng-show="imageForm.image.$invalid && !imageForm.image.$pristine" class="help-block" style="color:red;">{{'NEED_TO_UPLOAD_DRIVER_LICENSE' | translate}}</span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <img style="width:100%;" ng-if="!BTC.improveData.driver_license==''" ngf-src="BTC.improveData.driver_license" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input class="blue-btn" value="{{'SUBMIT' | translate}}" type="submit" style="margin-top: 30px;" ng-click="BTC.TaskerImprove(imageForm.$valid)"">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
