<div class="bgcontainer post_step_last">
    <div style="background-image: url('{{rc.bgimage.image}}');" class="sinupimg-container"></div>
    <span class="opacot" style="position:fixed;"></span>
    <div class="cont-holder">
        <div class="splcontainer">
            <div class="images-lom">
                <img src="{{rc.getsetting.logo}}" width="260">
            </div>
            <div class="leftside">
                <div class="col-md-7 intro-text">
                    <div class="main">
                        <p class="medium_white_light">{{'THANK_YOU_SIGNUP' | translate}} {{rc.getsetting.site_title}} {{'TEAM_VERIFY_YOUR_CONTACT' | translate}}</p>
                        <span class="page-scroll">
                            <a class="btn slide-btn bg-inverse" href="/">{{'BACK_TO_HOME' | translate}}</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>