<section>
    <div class="applyto-tasker apply6">
        <div class="container2">
            <div class="full-holder">
                <h1 class="top-texts">{{'APPLY_TO_BE_AN_EMPLOYEE' | translate}}</h1>
                <div class="tasker-pannel">
                    <div class="tasker-head">
                        <h1 class="top-tile" style="width:50%;"><i class="fa fa-user"></i><span>{{'YOUR_SKILLS' | translate}}</span><p>{{BTC.data.taskerskills.length}}</p></h1>
                        <div class="right-progrs">
                            <span class="completion-text">{{'APPLCATIONS_COMPLETION' | translate}} 60%</span>
                            <div class="progressbar">
                                <span style="width:60%"></span>
                            </div>
                        </div>
                    </div>
                    <div ng-init="BTC.data.next='step6'" class="tasker-body populr-skills">
                        <div class="catagory-body ">
                            <uib-tabset>
                                <uib-tab ng-repeat="category in BTC.categoryList" heading="{{category.name}}">
                                    <span ng-if="category.category.length == 0" style="text-align: center; margin-left: 240px; color: red; font-size: 22px;" class="no-category"> There is No Subcategory   </span>
                                    <uib-tab ng-click="BTC.selectedCategory($parent.$index,$index)" index="$index + 1" ng-repeat="subcategory in category.category" heading="{{subcategory.name}}">
                                        <ng-include src="'app/site/modules/tasker/views/selectedcategory.html'"></ng-include>
                                    </uib-tab>
                                </uib-tab>
                            </uib-tabset>
                        </div>
                        <input class="blue-btn" value="{{'SUBMIT' | translate}}" type="submit" ng-click="BTC.SubmitSkillTasker(BTC.data.taskerskills.length)">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .tasker-body ul.nav {
        width: 25%;
        float: left;
    }
    
    .tasker-body li {
        float: left;
        width: 100%;
    }
    
    .ng-isolate-scope .nav-tabs > li {
        padding: 0px 0;
    }
    
    .tasker-body li a {
        float: left;
        width: 100%;
        color: #8e8e8e;
        font-size: 18px;
        padding: 7px 10px;
        border-bottom: 1px solid #ccc;
        font-family: proximanovaregular;
    }
    
    .nav-tabs li:hover {
        background: #9256a2;
        color: #dcdcdc;
        text-decoration: none;
    }
    
    .nav-tabs li.active {
        /*  font-family: proximanovaregular;*/
        font-size: 17px;
        padding: 9px;
        background: #9256a2;
        color: #ffffff;
        border: none;
        border-radius: 0;
        float: left;
        width: 100%;
    }
</style>