<section>
    <div class="applyto-tasker apply6">
        <div class="container2">
            <div class="full-holder">
                <h1 class="top-texts">{{'APPLY_TO_BE_AN_EMPLOYEE' | translate}}</h1>
                <div class="tasker-pannel">
                    <div class="tasker-head">
                        <span class="left-tile">{{'UPLOAD_YOUR_PHOTO' | translate}}</span>
                        <div class="right-progrs">
                            <span class="completion-text">{{'APPLCATIONS_COMPLETION' | translate}} 40%</span>
                            <div class="progressbar">
                                <span style="width:40%"></span>
                            </div>
                        </div>
                    </div>
                    <div class="tasker-body">
                        <div class="left-pic">
                            <img ng-if="BTC.data.avatar==''" ng-src="uploads/default/user.jpg">
                            <img ng-if="!BTC.data.avatar==''" class="img-square" ngf-src="BTC.data.avatar">
                        </div>
                        <div class="righ-side-pic">
                            <div class="btn-contee">
                                <div class="filetype-holdr">
                                    <form name="imageForm">
                                        <div ng-init="BTC.data.next='step5'" class="form-group">
                                            <input class="bluebtn savdedit subtainback" ui-jq="filestyle" type="button" ngf-change="fileupload($files, $event, $rejectedFiles);" ngf-select="temp=true" ng-model="BTC.data.avatar" name="image" ngf-pattern="'image/jpg,image/jpeg,image/png,image/gif/*'" ngf-max-size="1MB" ngf-model-invalid="errorFiles" class="filestyle" ui-options="{ buttonText: 'Select file', iconName: 'fa fa-inbox'}" id="image" value="Upload" checkFileSize err-src>
                                            <span class="help-block">Allowed files: gif, png, jpg. Max file size 1MB</span>
                                            <span ng-show="imageForm.image.$invalid && !imageForm.image.$pristine" class="help-block" style="color:red;">Image File is required.</span>
                                        </div>
                                    </form>
                                </div>
                                <input class="blue-btn subtainback" value="{{'SUBMIT' | translate}}" type="submit" style="margin-top: 30px;" ng-click="BTC.SubmitTasker(true)">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
