<div class="bgcontainer post_step_last">
    <div style="background-image: url('{{rc.bgimage.image}}');" class="sinupimg-container"></div>
    <span class="opacot" style="position:fixed;"></span>
    <div class="cont-holder">
        <div class="splcontainer">
            <div class="images-lom">
                <img src="{{rc.getsetting.logo}}" width="260">
            </div>
            <div class="leftside">
                <div class="col-md-7 intro-text">
                    <div class="main">
                        <p class="medium_white_light">{{'CONGRATULATIONS' | translate}} {{'YOU_HAVE_COMPLETED_THE_SIGNUP_PROCESS' | translate}}.</p>
                        <p class="medium_white_light">{{'NOW_LETS_GET_YOU_READY_FOR_WORK' | translate}}.</p>
                        <span class="page-scroll">
                            <a class="btn slide-btn bg-inverse" ui-sref="becometasker.step7">{{'NEXT' | translate}}</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>