<div class="page page-tables-bootstrap">
   <!-- page header -->
   <div class="pageheader">
       <h2>{{ 'Menu.POSTFOOTERMANAGEMENT' | translate }} </h2>
       <div class="page-bar">
          <ul class="page-breadcrumb">
             <li>
                <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
             </li>
             <li>
                <a href="javascript:;">{{ 'Menu.POSTFOOTERMANAGEMENT' | translate }}</a>
             </li>
             <li>
                <a ui-sref="app.sliders.add" href="#/app/add">{{ EPFC.breadcrumb | translate }}</a>
             </li>
          </ul>
       </div>
    </div>
   <!-- /page header -->
   <!-- page content -->
   <div class="pagecontent">
      <!-- row -->
      <div class="row">
         <!-- col -->
         <div class="col-md-12">
            <!-- tile -->
            <section class="tile" >
               <!-- tile header -->
               <div class="tile-header dvd dvd-btm">
                  <h1 class="custom-font"><strong>Postfooter</strong> Edit</h1>
               </div>
               <!-- /tile header -->
               <div class="tile-body" style="padding-bottom: 80px;">
                  <form class="profile-settings" submit-validate enctype="multipart/form-data" name="postfooterForm"  novalidate>
                     <div class="form-group" ng-class="{ 'has-error' : postfooterForm.postfootername.$invalid && !postfooterForm.postfootername.$pristine, 'has-success' : postfooterForm.postfootername.$valid && !postfooterForm.postfootername.$pristine}">
                        <label for="postfootername">Postfooter Name</label>
                        <input type="text" name="postfootername" class="form-control"
                           ng-model="EPFC.editpostfooterData.title" id="postfootername" on-blur-validation required>
                        <p class="help-block">
                           <span ng-show="postfooterForm.postfootername.$invalid && !postfooterForm.postfootername.$pristine">Postfooter Name is required.</span>
                        </p>
                     </div>


                    <div class="form-group" ng-class="{ 'has-error' : postfooterForm.postfooterdescription.$invalid && !postfooterForm.postfooterdescription.$pristine, 'has-success' : postfooterForm.postfooterdescription.$valid && !postfooterForm.postfooterdescription.$pristine}">
                        <label for="postfooterdescription">Description</label>
                        <input type="text" name="postfooterdescription" class="form-control"
                           ng-model="EPFC.editpostfooterData.description" id="postfooterdescription" on-blur-validation required>
                        <p class="help-block">
                           <span ng-show="postfooterForm.postfooterdescription.$invalid && !postfooterForm.postfooterdescription.$pristine">Description is required.</span>
                        </p>
                     </div>
                      <div class="form-group">
                        <label class="control-label">Postfooter Image</label>
                        <input ui-jq="filestyle" type="file" ng-bind="EPFC.editpostfooterData.image" ngf-select="temp=true" ng-model="EPFC.editpostfooterData.image" name="image" accept="image/*"
                               ngf-max-size="1MB" ngf-model-invalid="errorFiles" class="filestyle" ui-options="{ buttonText: 'Select file', iconName: 'fa fa-inbox'}" id="image">
                        <span class="help-block">Allowed files: gif, png, jpg. Max file size 1Mb</span>
            						<img ng-if="temp" height="150" ngf-src="EPFC.editpostfooterData.image" >
            						<img ng-if="!temp&&!EPFC.editpostfooterData.image==''" height="150" ngf-src="EPFC.editpostfooterData.image" >
						            </div>

                    <div class="form-group" ng-class="{ 'has-error' : postfooterForm.publish.$invalid && !postfooterForm.publish.$pristine, 'has-success' : postfooterForm.publish.$valid && !postfooterForm.publish.$pristine}">
                       <label for="publish">Status</label>
                       <select id="publish" name="publish" ng-model="EPFC.editpostfooterData.status" convert-to-number class="form-control mb-10" on-blur-validation required>
                          <option value='1'>Publish</option>
                          <option value='2'>Unpublish</option>
                          <p class="help-block">
                          <span ng-show="postfooterForm.publish.$invalid && !postfooterForm.publish.$pristine">status is required.</span>
                       </p>
                       </select>
                    </div>

                     <div class="form-group tcol">
                        <button class="btn btn-success btn-ef btn-ef-5 btn-ef-5a" ng-click="EPFC.submit(postfooterForm.$valid);">
                        <i class="fa fa-upload"></i> <span>Submit</span>
                        </button>
                     </div>
                  </form>
               </div>
            </section>
            <!-- /tile -->
         </div>
         <!-- /col -->
      </div>
      <!-- /row -->
   </div>
   <!-- /page content -->
</div>
