<div class="page page-tables-bootstrap">

    <!-- page header -->
    <div class="pageheader">

            <h2>{{ 'Menu.POSTFOOTERMANAGEMENT' | translate }} </h2>

            <div class="page-bar">

                <ul class="page-breadcrumb">
                    <li>
                        <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
                    </li>
                    <li>
                        <a href="javascript:;">{{ 'Menu.POSTFOOTERMANAGEMENT' | translate }}</a>
                    </li>
                    <li>
                    <a ui-sref="app.giftCards.giftCardsList" href="#/app/giftCards/gift-cards-list">{{ 'SubMenu.POSTFOOTER_LIST' | translate }}</a>
                    </li>
                </ul>

            </div>

        </div>
    <!-- /page header -->

    <!-- page content -->
    <div class="pagecontent">

        <!-- row -->
        <div class="row">
            <!-- col -->
            <div class="col-md-12">


                <!-- tile -->
                <section class="tile" fullscreen="isFullscreen07">

                    <!-- tile header -->
                    <div class="tile-header dvd dvd-btm">
                        <h1 class="custom-font"><strong>Post Footer</strong> List</h1>
                    </div>
                        <custom-table data="VPFC.table" delete-call="VPFC.deletedData" ></custom-table>
                </section>
                <!-- /tile -->

            </div>
            <!-- /col -->
        </div>
        <!-- /row -->

    </div>
    <!-- /page content -->




</div>
